@charset "UTF-8";

input.es-input { 
/* -webkit-appearance: button; */
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
	appearance: none;
	-webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
	-webkit-padding-end: 20px;
	-webkit-padding-start: 2px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	background: url(img/icon_select.gif) no-repeat right center;
	background-image: url(img/icon_select.gif),
		-webkit-linear-gradient(top, rgba(213, 213, 213, 0.03) 0%, #f3f3f3 40%, rgba(213, 213, 213, 0.03) 100%);
	background-image: url(img/icon_select.gif),
		-ms-linear-gradient(top, rgba(213, 213, 213, 0.03) 0%, #f3f3f3 40%, rgba(213, 213, 213, 0.03) 100%);
	background-image: url(img/icon_select.gif),
		-moz-linear-gradient(top, rgba(213, 213, 213, 0.03) 0%, #f3f3f3 40%, rgba(213, 213, 213, 0.03) 100%);
	background-position: 100% center;
	background-repeat: no-repeat;
	border: 1px solid #d5d5d5;
	overflow: hidden;
	padding: 5px 30px 5px 10px;
	text-overflow: ellipsis;
	white-space: nowrap; 
	position: relative;
	margin-left: 0% !important;
    width: 100% !important;
	
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d5d5d5',
		endColorstr='#d5d5d5', GradientType=0);
	 }
input.es-input.inputCinza {
	background-color: #f3f3f3;
}
input.es-input.inputFonte {
	font-size: 14px;
	font-weight: bold;
	color: #303030;
	width: 100%;
}
input.es-input.inputCinza option {
    padding-left: 10px;
	height: 24px;
	padding-top: 3px;
	-webkit-padding-before: 3px;
	-webkit-height: 24px;
	/*-webkit-padding-start: 10px*/
}

input.es-input.open {
	-webkit-border-bottom-left-radius: 0; -moz-border-radius-bottomleft: 0; border-bottom-left-radius: 0;
	-webkit-border-bottom-right-radius: 0; -moz-border-radius-bottomright: 0; border-bottom-right-radius: 0;
	overflow: auto; }

.es-list { 
	position: absolute; 
	padding: 0; 
	margin: 0; 
	border: 1px 
	solid #d1d1d1; 
	display: none; 
	z-index: 1000; 
	background: #fff; 
	max-height: 160px; 
	overflow-y: auto;
	-moz-box-shadow: 0 2px 3px #ccc; 
	-webkit-box-shadow: 0 2px 3px #ccc; 
	box-shadow: 0 2px 3px #ccc; }
.es-list li { 
	color: #303030;
	font-weight: bold;
	font-family: Arial;
	font-size: 14px;
	display: block; padding: 5px 10px; margin: 0; 
	overflow-y:auto;
	}
.es-list li.selected { background: #f3f3f3; }
.es-list li[disabled] { opacity: .5; }

.es-list ul{
	overflow: auto;
}

@media screen and (max-width: 600px)  {
	.es-list{
		font-size: 9pt;
	} 
}