* {
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    list-style: none;
  }
  
  img {
    width: 100%;
  
  }
  
  html {
    scroll-behavior: smooth;
  }

  ul {
    list-style: none;
  }

  span, 
  a,
  p {
    font-family: 'Futura LT';
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.25px;
    text-align: left;

  }

  h1,
  h2,
  h3{
    font-family: "futura bold";
  }
  
  h1,
  h2,
  h3,
  h4,
  p,
  a {
    font-size: 1rem;
    
  }
  a{
    text-decoration: none;
    color: unset;
  }
  button{
    cursor: pointer;
  }
  /*  */