.modal_topo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -10px;
}

.modal_topo h2 {
    color: #005CA9;
    font-family: 'faceboldLT';
}

.modal_topo img {
    height: 20px;
    width: 20px;
}

/* Caixa de pesquisa de estados */

.jackiechan {
    display: none;
    position: fixed;
    background-color: rgb(31, 29, 26, 0.5);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.dialog {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center !important;
    align-items: center !important; 
}

.dialog dialog {
    padding: 2x;
    border-radius: 12px;
}


.pesquisa {
    background-color: white;
    border-radius: 5px;
}

.input_pesquisa {
    display: flex;
    align-items: center;
    gap: 6px;
    height: 5vh;
    padding: 3px;
    margin-bottom: 4px;
    border-radius: 5px;
    background: white;
    box-shadow: 0px 0px 1px 1px #005CA9;
}

.input_pesquisa button {
    width: 40px;
    height: 40px;
    background-color: white;
}

.input_pesquisa img {
    height: 10px;
    cursor: pointer;
}

.input_pesquisa input {
    width: 100%;
    padding: 0 0 0 2px;
}

table .lista tr {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-bottom: 1px solid var(--cinza-mdio, #C4C4C4);;
    width: 100%;
    height: 7vh;
}

.lista_estados{
    height: 130px;
    width: 100%;
    overflow: hidden;
    overflow-y: scroll;
    animation: aparecer_planilha 500ms ease-out;
}

.lista_estados td {
    color: var(--texto-grafite-escuro, #3A4859);
    font-size: 16px;
    font-style: normal;
    font-weight: bold;
    line-height: 18px; /* 112.5% */
    letter-spacing: 0.25px;
}

.lista_municipios{
    height: 130px;
    width: 100%;
    overflow: hidden;
    overflow-y: scroll;
    animation: aparecer_planilha 500ms ease-out;
}

.lista_municipios td {
    color: var(--texto-grafite-escuro, #3A4859);
    font-size: 16px;
    font-style: normal;
    font-weight: bold;
    line-height: 18px; /* 112.5% */
    letter-spacing: 0.25px;
}
