.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 10vh;
}

ul {
    display: flex;
    width: 100%;
    justify-content: space-around;
    list-style-type: none;
}

li {
    color: #e2e2e2;
    font-weight: normal;
}

.aditional {
    color: #F2F2F2;
    font-weight: bold;
}

.saldo span {
    color: #e2e2e2;
    font-weight: normal;
}

.exit {
  display: flex;
  align-items: center;
  gap: 10px;
}

.exit span {
    color: #e2e2e2;
    font-weight: normal;
}

/* carrossel */

.carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
}
.carousel-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  width: 100%;

}

.seta img {
  width: 20px;
  height: 30px;
}
