.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 10vh;
}

ul {
  display: flex;
  width: 100%;
  justify-content: space-around;
  list-style-type: none;
}

li {
  color: #e2e2e2;
  font-weight: normal;
}

.aditional {
  color: #F2F2F2;
  font-weight: bold;
}

.saldo span {
  color: #e2e2e2;
  font-weight: normal;
}

.exit {
  display: flex;
  align-items: center;
  gap: 10px;
}

.exit span {
  color: #e2e2e2;
  font-weight: normal;
}

/* carrossel */

.carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.carousel-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  width: 100%;

}

.seta img {
  width: 20px;
  height: 30px;
}


/* banner */

.title {
  display: flex;
  justify-content: space-between;
  margin-left: 40px;
  margin-right: 80px;
}

.form {
  display: flex;
  flex-direction: column;
  text-align: justify;
  justify-content: space-around;
  margin-top: 10px;
  margin-left: 40px;
  gap: 10px;
  width: 60%;
}

.title b {
  font-family: 'Futura LT';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
}

.text-center {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.text-center span {
  font-family: 'Futura LT';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 23px;
}

.text-center p {
  font-family: 'Futura LT';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 23px;
}

.text-center img {
  height: 30px;
  width: 30px;
}

.linkedin {
  display: flex;
  align-items: center;

}

.text-final {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 10px;
}

.text-final p {
  font-size: 12px;
}

.baixar {
  display: flex;
  gap: 50px;
  align-items: center;
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  gap: 10px;
  width: 13vw;
  height: 6vh;
  top: 553px;
  border: 1px solid #00A2CD;
}

.box img {
  margin-top: 5px;
}

.box a {
  color: #000000;
  font-size: 12px;
}


/* aside */


.side {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 10px;
  margin-top: 10px;
  gap: 10px;
}

.caixa {
  margin-right: 30px;
}

.caixa-divisora {
  display: flex;
  justify-content: space-between;
  width: 90vw;
}

.form-box {
  display: flex;
  align-items: center;
  gap: 10px;
  
}

.boxes {
  background-color: #2A6FA8;
  box-sizing: border-box;
  width: 30px;
  height: 30px;
}

.boxgrey {
  background-color: #CCCCCC;
  box-sizing: border-box;
  width: 30px;
  height: 30px;
}


/* hover botao */

.btn-acess {
  transition: all ease-in-out 0.6s;
  margin-right: 70px;
}

.btn-acess:hover {
  transform: scale(1.1);
  box-shadow: 0 0 100px #b9b5b5;
  cursor: pointer;
}

/* FOOTER */

.caixa-footer {
  background-color: #ebebeb;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 200px;
  height: 100px;
  width: 91vw;
  margin-top: 30px;
  margin-left: 35px;
}

.form-text {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-left: -50px;
}
.form-text span {
  text-align: justify;
  font-size: 15px;
}

.form-text p {
  color: #62767A;
  font-size: 13px;
  margin-top: -5px;
}

.logo-anbima {
  margin-left: -100px;
}

.risco {
  width: 70vw;
  left: 15px;
  top: 18px;
  border: 1px solid #2E484D;
}
