@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1em;
    font-family: 'Poppins', sans-serif;
    outline: none;
    border: none;
    text-decoration: none;
    list-style: none;
  }
  
  img {
    width: 100%;
  
  }
  
  html {
    scroll-behavior: smooth;
  }

  ul {
    list-style: none;
  }
  
  h1,
  h2,
  h3,
  h4,
  p,
  a {
    font-size: 1rem;
  }
  a{
    text-decoration: none;
    color: unset;
  }
  button{
    cursor: pointer;
  }
  /*  */