.cm-card {
  background: white;
  padding: 12px;
  border-radius: 4px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.16);
  transition: all 200ms;
}

.cm-card > *:not(:last-child) {
  margin-bottom: 12px;
}

.cm-card-large {
  background: white;
  padding: 24px 16px;
  border-radius: 4px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.16);
}

.cm-card-large > *:not(:last-child) {
  display: block;
  margin-bottom: 24px;
}

.cm-card-group > *:not(:last-child) {
  margin-bottom: 24px;
}

.cm-card-selectable {
  display: flex;
  background: white;
  padding: 12px;
  border-radius: 4px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.16);
  transition: all 200ms;
}

.cm-card-selectable[active] {
  box-shadow: none;
}

.cm-card-selectable[active] .cm-card-selectable-icon:before {
  content: "\f058";
  font-weight: bold;
}

.cm-card-selectable-icon {
  color: #f39200;
  font-size: 1.2rem;
}

.cm-card-selectable-content {
  margin-left: 16px;
}

.cm-card-selectable-content > *:not(:last-child) {
  margin-bottom: 16px;
}

.cm-card-selectable-title {
  margin: 0;
  margin-bottom: 4px;
  font-size: 0.9rem;
  font-family: futura-bold;
  color: #005ca9;
}
