.cm-text-color-primary {
  color: #005ca9 !important;
}

.cm-text-color-secondary {
  color: #f39200 !important;
}

.cm-text-color-light {
  color: #ffffff !important;
}

.cm-text-color-a {
  color: #a5aab5 !important;
}

.cm-background-color-primary {
  background: #005ca9 !important;
}
