.cm-float-label-group > *:not(:first-child) {
  margin-top: 32px !important;
}

.cm-float-label {
  display: block !important;
  position: relative !important;
  font-size: 0.9rem !important;
}

.cm-float-label input {
  margin: 0 !important;
  line-height: 1 !important;
  padding: 4px 0 !important;
  border: 0 !important;
  font-size: 1rem !important;
  border-bottom: 1px solid #f39200 !important;
  background: transparent !important;
  border-radius: 0 !important;
  transition: none !important;
  color: #48586c !important;
  font-family: futura-book !important;
  font-weight: normal !important;
}

.cm-float-label input::placeholder {
  color: #a5aab5 !important;
  font-family: futura-book !important;
  font-size: 1rem !important;
  font-weight: normal !important;
}

.cm-float-label input:focus,
.cm-float-label input:hover {
  padding-bottom: 3px !important;
  border-bottom-width: 2px !important;
  border-color: #f39200 !important;
}

.cm-float-label input:not([type="checkbox"]):not([type="radio"]) {
  outline: none !important;
  width: 100% !important;
}

.cm-float-label label {
  margin: 0 !important;
  display: block !important;
  position: absolute !important;
  bottom: 32px !important;
  left: 0 !important;
  transition: bottom 200ms !important;
  transition-delay: 100ms !important;
  pointer-events: none !important;
}

.cm-float-label-error {
  position: absolute;
  top: calc(100% + 4px);
  left: 0;
  color: #f39200;
}

.cm-float-label.error label {
  color: #f39200;
}