.cm-title,
.cm-subtitle {
  margin: 0;
  line-height: 1.6;
}

.cm-title {
  font-size: 1.15rem;
  font-family: futura-bold;
}

.cm-subtitle {
  font-family: futura-bold;
  font-size: 0.9rem;
}

.cm-title-description {
  margin: 8px 0 0 0;
}
