@import "../../fonts/futura-font-face.css";
@import "../../fontawesome/css/all.min.css";
@import "./_cm-body.css";
@import "./_cm-button.css";
@import "./_cm-card.css";
@import "./_cm-color.css";
@import "./_cm-data-list.css";
@import "./_cm-float-label.css";
@import "./_cm-font.css";
@import "./_cm-header.css";
@import "./_cm-link.css";
@import "./_cm-list.css";
@import "./_cm-radio-checkbox.css";
@import "./_cm-title.css";
@import "./_cm-utilities.css";

body {
  font-family: futura-book;
  color: #48586c;
  line-height: 1.4;
}

p {
  margin: 0;
}

b {
  font-family: futura-bold;
}

.cm-fake-loading {
  display: none;
}
