/**
* @project Caixa Econômica Federal | Internet Banking
* @project URI http://www.caixa.gov.br/
* @version 2013 
* @author CPM Braxis Capgemini
* @author URI http://www.cpmbraxis.com
* @copyright 2013 CPM Braxis Capgemini
*/  
 

/* -------------------------------------------------- 
    Table of Contents
-----------------------------------------------------
:: Variables
:: Global Standards
:: Links
:: Header
:: Footer 
:: Grid
:: Media Queries
:: Button

/*	--------------------------------------------------
	:: Variables
	-------------------------------------------------- */
	$widthFull: 100%; 
	$marginCenter: 0 auto;
	$mainMaxWidth:1000px; 
	$mainMinWidth:500px;
	$bgHeaderFooter: url(../img/bgHeaderFooter.jpg); 
	$bgHeaderFooterInternal: url(../img/bgHeaderFooterInternal.jpg);
	$bgHeaderFooterInternalSearch: url(../img/bgHeaderFooterInternalSearch.jpg);
	$iconGalery: url(../img/iconGalery.png);
	$backgroundStandard: url(../img/imgLogin.png);
	$bordersTables: url(../img/bordersTable.png);
	$textShadow: 0 2px 0 #000000;
	$colorBlue: #003576;  
	$colorGrayDark: #4F4F4F;
	$colorBlueLight:#0059be;
	$colorWhite: #FFFFFF;
	$size1: 11px;
	$size2: 12px; 
	$size3: 15px; 
	$size4: 20px;
	$size5: 14px;
	$fontUppercase:uppercase;
	$btnOverflow:visible;
	$btnHeight:36px;
	$btnFloatLeft:left;
	$btnMarginLeft:15px;
	$btnPadding:0 0 0 10px;
	$btnFontBold:bold;
	$btnTxtShadow:none;
	$btnPosition:relative;
	
		@mixin button {
		position:$btnPosition; 
		float:$btnFloatLeft; 
		height:$btnHeight;
		margin-left:$btnMarginLeft; 
		padding:$btnPadding; 
		font-size:$size1;
		font-weight:$btnFontBold; 
		color:$colorWhite; 
		text-transform:$fontUppercase; 
		text-shadow:$btnTxtShadow;
		overflow:$btnOverflow;
	}
		
	@mixin mainPosition {
		width: $widthFull; 
		margin: $marginCenter;
	}
	@mixin fontFace06em {
		font:0.625em Arial, Helvetica, sans-serif; 
	}
	@mixin fontFaceB06em {
		font:bold 0.625em Arial, Helvetica, sans-serif; 
	}
	@mixin fontFaceB0688em {
		font:bold 0.688em Arial, Helvetica, sans-serif; 
	}
	
	@mixin fontFace0688em {
		font:0.688em Arial, Helvetica, sans-serif; 
	}
	@mixin fontFace07em {
		font:0.7em Arial, Helvetica, sans-serif; 
	}
	
	@mixin fontFaceB07em {
		font:bold 0.7em Arial, Helvetica, sans-serif; 
	}
	@mixin fontFace750em {
		font:0.750em Arial, Helvetica, sans-serif; 
	}
	@mixin fontFaceB1000em {
		font:bold 1.000em Arial, Helvetica, sans-serif;
	}
	@mixin fontFace875em {
		font:0.875em Arial, Helvetica, sans-serif; 
	}
	@mixin fontFaceB875em {
		font:bold 0.875em Arial, Helvetica, sans-serif; 
	}
	@mixin fontFaceB124em {
		font:bold 1.24em Arial, Helvetica, sans-serif; 
	}
	
	@mixin actionLinkBlue {
		font:#003d81 bold 0.750em Arial, Helvetica, sans-serif ; 
	}
	
	
	
/*  --------------------------------------------------
	:: Global standards
	--------------------------------------------------*/
	
	html body.home	{
		position: relative;
		color: #303030;
		background: $bgHeaderFooter repeat-x #f1f1f1  0 -377px;
	}
	
	html body.internal	{
		position: relative;
		color: #303030;
		background: $bgHeaderFooterInternal repeat-x #ffffff 0 -378px;
	}
	
	html body.internalSearch {
		position: relative;
		color: #303030;
		background: $bgHeaderFooterInternalSearch repeat-x #ffffff 0 -377px;
	} 
	
	html body.popup
	{position:relative; font:0.625em Arial, Helvetica, sans-serif; color:#303030;}
	
/*	--------------------------------------------------
	:: Links
	-------------------------------------------------- */
	
	a { 
		color:#003576; 
		text-decoration:none; 
		line-height:inherit; 
		
		&:hover { 
			color:#0059be; 
			text-decoration:underline; 
			outline:none;
		}  
	}

	

/*	--------------------------------------------------
	:: Header
	-------------------------------------------------- */
	.home header{
		height: 200px;
	}
	header	{
		margin: $marginCenter;
		height: 230px;	
				
				.brand a {
					float: left;
					margin: 25px 0px 0px 0px;
					width:144px; 
					height:49px; 
					text-indent:-9999px; 
					background: $backgroundStandard no-repeat 0 -668px;
				}
				
				span.logout {		
					@include fontFaceB06em;			
					float: right;
					height: 27px;
					width: 33px;
					margin: 10px 0 0 0;
					padding: 6px 0 0 22px;
					color: #fff;
					background: url(../img/iconLogout.png) no-repeat;
					cursor: pointer;
										
					& a { 
						color:#ffffff; 
						text-decoration:none; 
						line-height:inherit; 
		
						&:hover { 
							color:#ffffff; 
							text-decoration:underline; 
							outline:none;
						}  
					}
				}
			}
				
			.opacity{
				position:absolute;
				 width:3000px; 
				 margin:0 0 0 -500px;
				 height:100%; 
				 display:none;  
				 background: url(../img/opacity.png) repeat;
			}
			
/* Fonts and Titles------- */	

	h2 {
		@include fontFaceB124em;
		float: left;
		color: #0059be;
	}		
	
	.normalText {
		@include fontFace875em;
		color: #303030;
		line-height: 1.5em;
	}

/* Access Bar ---------- */
	
	.accessBar	{
		@include fontFace06em;
		display: inline;
		float: left;
		width: $widthFull;
		height: 25px;		
	
		 li{
			color: #fff;				
			display: inline;
			margin: 0 15px 0 0;
			padding: 5px 0 0 0;
			float: left;
			
					a {
					color: #fff;				
					}
				
					&:hover { 
					color:#fff; 
					text-decoration:underline; 
					}  
				
			}
		}
		
		
/* Btns Pessoa Juridica / Gov ---------- */	

		div .accountPjGov {
					float:left;
					margin:12px 0px 0px 158px; 
					width: 208px;
					height: 34px;
		}
		span.pj {
					float:right;
					width: 96px;
					height: 34px;
					margin: 0;
					text-indent: -9999px;
					cursor: pointer;
					background: $iconGalery no-repeat -845px 1px;
				}
		span.gov {
					float:right;
					width: 104px;
					height: 34px;
					margin: 0 0 0 8px;
					text-indent: -9999px;
					cursor: pointer;
					background: $iconGalery no-repeat -942px 1px;
				}					
		
		
/* User ---------- */		
		.user	{
			@include fontFaceB06em;
			margin: 15px 0px 0px 45px;
			float: left;			
			text-shadow: $textShadow;
			color: #fff;
			height: 27px;
			
			 dt {
			 font-size:140%;
			 }
		}
/* Account ---------- */		
		.account {
			@include fontFaceB06em;
			float: left;
			width: 600px;
			height: 50px;
			margin: 8px 0 0 40px; 
			background: $bgHeaderFooter 0px -100px repeat-x;
			text-shadow: $textShadow;
			color: #fff;
			
				dl {
					float: left;
					padding: 10px 3px 10px 3px;
					margin: 2px 0px 0px 0px;		
					}
								
				dd{
					color:#afdeff;
					}
			
				.bgAccountLeft {
					background: $bgHeaderFooter 0 0 ;
					float:left;
					width: 10px;
					height:50px;
				}	
				.bgAccountRight {
					background: $bgHeaderFooter 0px -50px;
					float:right;
					width: 10px;
					height:50px;
				}
				.accountStrip {
					border-left: 1px solid #002353;
					height: 25px;
				
					& a {
					color:#ffffff;
					}
				}	
				.hideBalance {			
					padding: 2px 20px 2px 0;
					color: #fff;
					background: url(../img/hideIcon.png) no-repeat top right;		
				}		

		}
		
/*	---- Position Combo Box------ */
.posComboBox {
	float: left; 
	width: 50%;
}

/*	----Position Refresh Balance------ */

.posRefreshBalance {
	margin: 20px 0 0 0;
	* margin: 12px 0 0 0;
	width: 40%;
	* clear:both;

	
	button {
		float:right;
	}
}

#totalBalance {
	display: none;
}	

.totalBalance {
	float: left; 
	width: 100%; 
	text-align: right; 
	margin: 15px 0 0 0;
}

/*  --------------------------------------------------
	:: Container
	--------------------------------------------------*/
	
	.main {
		@include mainPosition; 
		max-width:$mainMaxWidth;
		min-width:$mainMinWidth;		
		}
	.home .content{
		margin: 50px 0 0 0;
		}
	.content {
		display: table;
		margin: 0 auto;
		margin: 5px 0 0 0;
		}
	.container {
		display: inline;
		float: left;
		margin: 0 0 0 5px;
		}
	.right {
		float:right;
		}
	
	.left {
		float:left;
		}
	
/*  --------------------------------------------------
	:: Internal
	--------------------------------------------------*/	
	.buttomGroup{
		margin:20px 0 0 0;
	}
	.buttomGroupTwo{
		margin:20px 0 20px 0;
		clear: both;
	}
	.containerTitle{
		margin: 32px 0 32px 0;
		float:left;
	}
	.containerComboAccount{
		float:left;
		display:inline;
		clear: both;
	}
	.containerInfo{
		display: block;
		float: right; 
		padding: 5px 0 5px 25px;
		margin: 32px 0 32px 0;
		width:105px;
		height:22px;
		background: $iconGalery no-repeat -1127px 5px;
		
		a {
			color: rgb(116, 116, 116);				
		}
	.right {
		float:right;
	}
	
		&:hover { 
			color: rgb(116, 116, 116); 
			text-decoration: underline; 
		}  
	}
	.txtInfo{	 

		@include fontFace0688em;
		text-transform: uppercase;
		color: #cccccc;
		 	
	}
	.left {
		float:left;
	}
/*	--------------------------------------------------
	:: TABLES
	-------------------------------------------------- */	
	
	.tables  {
		width:100%;
		float:left;
		border-collapse: collapse;
		padding: 0px;
		border: none;
		font-family: Arial, Helvetica;
		position:relative;
		margin:25px 0px 0px 0px;


		tbody.blue tr.alternateRow td {
			background: #CBDBEE;
			border: none;
		}
		tbody.white tr.alternateRow td {
			background: #ffffff;
			border: none;
		}
		tbody td {
			background-color: #D6E1EE;
			line-height:44px;
			padding:0;
		}
		tbody.white td {
			background: #e7e7e7;
			line-height:44px;
			padding-left:16px;
		} 
		th {
			@include fontFaceB0688em; 
			color:#003576; 
			border-top:1px solid #003576;  
			background:#e7e7e7;
		}
		/*	------TEXT TABLES-------- */	
		
		.linkUnderline {
			text-decoration: underline;	
		}
		.txtDateRef {
			color:#000000;
			@include fontFaceB875em;
			text-align:center;
			line-height:44px;
			padding:0 15px 0 15px;
		}
		.txtLeft {
			text-align:left;
			padding-left:16px;
			@include fontFace750em;
			line-height:44px;
			font-weight: normal;
			color:#303030;
		}
		.txtRight {
			text-align: right;
			padding-right:16px;
			@include fontFace750em;
			line-height:44px;
			font-weight: normal;
			color:#303030;
		}
		 .txtSaldo {
			@include fontFaceB875em;
			color: #003576;
			text-align: right;
			padding-right:16px;
		}
		.txtTotal {
			color:#000000;
			@include fontFaceB875em;
			line-height:44px;
		}
		.cab {
			padding: 0 16px 0 16px;
			@include fontFaceB0688em;
			color: #003576;
			height: 44px;
			border-bottom: 2px solid #003576;
			text-transform: uppercase;
		}
		.dtRef {
			padding: 0;
			@include fontFaceB0688em;
			color: #003576;
			height: 44px;
			border-bottom: 2px solid #003576;
			text-transform: uppercase;
			text-align: center;
		}
		.title {
			@include fontFaceB1000em; 
			color:#003576;
			background:#fff;
			border:none;
			text-align:left;
			line-height:40px;
		}
		
		/*	----BORDERS TABLES------ */	
		#extrato .borderLeft {
			background-image:url(../img/tdBorderLeft.png);
			width:8px;
			height:44px;
			background-repeat:no-repeat;
		}
		#extrato .borderRight {
			background-image:url(../img/tdBorderRight.png);
			width:8px;
			height:44px;
			text-align: right;
			background-position:right;
			background-repeat:no-repeat;
		}
		#investiment .borderLeft {
			background-image:url(../img/tdBorderLeft.png);
			width:8px;
			height:44px;
			background-repeat:no-repeat;
		}
		#investiment .borderRight {
			background-image:url(../img/tdBorderRight.png);
			width:8px;
			height:44px;
			text-align: right;
			background-position:right;
			background-repeat:no-repeat;
		}
		.divBorderBottom {
			background-color:#FFFFFF;
			line-height:6px;
			position:relative;
			background-repeat:no-repeat;
			width:100%;
			border:none;
		}
		.borderBottomLeft {
			height: 6px;
			width: 6px;
			float: left; 
			position:relative;
			background: $bordersTables no-repeat 0px 0px;
			margin:-6px 0px 0px 0px;
		}
		.borderBottomRight {
			height: 6px;
			width: 6px;
			float: right;
			position:relative;
			background: $bordersTables no-repeat -7px 0px;
			margin:-6px 0px 0px 0px;
		}
		.tdBottom {
			border-Bottom:1px solid #cccccc;
			width:100%;
			height:1px;
			padding:0px;
			margin:0;
			background:#fff;
			background-image:none;
		}
		.divBorderTop {
			width:100%;
			line-height:6px;
			margin-bottom:0px;
			position:relative;
			background-repeat:no-repeat;
			border:none;
		}
		.borderTopLeft {
			height: 6px;
			width: 6px;
			float: left;
			position:relative; 
			background: $bordersTables no-repeat -14px 0px;
			margin:0;
		}
		.borderTopRight {
			height: 6px;
			width: 6px;
			float: right;
			position:relative; 
			background: $bordersTables no-repeat -21px 0px;
			margin: 0;
		}	
		.obs {
			color: #1a1a1a;
			@include fontFace750em;
			margin-top:6px;
			float: left;
			white-space:nowrap;
		}
	
	}

		
	
/*	--------------------------------------------------
	:: Footer
	-------------------------------------------------- */
	footer	{
		@include mainPosition; 
		background: $bgHeaderFooter repeat-x 0 -312px;
		height:65px;
		margin-top: 30px;
	
			.mainFooter	{
				@include mainPosition;					
				position: relative;
				height: 65px;
			}
			ul li {
				@include fontFaceB07em;
				color:#fff;
				text-shadow: $textShadow;
				display: inline;
				float: left;
				margin:25px 0px 0px 5px;
			}
		
			ul li a {
				color: #fff;
				
						
				&:hover { 
				color:#fff; 
				text-decoration:underline; 
				}  
			}
			
			.supTec {
				margin-right: 12%;
			}
		}				

	/*	--------------------------------------------------
	:: Grid
	-------------------------------------------------- */
	
	.c01	{width:3.0%;}
	.c02	{width:8.0%;}
	.c03	{width:13.0%;}
	.c04	{width:18.0%;}
	.c05	{width:23.0%;}
	.c06	{width:28.0%;}
	.c07	{width:33.0%;}
	.c08	{width:38.0%;}
	.c09	{width:43.0%;}
	.c10	{width:48.0%;}
	.c11	{width:53.0%;}
	.c12	{width:58.0%;}
	.c13	{width:63.0%;}
	.c14	{width:68.0%;}
	.c15	{width:73.0%;}
	.c16	{width:78.0%;}	
	.c17	{width:83.0%;}
	.c18	{width:88.0%;}
	.c19	{width:93.0%;}
	.c20	{width:98.0%; min-width:855px;}
	
/* Modal Content ---------- */
	.knowMorelogin {
		overflow:{
			x: hidden;
			y: visible; 
		}
		top: 15%;
		left: 15%;
		display: none;
	}
	
	.knowMore {
		z-index: 65557;
		position: absolute;
		top: 71px;
		left: 426px;
		width: 475px;
		height:200px;
		border: solid 10px #8a8a8a;
		background-color: $colorWhite;
		
	}
	
	.knowMoreContent {
		width: 460px;
		height:auto;
		overflow-y: auto;
		
		.btClose {
			float: right;
			margin: 30px 20px 0px 0px;
			
			.buttonBlue {
				@include button;
			}
		}
		
		.tabContent {
			margin-top: 20px;
			padding: 0px 0px 0px 20px;
			
			p {
				font: {
					size: $size3;
				}
				color: #303030;
				text-align: justify;
				padding: 6px 10px 20px 0px;
			}
					
			.titleModalKnowMore {
				font: {
					size: $size3;
					weight: bold;
				}
				color: #003576;
				text: {
					decoration: none;
					align: left;
				}
				vertical-align: middle;
				padding: 0px 0px 10px 0px;
			}
			
		}
	}
	
	.buttonRight {
	   right:35px;
	   position: absolute;
	}
		container {
			width:auto;
		}	

/*	--------------------------------------------------
	:: Media Queries
	-------------------------------------------------- */	
/* 800X600 ---------- */
	@media all and (max-width:840px) and (min-width:100px){
	
		.account {
			width: 525px;
			}
			
		.c20 {
			min-width:768px;
		}
		
		.user	{
			margin: 15px 0px 0px 50px;
		}
		
		.main{
			padding: 0 0 0 10px;
		}	
	
		.c16 {
			width: 70%;
		}	
		
		header span.logout {		
					float: right;
					margin: 6px 60px 0 0;
					
		}
		div .accountPjGov {
					float:left;
					margin:12px 0 0 135px;
					width: 86px;
					height: 34px; 
		}
		span.pj {
					float:right;
					width: 39px;
					height: 34px;
					margin: 0;
					text-indent: -9999px;
					cursor: pointer;
					background: $iconGalery no-repeat -1047px 1px;
				}
		span.gov { 
					float:right;
					width: 39px;
					height: 34px;
					margin: 0 0 0 8px;
					text-indent: -9999px;
					cursor: pointer;
					background: $iconGalery no-repeat -1087px 1px;
				}	 			
		
		
		footer {
			.supTec {
					margin-right: 1%;
				}
			.toolbar {
			
				margin: 10px 20px 0 0;	
						
					.msgBulletClose {
						right: 107px;
						
					}
				}	
			.toolbarOpen {
					margin: 12px 0px 0 0;
					}
		}
		
		.containerInfo {
			width:120px
		}

	}	
	
@media all and (max-width:940px) and (min-width:841px){
	
		.c16 {
			width: 75%;
		}
		.containerInfo {
			width:120px
		}
		
	}	
/* Tablet ---------- */	

	@media all and (max-width:800px) and (orientation:portrait){
			
		.account {
			background-position: 0px -101px repeat-x;
			
			.bgAccountRight, .bgAccountLeft{
				width:9px;
			}
			
		
			div.GerAccess {
				border-left:none;
				width: 34px;
				float:right;
				padding:0;
				margin:0;
			} 
		}
		header span.logout {		
				float: right;
				margin: 6px 66px 0 0;
		}
		.c16 {
			width: 100%;
		}	
		.toolbar {
			margin: 10px 20px 0 0;	
			
		.msgBulletClose {
			top: 17px;
			right: 100px;
			position:absolute;
			
		}
	} 		
}	

