/**
* @project Caixa Econômica Federal | Internet Banking
* @project URI http://www.caixa.gov.br/
* @version 2013
* @author CPM Braxis Capgemini
* @author URI http://www.cpmbraxis.com
* @copyright 2013 CPM Braxis Capgemini
*/ 
  

/* -------------------------------------------------- 
    Table of Contents
-----------------------------------------------------
:: Variables
:: Global Standards 
:: Links 
:: Header
:: Footer
:: Boxes 
:: Button
:: Form

/*	--------------------------------------------------
	:: Variables
	-------------------------------------------------- */
	$widthFull: 100%;
	$marginCenter: 0 auto;
	$mainMaxWidth:980px; 
	$mainMinWidth:800px; 
	$backgroundStandard: url(../img/imgLogin.png); 
	$backgroundBox: url(../img/imgBox.png);
	$backgroundMessageBox: url(../img/imgMessageBox.png);
	$bordersTables: url(../img/bordersTable.png);
	$colorBlue: #003576;  
	$colorGrayDark: #4F4F4F;
	$colorWhite: #FFFFFF;
	$colorBlueLight:#0059be;
	$size1: 11px;
	$size2: 12px; 
	$size3: 15px; 
	$size4: 20px;
	$size5: 14px;
	$fontFamily: Arial, Helvetica, sans-serif;
	$borderLeftWidth:7px;
	$borderLeftHeight:8px;
	$borderFloatLeft:left;
	$borderFloatRight:right;
	$borderMarginTop:-16px 0 0 -1px;
	$borderMarginRight:-16px -1px 0 0;
	$btnHeight:36px;
	$btnFloatLeft:left;
	$btnMarginLeft:15px;
	$btnPadding:0 0 0 10px;
	$btnFontBold:bold;
	$btnTxtShadow:none;
	$btnPosition:relative; 
	$fontUppercase:uppercase;
	$backgroundComp:url(../img/imgComponents.png); 


		
	@mixin button {
		position:$btnPosition; 
		float:$btnFloatLeft; 
		height:$btnHeight;
		margin-left:$btnMarginLeft; 
		padding:$btnPadding; 
		font-size:$size1;
		font-weight:$btnFontBold; 
		color:$colorWhite; 
		text-transform:$fontUppercase; 
		text-shadow:$btnTxtShadow;
	}
		
	@mixin mainPosition {
		width: $widthFull; 
		margin: $marginCenter;
	}
	
	@mixin borderBlocLeft {
		height: $borderLeftHeight;
		width: $borderLeftWidth;
		float:$borderFloatLeft; 
		margin:$borderMarginTop;
	}
		@mixin borderBlocBottomLeft {
		height: $borderLeftHeight;
		width: $borderLeftWidth;
		 
	}
	@mixin borderBlocRigth {
		height:$borderLeftHeight;
		width:$borderLeftWidth; 
		float:$borderFloatRight;
		margin:$borderMarginRight;
	}
		@mixin borderBlocBottomRigth {
		height:$borderLeftHeight;
		width:$borderLeftWidth; 
	}
	
	@mixin borderBlocLeftGrey {
		height: $borderLeftHeight;
		width: $borderLeftWidth;
		float:$borderFloatLeft; 
		margin:$borderMarginTop;
	}
	
	@mixin borderBlocRigthGrey {
		height:$borderLeftHeight;
		width:$borderLeftWidth; 
		float:$borderFloatRight;
		margin:$borderMarginRight;
	}
	
	/* size bold 12 px ---------- */
	@mixin fontFaceB750em {
		font: bold 0.750em Arial, Helvetica, sans-serif; 
	}
	/* size 13 px ---------- */
	@mixin fontFace813em {
		font: 0.813em Arial, Helvetica, sans-serif; 
	}
	/* size bold 15 px ---------- */
	@mixin fontFaceB938em {
		font: bold 0.938em Arial, Helvetica, sans-serif; 
	}
	/* size bold 20 px ---------- */
	@mixin fontFaceB250em {
		font: bold 1.250em Arial, Helvetica, sans-serif; 
	}
	@mixin fontFaceB0688em {
		font:bold 0.688em Arial, Helvetica, sans-serif; 
	}
	@mixin fontFaceB875em {
		font:bold 0.875em Arial, Helvetica, sans-serif; 
	}
	@mixin fontFace750em {
		font:0.750em Arial, Helvetica, sans-serif; 
	}
	@mixin fontFaceB1000em {
		font:bold 1.000em Arial, Helvetica, sans-serif;
	}
/*  --------------------------------------------------
	:: Global standards
	--------------------------------------------------*/
	html body {	
		font:Arial, Helvetica, sans-serif 12px;
	}
	
	.backLogin {
		float:left;
		height: 100%;
		width: 100%;
		min-width:775px;
		background: url(../img/backLogin.png) no-repeat center 0px;
	}
	

/*	--------------------------------------------------
	:: Links
	-------------------------------------------------- */
	
	a { 
		color:$colorBlue; 
		text-decoration:none; 
		line-height:inherit; 
		
		&:hover { 
			color:$colorBlueLight; 
			text-decoration:underline; 
			outline:none;
		}  
	}
	
/*	--------------------------------------------------
	:: Header
	-------------------------------------------------- */
	header	{
		@include mainPosition;
		background: $backgroundStandard 0 -458px;
		height:130px; 
	
		.mainHeader	{
			@include mainPosition; 
			position:relative; 
			max-width:$mainMaxWidth;
			min-width:$mainMinWidth;
		}
	
	.brand {
		position:relative; 
		left:0; 
		top:52px; 
		width:143px; 
		height:49px; 
		text-indent:-9999px; 
		background: $backgroundStandard no-repeat 0 -668px;
		cursor:pointer;
	}
}
	
/*  --------------------------------------------------
	:: Container
	--------------------------------------------------*/
	
	.main {
		@include mainPosition; 
		max-width:$mainMaxWidth;
		min-width:$mainMinWidth;	
		
		
/* Know IB Caixa ---------- */
		.infos {
			float:left;
			width:100%;
			margin-top:45px;
			
			.knowCaixa {
				float:left;
				margin-right:10px;
				width:130px;
			}
			
			.titles {
				float: left;
				max-width: 79.6%;
				min-width: 65.7%;
				margin-top:64px;
	
				.knowTitle {
					font-size:24px;
					color:$colorBlue;
					font-weight: bold;
					clear:right;
				}
				
				.knowSubTitle {
					@extend .knowTitle;
					font-size:16px;
				}
			}
		}
 
/* Menu options ---------- */
	.menuLoginHome {
		float:left; 
		margin:10px 0 30px 0;
		
		.menuLogin {
			float:left;
			clear:both;
			margin:0px 0 20px 0;
			padding-top:20px;
		    width: 250px;
		
		.menu ul {
		cursor: pointer;
	}
	
	.menu1 {  
	background: url('../img/bkgBarraBranca1.gif') no-repeat; 
	 }  
	.menu1:hover { 
	background: url('../img/bkgBarraLaranja1.gif') no-repeat; 
	}                        
	.selected1 { 
	background: url('../img/bkgBarraLaranja1.gif') no-repeat; 
	} 
	.menu2 { 
	background: url('../img/bkgBarraBranca2.gif') no-repeat;  
	} 
	.menu2:hover { 
	background: url('../img/bkgBarraLaranja2.gif') no-repeat; 
	}        
	.selected2 { 
	background: url('../img/bkgBarraLaranja2.gif') no-repeat; 
	} 
	.menu3 { 
	background: url('../img/bkgBarraBranca3.gif') no-repeat; 
	} 
	.menu3:hover { 
	background: url('../img/bkgBarraLaranja3.gif') no-repeat; 
	}  
	.selected3 { 
	background: url('../img/bkgBarraLaranja3.gif') no-repeat; 
	} 
	.menu4 { 
	background: url('../img/bkgBarraBranca4.gif') no-repeat; 
	}                   
	.menu4:hover { 
	background: url('../img/bkgBarraLaranja4.gif') no-repeat; 
	}                     
	.selected4 { 
	background: url('../img/bkgBarraLaranja4.gif') no-repeat; 
	}   
	.menu5 { 
	background: url('../img/bkgBarraBranca5.gif') no-repeat;  
	}   
	.menu5:hover { 
	background: url('../img/bkgBarraLaranja5.gif') no-repeat; 
	}   
	.selected5 { 
	background: url('../img/bkgBarraLaranja5.gif') no-repeat; 
	} 
	
	
	.menu {
	    cursor: pointer;
	    color: #000;
	    line-height: 40px;
	    text-align: left;
	    font-weight: bold;
	    font-size: 12px;
	    padding-left: 50px;
	}
	
	.menu:hover {
	    cursor: pointer;
	    line-height: 40px;
	    text-align: left;
	    color: $colorWhite;
	    font-weight: bold;
	    padding-left: 50px;
	}
	
	.selected {
	    cursor: pointer;
	    line-height: 40px;
	    text-align: left;
	    color: $colorWhite;
	    font-weight: bold;
	    font-size: 12px;
	    padding-left: 50px;
	}
		}
	
	.borderContMenuTopLeft {
		float:left;
		background:	$backgroundStandard -241px -3px;
		width:9px;
		height:20px;
		margin:0 0 0 -9px;
	}
	
	.borderContMenuBottomLeft {
		float:left;
		background:	$backgroundStandard -241px -223px;
		width:9px;
		height:10px;
		margin:-10px 0 0 -9px;
	}
	
	.borderContMenuTopRight {
		float:right;
		background:	$backgroundStandard 0px -10px;
		width:9px;
		height:13px;
	}
	
	.borderContMenuBottomRight {
		float:right; 
		background:	$backgroundStandard 0px -223px;
		width:9px;
		height:11px;
		margin: -11px 0 0 0;
	}
}

	

/* Menu content ---------- */

	#content1 {
		display:block;
	}
	
	.boxContent {
	    padding: 20px 20px 20px 30px;
		background: #E7E7E7;
		height: 190px;
		width: 600px;
		display: none;
		margin-left:241px;
		
		p {
			font:{
				size:12px;
				weight:bold;
			}
			color: #4F4F4F;
			padding-right:20px;
			text-align:justify;
		}
		
		.contentTitle { 
			color:$colorGrayDark; 
			font-weight:bold;
			margin-bottom:30px;
			font-size:$size3;
		}
		
		.knowMorelink {
			cursor: pointer;
		}
	}

/* Modal Content ---------- */

	.knowMorelogin {
		overflow:{
			x: hidden;
			y: visible;
		}
		top: 15%;
		left: 15%;
		display: none;
	}
	
	.knowMore {
		width: 600px;
		height: 450px;
		border: solid 10px #8a8a8a;
		background-color: $colorWhite;
		z-index: 10000;
		position: absolute;
		top: auto;
		left: auto;
	}
	
	.knowMoreContent {
		width: 600px;
		height: 450px;
		overflow-y: auto;
		
		.btClose {
			float: right;
			margin: 30px 20px 0px 0px;
			
			.buttonBlue {
				@include button;
			}
		}
		
		.tabContent {
			margin-top: 20px;
			padding: 0px 0px 0px 20px;
			
			p {
				font: {
					size: $size3;
				}
				color: #303030;
				text-align: justify;
				padding: 6px 10px 20px 0px;
			}
			
			.titleModal {
				font: {
					size: 16px;
					weight: bold;
				}
				color: $colorBlueLight;
				text: {
					decoration: none;
					align: left;
				}
				padding: 0px 0px 20px 0px;
			}
			
			table {
				.textStyle {
					text-weight: bold;
					color: $colorWhite;
				}
				width:545px;
				font:{
					size: $size1;
				} 
				text: {
					align: center;
				}
				td {
					padding:10px;
					text-align:center;
				}
				
				th {
					@extend td;
				}
				
				.trBlueLight{
					background-color:#cbdbee;	
				}
				.trBlueDark{
					background-color:#064EA2;	
				}
					.trBlueClean{
					background-color:#d6e1ee;	
				}
			
				.fontBold {
					text-weight: bold;
				}
			}
			
			.titleModalKnowMore {
				font: {
					size: $size3;
					weight: bold;
				}
				color: $colorBlue;
				text: {
					decoration: none;
					align: left;
				}
				vertical-align: middle;
				padding: 0px 0px 10px 0px;
			}
			
			.subTitleModal {
				font: {
					size: $size3;
					weight: bold;
				}
				color: #303030;
				text-align: left;
				padding: 0px;
			}
			nav {
				ul {
					li {
						margin: 10px 0;
						
						a {
							font:{
								size: $size5;
								weight: bold;
							}
							color: $colorBlue;
							text: {
								decoration: none;
								align: left;
							}
							vertical-align: middle;
							cursor: pointer;
							
							&:hover {
								text-decoration:underline;
							}
							&:visited {
								color: #1E66BA;
							}
						}
					}
				}
			}
		}
	}
}
		container {
			width:auto;
		}

/*	--------------------------------------------------
	:: Boxes
	-------------------------------------------------- */
	
	.blocLogin { 
		position: relative;
		width: 270px;
		height: 335px;
		padding-top: 14px;
		margin: 16px 0 0 0;
		float: left;
		background-repeat:no-repeat;
}

		.blocInfo {
		float: left; 
		width: 270px;
  		margin:0 0 0 50px;
	}
.blocLoginStandard {
	position:relative;
	width:236px;
	height:132px;
	padding:18px;
	margin:16px 0 0 0;
	float:left;
}

.backLoginGradient{
	background: $backgroundBox -7px -175px no-repeat;
	
	}

.backLoginGreyGradient{
	background: $backgroundBox -6px -3px no-repeat;
	
	}

	.blocForm {
	position:relative;
    display:inline-block;
    top:10px;

	}

	.imgAlign{
		display: inline-block;
		margin-top: -7px;
	}
	
	.blocdesc{
		margin-left: 79px;
		margin-top: -149px;		
	}	

/* Border Blue ---------- */

	.blocLoginBlue {
		background-color:#499AD5;
	}
		.borderBlocTopRight {
	 		@include borderBlocRigth;
	 		background: $backgroundStandard 0 -658px no-repeat;

	 	}

	 	.borderBlocTopLeft { 
	 		@include borderBlocLeft;
	 		background: $backgroundStandard -6px -658px no-repeat;
	 	}
	 	
	 	.borderBlocBottomLeft {
	 		@include borderBlocBottomLeft;
	 		background: $backgroundStandard -20px -658px;
			position:absolute;
			left:0;
	 	}
	 	
	 	.borderBlocBottomRight {
	 		@include borderBlocBottomRigth;
	 		background: $backgroundStandard -13px -658px;
			position: absolute;
			right: 0;
	 	}

/* Border Grey ---------- */

	.blocLoginGrey {
		background-color:#D6D6D6;
		margin-left:30px
	
	}
		.borderBlocTopRightGrey {
	 		@include borderBlocRigth;
	 		background: $backgroundStandard -28px -658px;

	 	}

	 	.borderBlocTopLeftGrey {
	 		@include borderBlocLeft;
	 		background: $backgroundStandard -34px -658px;
	 	}
	 	
	 	.borderBlocBottomLeftGrey {
	 		@include borderBlocLeft;
	 		background: $backgroundStandard -48px -658px;
			margin:195px 0 0 -18px;
	 	}
	 	
	 	.borderBlocBottomRightGrey {
	 		@include borderBlocRigth;
	 		background: $backgroundStandard -41px -658px;
			margin: 195px -17px 0 0;
	 	}	
	 	
		 .borderBlocBottom {
			 	position:absolute;
			 	width: 271px;
		  		height:10px;
		  		padding:0px;
				bottom: -2px;
				left:-1px;
		} 	
	 

/* Border Grey Light  ---------- */	 
	 
			.borderTopRightGreyLight {
			  height: 6px;
			  width: 6px;
			  float: right;
			  margin: -10px -10px 0 0; 
			  background: url(../img/imgLogin.png) -90px -660px;
			}
			
			.borderTopLeftGreyLight {
			  height: 6px;
			  width: 6px;
			  float: left;
			  margin: -10px 0 0 -10px;
			  background: url(../img/imgLogin.png) -98px -660px;
			}
			
			.borderBottomLeftGreyLight{
			  height: 6px;
			  width: 6px;
			  float: left;
			  background: url(../img/imgLogin.png) -114px -660px;
			  margin: 12px 0 0 -10px;
			}
			
			.borderBottomRightGreyLight{
			  height: 6px;
			  width: 6px;
			  float: right;
			  margin: 12px -12px 0 0;
			  background: url(../img/imgLogin.png) -106px -660px;
			}
			
			.borderBottom {
			  width: 734px;
			  height: 6px;
			  position: absolute;
			  bottom: 2px;
			  background: none;
			  padding: 10px;
			  left: 0px;
			}	 

/* Boxes Text ---------- */	
	
	.titleLoginBloc {
	 	color:$colorWhite;
	 	margin-left:22px;
	 	width:245px;
		@include fontFaceB938em;

	 
		& b {
		 	@include fontFaceB250em;
		 	padding-bottom:7px;

		 }	
 
	 }
	 
.descLoginBloc{
		margin:20px 14px 0 12px;
		text-align:left;
		line-height:1em;
		color: $colorWhite;
		@include fontFaceB750em; 
		
		& span {
		color:$colorWhite;
		line-height:1.3em;
	
		}
	
			& p {
				margin-bottom:15px;
			
			}
			
			& label {
				margin-left:10px
			
			}
			
		& .radio {
			float: left;
			margin: -1px -6px 0 10px;
			cursor: pointer;
		}	
	
		& .checkbox {
			float: left;
			margin: 0 4px 0 10px;
			cursor: pointer;
			height: 18px;
		}
	& .checkboxWidth {
		line-height:1.3em;
	}	
}
	
	.titleLogin {
			font:bold 18px Arial;
			color:$colorGrayDark;
			text-transform: uppercase;
			padding-left:5px;
		}
		
		
		.descLogin {
			padding: 7px 0 0 7px;
			text-align: left;
			line-height: 1em;
				
		& small {
			@include fontFace813em;
			color: $colorGrayDark;
			width: 240px;
			
		}
	}
	
		.descLoginPhone {
			padding: 7px 0 0 7px;
			text-align: left;
			line-height: 1em;
			width: 140px;	
				
		& span {
			@include fontFace813em;
			color: $colorGrayDark;
		}
	}
	
.selectedOption {
	display:none;
	position: absolute;
	width:250px;
}			

	.buttonGroup {
		margin-top: 20px; 
	}

	.buttonLoginBlocPhone {
		margin-top: -33px;
	}

	.buttonLoginBloc {
		margin-top: -22px;
	}
	.buttonRight {
	   bottom:12px;
	   right:18px;
	   position: absolute;
	}
	
/* --------------------------------------------------
	:: Identificação Usuário
-------------------------------------------------- */
	.ident {
		  display: inline;
		  float: left;
		  width: 80%;
		  margin:32px 0px 62px 0px;
			  
			.icoTitle {
				  margin: 10px 0px 30px 0px;
				  background: $backgroundStandard 0px -720px no-repeat;
				  width:600px;
				  height:35px;
				  padding:10px 0px 0px 50px;
				  
				 & span {
				  	color:$colorBlueLight;
				 	font: {
					size: $size4;
					weight: bold;
				}
				 
				  }
			}
		
			.identBox {
					 font:{
					size: 1.12em;
					 } 
				  color:$colorBlue;
				  text-align: left;
				  clear: both;
				  position: relative;
				  float: left;
				  height: 240px;
				  width: 735px;
				  padding: 10px 10px 20px 10px;
				  background-color: #e7e7e7;
			}
			.borderBottom{
				width:716px;
			}
			.identBoxPassword {
					 font:{
					size: 1.12em;
					 } 
				  color: $colorBlue;
				  clear: both;
				  position: relative;
				  float: left;
				  height: 300px;
				  width: 94%;
				  padding: 10px;
				  background-color: #e7e7e7;
			}

			.textRf {
				 float: left; 
				 margin-top: 20px;
				 font-size: 0.75em;
				 color: #303030;
				 clear: both;
				 width: 734px;
			}
			
			.textInstruc {
				 color: $colorBlue;
				  float: left;
				  font-weight: bold;
				  margin-top: 15px;
				  font-size: 0.75em;
				  clear: both;
				  width: 734px;
			}
			
			.textInstrucPassword {
				 color: #303030;
				  float: left;
				  font-weight: bold;
				  margin-top: 15px;
				  font-size: 0.75em;
				  clear: both;
				  width: 190px;
			}
			
			 h2 {
			   font:{
				size: 1.250em;
				weight: bold;
				 } 
			  color: $colorBlueLight;
			  float: left;
			}
			
			.inicName {
			  font:{
				size: 1.4em;
				weight: bold;
				 } 
			  color: $colorBlue;
			  text-align: center;
			  cursor: pointer;
			  background: url(../img/bkgInputIdentRight.png) no-repeat;
			  background-position:top right;
			  border-color: transparent;
			  width:230px;
			  padding: 25px 10px 25px 10px;
			}
			
			.inic_input {
			  position: absolute;
			  top: 70px;
			  left: 280px;
			}
			
			.buttonBackRight {
			  float: right;
			  padding-bottom: 32px;
			  margin:32px 32px 32px 0;
			  position: relative;
			}
			
			.buttonRightPos {
			  float: right;
			  margin: 32px 0 0 0;
			  background: none;
			  position: relative;
			}
			
			.buttonClearPassword {
				float: left;
				margin-top: 10px;
				margin-left: -14px;
				clear: both;
			}

			.inputIdentLeft {
			  background-image: url(../img/bkgInputIdentLeft.png);
			  width: auto;
			  float: left;
			  height: 75px;
			  margin: 35px 34% 20px;
			}
			
			.textPassword{
				font-size: 1.0em;			
			}
			
			.password{
				margin-top: 15px;
				margin-left: 0px;
				clear: both;
			}
			
		}
		
			aside {
			  margin: 40px 10px 20px 0px;
			  width: 180px;
			  float: left;
			  padding-bottom:20px;
			}

	
/* Alert Info ---------- */
	
	.iconInfoError {
		float: left;
		margin: 0 10px 0 10px; 
		width:100%;
		
		& span {
			background: $backgroundMessageBox 0px 3px no-repeat;
			width:36px;
			height:40px;
			position:absolute;
		}	
	}		
	
	.textMessageError {
		text-align: justify;
		margin: 16px 0 20px 70px;
		font-size:$size2;
		font-weight:bold;
		color:$colorGrayDark;
		}
	
		.BoxError {
			position:absolute;
		  text-align: left;
		  clear: both;
		  position: relative;
		  float: left;
		  height: 100%;
		  width: 94%;
		  padding:10px;
		  background-color: #e7e7e7;
	}


/*	--------------------------------------------------
	:: Footer
	-------------------------------------------------- */
	footer	{
		@include mainPosition; 
		float:left;
		clear:both;
		background: $backgroundStandard 0 -508px;
		height:65px;

	
			.mainFooter	{
				@include mainPosition;
				max-width:$mainMaxWidth;
				min-width:$mainMinWidth; 
				position:relative;		
				padding:0 10px; 				 
				font-size:0.7em; 
				font-weight:bold; 
				color:#fff;
				text-shadow: 0 2px 0 #000000;
			}
			ul li {
			display: inline;
			float: left;
			margin:25px 0px 0px 5px;
			}
		
			ul li a {
				color: #fff;
				
						
				&:hover { 
				color:#fff; 
				text-decoration:underline; 
				}  
			}
			
			.supTec {
			margin-right: 115px;
			}
	
	}
/*	--------------------------------------------------
	:: cadastro
	-------------------------------------------------- */	
.cadastro {
	aside{
		float:right;
	}
	span {
		font-size:12px;
		}
	.knowMore{
		*margin-left: -500px;
	}
	.clear{
		float:left;
		width:100%;
		clear:both;
	}
	.ident{
		width:78%;
		margin-top: 10px;
		.buttonBackRight{
			margin: 0px;
		}
		strong.title{
			font: bold 1.000em Arial, Helvetica, sans-serif;
			color: $colorBlue;
			border-bottom:1px solid $colorBlue;
			float:left;
			clear: both;
			width:100%;
		}
		.passwordCreation{
			.small{
				margin: 0 0 0 315px!important;
			}
		}
		.icoTitle{
			background: url(../img/cadastro-ico.png) 0 8px no-repeat;
			padding: 10px 0px 0px 35px;
		}
		ol{
			li{
				list-style-type: decimal;
				list-style-position: inside;
			}
		}
		p, ol{
			color: $colorGrayDark;
			font-size:12px;
			strong{
				font-weight: bold;
			}
		}
		.gradientBox{
			background: url(../img/bg-gradient.png) repeat-x #b9b9b9;
			float:left;
			margin:20px 0;
			min-height:150px;
			padding: 20px 10px;
			text-align: center;
			p{
				color: $colorGrayDark;
				margin-bottom:20px;
				font-size: 12px;
			}
			a{
				width:100px;
				display: inline-block;
				font-weight: bold;
				font-size: 11px;
			}
		}
		.boxleft{
			width:30%;
		}
		.boxRight{
			width:63%;
			float:right;
			#cartaoCredito{
				margin-right:20%;
			}
		}
		.buttonBlue{
			margin:0px;
		}
		.buttonClearPassword{
			.buttonBlue{
				margin-left:15px;
			}
		}
		.greyBox{
			float:left;
			width:96%;
			padding:2%;
			background:#e7e7e7;
			margin-bottom:20px;
		}
		.blueBox{
			float:left;
			width:96%;
			padding:2%;
			background:#d6e1ee;
			margin-bottom:20px;
			
			p{
				color: $colorGrayDark;
				font-size:12px;
			}
			h2{
				color: $colorBlue;
				font-size:$size5;
				margin:0;
				width: 100%;
			}
			#text{
				float:left;
				width:85%
			}
			.buttonRightPos{
				margin:0px;
			}
		}
	}
	.specialTable{
		margin:0px;
	}
}

/*	--------------------------------------------------
	:: TABLES
	-------------------------------------------------- */	
	
	.tables  {
		width:100%;
		float:left;
		border-collapse: collapse;
		padding: 0px;
		border: none;
		font-family: Arial, Helvetica;
		position:relative;
		margin:25px 0px 0px 0px;


		tbody.blue tr.alternateRow td {
			background: #CBDBEE;
			border: none;
		}
		tbody.white tr.alternateRow td {
			background: #ffffff;
			border: none;
		}
		tbody td {
			background-color: #D6E1EE;
			line-height:44px;
			padding:0;
		}
		tbody.white td {
			background: #e7e7e7;
			line-height:44px;
			padding-left:16px;
		} 
		th {
			@include fontFaceB0688em; 
			color:$colorBlue; 
			border-top:1px solid $colorBlue;  
			background:#e7e7e7;
		}
		thead.title{
			border-bottom:1px solid $colorBlue;
		}
		/*	------TEXT TABLES-------- */	
		
		.linkUnderline {
			text-decoration: underline;	
		}
		.txtDateRef {
			color:#000000;
			@include fontFaceB875em;
			text-align:center;
			line-height:44px;
			padding:0 15px 0 15px;
		}
		.txtLeft {
			text-align:left;
			padding-left:16px;
			@include fontFace750em;
			line-height:44px;
			font-weight: normal;
			color:#303030;
		}
		.txtRight {
			text-align: right;
			padding-right:16px;
			@include fontFace750em;
			line-height:44px;
			font-weight: normal;
			color:#303030;
		}
		 .txtSaldo {
			@include fontFaceB875em;
			color: $colorBlue;
			text-align: right;
			padding-right:16px;
		}
		.txtTotal {
			color:#000000;
			@include fontFaceB875em;
			line-height:44px;
		}
		.cab {
			padding: 0 16px 0 16px;
			@include fontFaceB0688em;
			color: $colorBlue;
			height: 44px;
			border-bottom: 2px solid $colorBlue;
			text-transform: uppercase;
		}
		.dtRef {
			padding: 0;
			@include fontFaceB0688em;
			color: $colorBlue;
			height: 44px;
			border-bottom: 2px solid $colorBlue;
			text-transform: uppercase;
			text-align: center;
		}
		.title {
			@include fontFaceB1000em; 
			color:$colorBlue;
			background:#fff;
			border:none;
			text-align:left;
			line-height:40px;
		}
		
		/*	----BORDERS TABLES------ */	
		#extrato .borderLeft {
			background-image:url(../img/tdBorderLeft.png);
			width:8px;
			height:44px;
			background-repeat:no-repeat;
		}
		#extrato .borderRight {
			background-image:url(../img/tdBorderRight.png);
			width:8px;
			height:44px;
			background-position:right;
			background-repeat:no-repeat;
		}
		#investiment .borderLeft {
			background-image:url(../img/tdBorderLeft.png);
			width:8px;
			height:44px;
			background-repeat:no-repeat;
		}
		#investiment .borderRight {
			background-image:url(../img/tdBorderRight.png);
			width:8px;
			height:44px;
			text-align: right;
			background-position:right;
			background-repeat:no-repeat;
		}
		.divBorderBottom {
			background-color:#FFFFFF;
			line-height:6px;
			position:relative;
			background-repeat:no-repeat;
			width:100%;
			border:none;
		}
		.borderBottomLeft {
			height: 6px;
			width: 6px;
			float: left; 
			position:relative;
			background: $bordersTables no-repeat 0px 0px;
			margin:-6px 0px 0px 0px;
		}
		.borderBottomRight {
			height: 6px;
			width: 6px;
			float: right;
			position:relative;
			background: $bordersTables no-repeat -7px 0px;
			margin:-6px 0px 0px 0px;
		}
		.tdBottom {
			border-Bottom:1px solid #cccccc;
			width:100%;
			height:1px;
			padding:0px;
			margin:0;
			background:#fff;
			background-image:none;
		}
		.divBorderTop {
			width:100%;
			line-height:6px;
			margin-bottom:0px;
			position:relative;
			background-repeat:no-repeat;
			border:none;
		}
		.borderTopLeft {
			height: 6px;
			width: 6px;
			float: left;
			position:relative; 
			background: $bordersTables no-repeat -14px 0px;
			margin:0;
		}
		.borderTopRight {
			height: 6px;
			width: 6px;
			float: right;
			position:relative; 
			background: $bordersTables no-repeat -21px 0px;
			margin: 0;
		}	
		.obs {
			color: #1a1a1a;
			@include fontFace750em;
			margin-top:6px;
			float: left;
			white-space:nowrap;
		}
	
	}


@media all and (max-width: 900px)  and (min-width: 659px) {
	.cadastro{
	 	.ident{
	 		width: 75%;
			.box-left{
				width: 35%;
			}
			.box-right{
				width: 55%;
			}
			.blue-box{
				#text{
					width:80%
				}
			}
			#cartao-credito{
				margin-right:15%;
			}
			.voltar{
				float:left;
			}
		}
	}
}
@media all and (max-width: 700px)  and (min-width: 100px) {
	.cadastro{
		.ident{
			width: 75%;
			.boxLeft{
				width: 30%;
			}
			.boxRight{
				width: 58%;
			}
			#cartaoCredito{
				margin-right:4%;
			}
			.blueBox {
				#text {
					width: 75%;
				}
			}
			.voltar{
				float:left;
			}
		}
		aside{
			width:30%;
			margin-top:0px;
			float:right;
		}
	}
}