/**
* @project Caixa Econômica Federal | Internet Banking
* @project URI http://www.caixa.gov.br/
* @version 2013
* @author CPM Braxis Capgemini
* @author URI http://www.cpmbraxis.com
* @copyright 2013 CPM Braxis Capgemini
*/ 
  

/* -------------------------------------------------- 
    Table of Contents
-----------------------------------------------------
:: Variables
:: Global Standards 
:: Links 
:: Header
:: Footer
:: Boxes 
:: Button
:: Form

/*	--------------------------------------------------
	:: Variables
	-------------------------------------------------- */
	$widthFull: 100%;
	$marginCenter: 0 auto;
	$mainMaxWidth:980px; 
	$mainMinWidth:800px; 
	$backgroundStandard: url(../img/imgLogin.png); 
	$backgroundBox: url(../img/imgBox.png);
	$backgroundMessageBox: url(../img/imgMessageBox.png);
	$colorBlue: #003576;  
	$colorGrayDark: #4F4F4F;
	$colorWhite: #FFFFFF;
	$colorBlueLight:#0059be;
	$size1: 11px;
	$size2: 12px; 
	$size3: 15px; 
	$size4: 20px;
	$size5: 14px;
	$fontFamily: Arial, Helvetica, sans-serif;
	$borderLeftWidth:7px;
	$borderLeftHeight:8px;
	$borderFloatLeft:left;
	$borderFloatRight:right;
	$borderMarginTop:-16px 0 0 -1px;
	$borderMarginRight:-16px -1px 0 0;
	$btnHeight:36px;
	$btnFloatLeft:left;
	$btnMarginLeft:15px;
	$btnPadding:0 0 0 10px;
	$btnFontBold:bold;
	$btnTxtShadow:none;
	$btnPosition:relative; 
	$fontUppercase:uppercase;
	$backgroundComp:url(../img/imgComponents.png); 


		
	@mixin button {
		position:$btnPosition; 
		float:$btnFloatLeft; 
		height:$btnHeight;
		margin-left:$btnMarginLeft; 
		padding:$btnPadding; 
		font-size:$size1;
		font-weight:$btnFontBold; 
		color:$colorWhite; 
		text-transform:$fontUppercase; 
		text-shadow:$btnTxtShadow;
	}
		
	@mixin mainPosition {
		width: $widthFull; 
		margin: $marginCenter;
	}
	
	@mixin borderBlocLeft {
		height: $borderLeftHeight;
		width: $borderLeftWidth;
		float:$borderFloatLeft; 
		margin:$borderMarginTop;
	}
		@mixin borderBlocBottomLeft {
		height: $borderLeftHeight;
		width: $borderLeftWidth;
		 
	}
	@mixin borderBlocRigth {
		height:$borderLeftHeight;
		width:$borderLeftWidth; 
		float:$borderFloatRight;
		margin:$borderMarginRight;
	}
		@mixin borderBlocBottomRigth {
		height:$borderLeftHeight;
		width:$borderLeftWidth; 
	}
	
	@mixin borderBlocLeftGrey {
		height: $borderLeftHeight;
		width: $borderLeftWidth;
		float:$borderFloatLeft; 
		margin:$borderMarginTop;
	}
	
	@mixin borderBlocRigthGrey {
		height:$borderLeftHeight;
		width:$borderLeftWidth; 
		float:$borderFloatRight;
		margin:$borderMarginRight;
	}
	
	/* size bold 12 px ---------- */
	@mixin fontFaceB750em {
		font: bold 0.750em Arial, Helvetica, sans-serif; 
	}
	/* size 13 px ---------- */
	@mixin fontFace813em {
		font: 0.813em Arial, Helvetica, sans-serif; 
	}
	/* size bold 15 px ---------- */
	@mixin fontFaceB938em {
		font: bold 0.938em Arial, Helvetica, sans-serif; 
	}
	/* size bold 20 px ---------- */
	@mixin fontFaceB250em {
		font: bold 1.250em Arial, Helvetica, sans-serif; 
	}
	
/*  --------------------------------------------------
	:: Global standards
	--------------------------------------------------*/
	html body.popUp {	
		@include fontFace813em;
		background: #eaeaea;
	}

/*	--------------------------------------------------
	:: Links
	-------------------------------------------------- */
	
	a { 
		color:$colorBlue; 
		text-decoration:none; 
		line-height:inherit; 
		
		&:hover { 
			color:#0059be; 
			text-decoration:underline; 
			outline:none;
		}  
	}
	
/*	--------------------------------------------------
	:: Header
	-------------------------------------------------- */
	header	{
		@include mainPosition;
		background: $backgroundStandard 0 -483px;
		height:105px; 
	
		.mainHeader	{
			padding: 30px;
		}
	
		.brand {
			
			width:143px; 
			height:49px; 
			text-indent:-9999px; 
			background: $backgroundStandard no-repeat 0 -668px;
			cursor:pointer;
		}
	}
	
/*  --------------------------------------------------
	:: Container
	--------------------------------------------------*/
	
	.mainPopUp {
		padding: 30px;	
		h2 {
			  font: bold 1.250em Arial, Helvetica, sans-serif; 
			  color: #0059be;
			}
		}
		
		
