.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 10vh;
}

ul {
    display: flex;
    width: 100%;
    justify-content: space-around;
    list-style-type: none;
}

li {
    color: #e2e2e2;
    font-weight: normal;
}

.aditional {
    color: #F2F2F2;
    font-weight: bold;
}

.form-saldo {
    display: flex;
    align-items: center;
    gap: 15px;
}
.saldo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.saldo span {
    color: #e2e2e2;
    font-weight: normal;
}

#modalSaldo span {
    color: #e2e2e2;
    font-weight: bold;
}

#modalSaldo.hide {
    opacity: 0;
}

.exit {
    display: flex;
    align-items: center;
    gap: 10px;
}

.exit span {
    color: #e2e2e2;
    font-weight: normal;
}