.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 10vh;
}

ul {
    display: flex;
    width: 100%;
    justify-content: space-around;
    list-style-type: none;
}

li {
    color: #e2e2e2;
    font-weight: normal;
}

.aditional {
    color: #F2F2F2;
    font-weight: bold;
}

.form-saldo {
    display: flex;
    align-items: center;
    gap: 15px;
}
.saldo {
    position: relative;
    display: inline-block;
}

.saldo span {
    color: #e2e2e2;
    font-weight: normal;
}

.dropdown-saldo {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.saldo:hover .dropdown-saldo {
    display: block;
}

.dropdown-saldo span {
    font-weight: bold;
    color: rgb(77, 77, 77);
}

.exit {
    display: flex;
    align-items: center;
    gap: 10px;
}

.exit span {
    color: #e2e2e2;
    font-weight: normal;
}