/*******************************
AREA ELEMENTOS GERAIS
*******************************/
.label-titulo-1-revitalizacao { 
	font-style: normal; 
	font-weight: normal; 
	font-size: 16px; 
	letter-spacing: 0.25px; 
	color: #3A4859;
}

.input-1-revitalizacao{

	margin-top: 10px !important; 
	border-bottom:1px solid black !important;
	border-top:0px solid black !important;
	border-right:0px solid black !important; 
	border-left:0px solid black !important; 
	width: 100% !important; 
	border-color: #3A4859 !important;
	color: #005CA9 !important;
	letter-spacing: 0.25px !important;
	font-family: "futura-book", sans-serif !important;
}

.input-1-revitalizacao:focus{
	box-shadow: 0 0 0 0 !important;
	border-top:0px solid black !important;
	border-right:0px solid black !important; 
	border-left:0px solid black !important; 
	outline: 0 !important;
}

.input-1-revitalizacao::placeholder{
	letter-spacing: 0.25px;
	font-family: "futura-book", sans-serif !important;
}

/*******************************
AREA DO TITULO GERAL
*******************************/
.div-titulo-geral-revitalizacao{
	width: 100%;
	margin-top: 20px;
	display: flex;
	align-items: center;
	padding-bottom: 25px;
}

.label-titulo-geral-revitalizacao{
	color: #005CA9;
	font-weight: bold !important;
	font-size: 16px;
	letter-spacing: 0.25px;
}


/*******************************
AREA DO INFORME PAGAMENTO
*******************************/
.quadro-informe-revitalizacao {
    display: grid;
    grid-template-columns: 13% 87%;
    align-items: flex-start;
    padding: 8px;
    width: 100%;
    margin-top: 20px;
    background: rgba(243, 247, 249, 0.9);
    border-radius: 2px;
}

.icone-informe-revitalizacao {
    color: #0077DB;
    text-align: center;
}

.texto-informe-revitalizacao {
    font-family: futura-book, sans-serif;
    color: #4E6178;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.25px;
    align-items: center;
}

/******************
AREA DE TABELA REVITALIZACAO
******************/
.tab-campos-revitalizacao {
    display: block;
    padding-top: 25px;
}

.tab-linha-revitalizacao{
    border-top: 1px solid #005CA9; margin-top: 6px;
}

.tab-campos-filha-revitalizacao {
    display: block !important;
    margin-top: 8px;
    flex-direction: column;
}

.tab-campo-revitalizacao {
    display: grid;
    padding-bottom: 16px;
}

.tab-span-titulo-revitalizacao {
    line-break: auto;
    color: #3A4859;
}

.tab-span-valor-revitalizacao {
    margin-top: 8px;
    font-weight: bold;
    max-width:98%;
    word-wrap:break-word;
    color: #3A4859;
    display: block !important;
}
/******************
AREA DO AGENDAMENTO DE PAGAMENTO
******************/
.div-agendamento-revitalizacao {
	width: 100%;
}

.div-botao-agendamento-revitalizacao {
	display: inline-flex; 
	width: 100%; 
	margin-top: 10px;
}

.btn-agendamento-esquerda-azul-revitalizacao { 
	width: 50%; 
	height: 40px;  
	border: none;  
	font-size: 16px; 
	font-style: normal; 
	font-weight: normal; 
	letter-spacing: 0.25px;
	border-radius: 6px 0px 0px 6px;
	background: #005CA9;
	color: #FFFFFF;
	font-family: futura-book, sans-serif !important;
}

.btn-agendamento-direita-azul-revitalizacao {
	width: 50%; 
	height: 40px;  
	border: none;  
	font-size: 16px; 
	font-style: normal; 
	font-weight: normal; 
	letter-spacing: 0.25px;
	border-radius: 0px 6px 6px 0px;
	background: #005CA9;
	color: #FFFFFF;
	font-family: futura-book, sans-serif !important;
}

.btn-agendamento-esquerda-branco-revitalizacao { 
	border:solid 1px;
	width: 50%; 
	height: 40px;  
	font-size: 16px; 
	font-style: normal; 
	font-weight: normal; 
	letter-spacing: 0.25px;
	border-radius: 6px 0px 0px 6px;
	background: #FFFFFF; 
	color: #005CA9;
	border-color:#005CA9;
	font-family: futura-book, sans-serif !important;
}

.btn-agendamento-direita-branco-revitalizacao {
	border:solid 1px;
	width: 50%; 
	height: 40px;  
	font-size: 16px; 
	font-style: normal; 
	font-weight: normal; 
	letter-spacing: 0.25px;
	border-radius: 0px 6px 6px 0px;
	background: #FFFFFF; 
	color: #005CA9;
	border-color:#005CA9;
	font-family: futura-book, sans-serif !important;
}

/******************
AREA DO QUADRO VALOR/DATA
******************/

#container-card-revitalizacao {
	height: 50px;
}

.card-revitalizacao {
	height: auto;
	background: #FFFFFF;
	box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
	border-radius: 6px;
	transition: 0.3s;
	margin-left: 16px;
	margin-right: 16px;
	text-align: center;
	position: relative;
	padding-bottom: 8px;
}

.card-header-revitalizacao {
	padding-top: 12px;
	display: grid;
	grid-template-columns: 60% 1% 39%;
}

.card-header-texto-revitalizacao {
	font-family: futura-book, sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 20px;
	align-items: center;
	text-align: center;
	letter-spacing: 0.25px;
	color: #3A4859;
	text-align: center;
}

.card-span-valor-revitalizacao {
	font-family: futura-book, sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	line-height: 28px;
	align-items: center;
	text-align: center;
	letter-spacing: 0.7px;
	color: #005CA9;
	margin-top: 11px;
}

.card-span-data-revitalizacao {
	font-family: futura-book, sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 18px;
	align-items: center;
	text-align: center;
	letter-spacing: 0.25px;
	color: #005CA9;
	margin-top: 17px;
}

.card-divisoria-revitalizacao {
	border-left: 1px solid #C4C4C4;
	height: 48px;
}


/******************
AREA DO VALOR DO PAGAMENTO
******************/
input.valor-pix-revitalizacao {
	height: 50px;
	width: 100% !important;
	margin-left: 0px !important;
	margin-top: 8px !important;
	background: #F4F4F6;
	border-radius: 6px;
	padding: 18px 16px;
	font-family: "futura-book", sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 18px;
	display: flex;
	align-items: center;
	letter-spacing: 0.25px;
	color: #0077DB;
	border: none;
}

input.valor-pix-revitalizacao::placeholder {
	font-family: "futura-book", sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 18px;
	letter-spacing: 0.25px;
	color: #A6A6A6;
}


/******************
AREA DA CHAVE PIX
******************/
.aColarChavePix{
    font-weight: bold !important; 
	float: right !important;
    text-decoration: none !important;
    font-size: 16px;
}

.inputChavePix{
	margin-left: 0px !important; 
	margin-top: 9px !important; 
	width: 100% !important; 
	background: #f9f9f9;
	height: 50px;
	/*color: #0077DB !important;*/
	border-bottom:1px solid black !important;
	border-top:0px solid black !important;
	border-right:0px solid black !important; 
	border-left:0px solid black !important; 
	letter-spacing: 0.25px !important; 
	border-color: #3A4859 !important;
	color: #005CA9 !important;
	letter-spacing: 0.25px !important;
	font-family: "futura-book", sans-serif !important;
	text-transform: lowercase;
}

textarea#inputStrQrCode::placeholder {
    padding-top: 10px;
}

textarea.inputChavePix {
    border-radius: 0px;
}

.inputAgenciaContaPix{
	margin-left: 0px !important; 
	margin-top: 9px !important; 
	background: #f9f9f9;
	border-bottom:1px solid black !important;
	border-top:0px solid black !important;
	border-right:0px solid black !important; 
	border-left:0px solid black !important; 
	letter-spacing: 0.25px !important; 
	border-color: #A6A6A6 !important;
	border-radius: 0px !important;
	color: #A6A6A6 !important;
	letter-spacing: 0.25px !important;
	font-family: "futura-book", sans-serif !important;
	font-size: 16px !important;
	padding: 0px 0px !important;
}


/******************
QUADRO DE CONTATOS PAGAMENTO POR CHAVE
******************/
.contatos-quadro-revitalizacao {
	margin-top: 32px;
	margin-bottom: 32px;
	background: #F4F4F6;
	padding-top: 16px;
	padding-bottom: 16px;
	padding-left: 16px;
	padding-right: 16px;
}

.contatos-header-revitalizacao {
	height: 49px;
	display: grid;
	grid-template-columns: 83% 17%;
}

.contatos-header-texto-revitalizacao {
	font-family: futura-book, sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 18px;
	letter-spacing: 0.25px;
	color: #3A4859;
	text-align: left;
}

.contatos-header-icone-revitalizacao {
	font-size: 24px;
	color: #005CA9;
	text-align: right;
}

.contatos-botao-revitalizacao {
	padding-left: 19px;
	padding-top: 16px;
	width: 100%;
	height: 56px;
	color: #005CA9;
	display: inline-flex;
	background: #FFFFFF;
	border: 1px solid #005CA9;
	box-sizing: border-box;
	border-radius: 4px;
}

.contatos-botao-texto-revitalizacao {
	font-family: futura-book, sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 18px;
	letter-spacing: 0.25px;
	color: #005CA9;
	margin-top: 3px;
}

/******************
AREA DO CABECALHO REVITALIZACAO
******************/
#container-cabecalho-revitalizacao {
    background-image: url(/statics-core/img/logo_caixa_bg_comprovante.png);
    height: 167px;
}

#container-cabecalho-banco-revitalizacao {
    display: flex;
    padding-top: 44px;
    margin-left: 16px;
}

    #container-cabecalho-banco-revitalizacao  .logo {
        flex: 0.6;
        margin: auto;
        text-align: left;
    }
    
    #container-cabecalho-banco-revitalizacao .divisoria {
        flex: 0.10;
        border-left: 3px solid #f59300;
        height: 21px;
    }

	#container-cabecalho-banco-revitalizacao  .vinheta {
        flex: 2;
        color: white;
        margin: auto;
    }

/******************
CARD MENU
******************/    
.card-menu-revitalizacao{
	height: 88px;
	background-color: white; 
	padding-top: 10px; 
	padding-bottom: 10px; 
	background: #fff;
	background:
		linear-gradient(135deg, #E7EEF4 0px, #fff 0) top left,
		linear-gradient(225deg, #E7EEF4 0px, #fff 0) top right,
		linear-gradient(315deg, #E7EEF4 0px, #fff 0) bottom right,
		linear-gradient(45deg,  #E7EEF4 0px, #fff 0) bottom left;
	background-size: 50% 50%;
	background-repeat: no-repeat; 
	background-image:
		radial-gradient(circle at 0 0, rgba(204,0,0,0) 0px, #fff 0px),
		radial-gradient(circle at 100% 0%, rgba(231,238,244) 45px, #fff  0px),
		radial-gradient(circle at 100% 100%, rgba(204,0,0,0) 0px, #fff 0px),
		radial-gradient(circle at 0 100%, rgba(204,0,0,0) 0px, #fff 0px);
}

.card-menu-revitalizacao-sem-borda{
	height: auto;
	background-color: white; 
	padding-top: 10px; 
	padding-bottom: 10px; 
}

.card-menu-revitalizacao-sem-fundo{
	height: 88px;
	background-color: white; 
	padding-top: 10px; 
	padding-bottom: 10px; 
	background: #fff;
	background:
		linear-gradient(135deg, #E7EEF4 0px, #fff 0) top left,
		linear-gradient(225deg, #E7EEF4 0px, #fff 0) top right,
		linear-gradient(315deg, #E7EEF4 0px, #fff 0) bottom right,
		linear-gradient(45deg,  #E7EEF4 0px, #fff 0) bottom left;
	background-size: 50% 50%;
	background-repeat: no-repeat; 
}

/******************
MEUS LIMITES
******************/

.texto-horario-limite-lista {
	margin-left: 5%;
	font-style: normal;
	font-size: 14px;
	line-height: 18px;
	letter-spacing: 0.25px;
	color: #3BC7EA;
}

.card-meus-limites-pix {
	background: #FFFFFF;
	box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
	border-radius: 6px;
	margin-bottom: 16px;
	padding: 16px 16px 18px 16px;
}

.card-meus-limites-pix-sem-valor {
	box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
	border-radius: 6px;
	margin-bottom: 16px;
}

.header-card-meus-limites-pix {
	display: grid;
	grid-template-columns: 33% 0.5% 33% 0.5% 33%;
}

.divisoria-card-meus-limites-pix {
	border-left: 1px solid #C4C4C4;
	height: 20px;
}

.columa-header-card-meus-limites-pix {
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
}

.valor-header-card-meus-limites-pix {
	margin-left: 5%;
	font-weight: 400;
	font-size: 12px;
	line-height: 16px;
	letter-spacing: 0.25px;
	color: #005CA9;
}

.titulo-card-meus-limites-pix {
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 18px;
	letter-spacing: 0.25px;
	color: #005CA9;
}

.legenda-card-meus-limites-pix {
	font-style: normal;
	font-weight: 400;
	font-size: 10px;
	line-height: 20px;
	text-align: right;
	letter-spacing: 0.25px;
	color: #4E6178;
}

.descricao-card-meus-limites-pix {
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;
	letter-spacing: 0.25px;
	color: #3A4859;
	font-size: 14px;
	line-height: 20px;
	letter-spacing: 0.25px;
}

.label-barra-card-meus-limites-pix {
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 18px;
	letter-spacing: 0.25px;
	color: #0077DB;
}

/******************
MEUS LIMITES - HORARIO LIMITE NOTURNO
******************/
.horas-card-horario-limite-pix {
	font-style: normal;
	font-weight: 700;
	font-size: 20px;
	line-height: 28px;
	text-align: center;
	letter-spacing: 0.7px;
	color: #005CA9;
}

.label-card-horario-limite-pix {
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 18px;
	text-align: center;
	letter-spacing: 0.25px;
	color: #3A4859;
}

.info-card-horario-limite-pix {
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
	letter-spacing: 0.25px;
	color: #3A4859;
	margin-bottom: 32px;
}

.label-radio-horario-limite-pix {
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 20px;
	letter-spacing: 0.25px;
	color: #3A4859;
}

.alerta-horario-limite-pix {
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
	letter-spacing: 0.25px;
	color: #5F5F5F;
}

/******************
HABITACAO - DEBITO EM CONTA DE CONTRATO
******************/
.card-conta-debito-revitalizacao {
	padding: 18px 0px;
	background: #FFFFFF;
	box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
	border-radius: 4px;
	display: grid;
	grid-template-columns: 16% 1% 83%;
}

.texto-card-conta-debito-revitalizacao {
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 18px;
	letter-spacing: 0.25px;
	color: #5F5F5F;
}