[data-name="cm-tabs"] {
    max-height: calc(100% - 188px);
    display: flex;
    flex-direction: column;
    background: white;
    border-radius: 4px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.16);
    pointer-events: all;
}

[data-name="cm-tabs"] header,
[data-name="cm-tabs"] main,
[data-name="cm-tabs"] [data-name="cm-dialog-footer"] {
    padding: 16px;
}

[data-name="cm-tabs"] header {
    border-bottom: 1px solid #a5aab5;
    text-align: center;
    font-family: futura-bold;
    padding-top: 0px;
}

[data-name="cm-tabs"] main {
    overflow: auto;
    padding-top: 24px;
    padding-bottom: 24px;
}

[data-name="cm-tabs"] [data-name="cm-dialog-footer"] {
    border-top: 1px solid #a5aab5;
    text-align: right;
}

[data-name="cm-tabs"] nav {
    display: flex;
    margin: 12px -16px -12px -16px;
}

[data-name="cm-tabs"] nav button {
    flex: 1;
    padding: 8px;
    margin: 0;
    font-size: 1.1rem;
    border: 0;
    border-radius: 0 !important;
    border-bottom: 1px solid #a5aab5;
    background: transparent;
    transition: color 200ms;
    color: #48586c;
}

[data-name="cm-tabs"] nav button[tab-active] {
    border-bottom: 2px solid #f39200;
    padding-bottom: 7px;
    color: #005ca9;
}

[data-name="cm-tabs"] main [tab-content] {
    display: none;
}

[data-name="cm-tabs"] main [tab-content][active] {
    display: block;
}

[data-name="cm-tabs"] header.cm-dialog-header-with-nav {
    border: 0;
}