/* BANNER */
.container-titulo {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.tituloBanner {
  display: flex;
  align-items: center;
  background: #277EB6;
  padding: 20px;
  margin-top: 58px;
  height: 10vh;
  width: 100%;
}

.tituloBanner p {
  font-size: 18px;
  color: #FFFFFF;
  font-weight: bold;
}

.subtitulo {
  display: flex;
  align-items: center;
  padding: 20px;
  width: 100%;
  height: 8vh;
  background: #F2F7F8;
}

.subtitulo p {
  font-weight: inherit;
  color: #2E484D;
}