.progress-radial {
    float: left;
    margin-right: 4px;
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid #f5f5f5;
    background-color: #1e778c;
}

.progress-radial .baselay {
    position: absolute;
    width: 88px;
    height: 88px;
    background-color: #f5f5f5;
    border-radius: 50%;
    margin-left: 6px;
    margin-top: 6px;
    text-align: center;
    font-size: 16px;

}

.progress-radial .overlay {
    position: absolute;
    width: 68px;
    height: 68px;
    padding: 6px;
    background-color: #dddfe3;
    border-radius: 50%;
    margin-left: 10px;
    margin-top: 10px;
    text-align: center;
    line-height: 24px;
    font-size: 16px;
    font-family: 'futura-bold';

}

.baseContainer {
    margin-top: 12px !important;
    
}

.progress-radial .overlay .text {
    margin-top: 10px;

}    

.progress-50 {    
    background-image: linear-gradient(-90deg, #1e778c 25%, #97bc20 50%, transparent 50%, transparent), linear-gradient(270deg, #97bc20 50%, #f5f5f5 50%, #f5f5f5);
}

.progress-100 {    
    background-image: linear-gradient(60deg, #97bc20 50%, #1e778c 50%, #97bc20 5%, #1e778c 70%), linear-gradient(270deg, #97bc20 50%, #f5f5f5 50%, #f5f5f5);
}

.body-w {
    background: white;
    height: 200%;
    margin: -24px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.body-w.min-h {
    min-height: calc(60vh);
}

.white-bg {
    background: white;
}

.header-passo {
    margin: -24px;
}

.header-passo .titulo {
    background-color: #277eb6;
    color: white;
    line-height: 12px;
    font-family: 'futura-bold';
    padding: 12px;
    font-size: 10px;
}

.header-passo .passo {
    padding: 16px 8px 16px 6px;
}

.avisoBasico {
    font-size: .82rem; 
    color: #55758f;
    text-align: center;
}

strong {
    font-family: 'futura-bold';
}

.resumo {
    padding: 10px;
    text-align: center;
    line-height: 28px;
    font-size: .94rem;
    box-shadow: 1px 2px 3px 1px rgba(0, 0, 0, 0.2), 0 2px 4px 0 rgba(0, 0, 0, 0.19);
}

.resumo .resumoTopo {
    border-bottom: 1px solid #dddfe3;    
    padding-bottom: 8px;
    margin-bottom: 6px;
    width: 100%;
}

.resumo .resumoTopo #resumoApelido {
    font-family: 'futura-bold';
    font-size: 1.2rem;
    color: #f39200;
}

.dataResumo {
    font-family: 'futura-bold';
    color: #20bee8;
}

.alerta {
    color: #7a4900;
    background: #ffeba5;
    margin-top: 12px;
    margin-bottom: 6px;
    padding: 8px;    
}

.alertaRedondo {
    color: #55758f;
    background: #ffeba5;    
    padding: 12px 4px;
    font-size: .92em;
    text-align: center;
    border-radius: 5px;
}

.infoRedondo,
.infoAlert {
    color: #4E6178;
    background: #F3F7F9;    
    padding: 12px 4px;
    font-size: 16px;
    line-height: 22.4px;
    text-align: left;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
}

.infoAlert span,
.infoRedondo span {
    margin-left: 10px;
}

.divisorDispositivo {
    width: 85%;
    border-top: 2px solid #e8e9ec;
}

.opcoesDesbloqueio {
    margin: 0;
}

.opcaoDesbloqueio {
    background-color: #eff5f6;
    border-radius: 6px;
    margin: 16px 0;
    display: flex;
}

.opcaoDesbloqueio .icone {
    margin: 38px 12px;
}

.opcaoDesbloqueio .titulo {
    margin: 8px 0;
    font-family: 'futura-bold';
    color: #005ca9;
    font-size: 1rem;
}

.opcaoDesbloqueio .corpo {
    font-size: 0.9rem;
    padding-right: 10px;
}

.opcaoDesbloqueio .corpo p{
    margin-bottom: 6px;
}

.opcaoDesbloqueio .corpo .forte{
    font-family: 'futura-bold';
}

.opcaoDesbloqueio .corpo::before {
    float: right;
    content: "";
    font-family: 'futura-bold';
    font-size: x-large;
    position: relative;
    top: 45%;
    background-image: url('../img/cadDispositivo/arrowRight.png');
    background-repeat: no-repeat;
    width: 12px;
    height: 16px;
    line-height: 100%;
    transform: translate(6px, 10px);
}

.opcaoDesbloqueio .rodape {
    margin: 8px 0;
    font-family: 'futura-bold';
    text-align: right;
    color: #f39200;
    padding-right: 10px;
}

.tituloInstrucoes {
    background-color: #eff5f6;
    text-transform: uppercase;
    color: #005ca9;
    font-size: 1rem;
    font-family: 'futura-bold';
    display: flex;
    padding: 14px;
    margin-bottom: 12px;
}

.tituloInstrucoes span {
    margin-left: 12px;
    line-height: 44px;
}

.itemInstrucoes {
    display: flex;
    flex-direction: row;
    border-left: 2px solid #c4c4c4;
    padding-left: 20px;
}

.itemInstrucoes .corpo {
    background-color: #eff5f6;
    padding: 0 6px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.itemInstrucoes .corpo::before {
    content: "";
    float: left;
    position: relative;
    top: 42%;
    height: 6px;
    width: 6px;
    border-radius: 50%;
    border: 3px solid #f39200;
    background: white;
    transform: translateX(-33px);
}

.itemInstrucoes .ultimo {
    padding-bottom: 12px;
}

.itemInstrucoes .corpo .titulo {
    font-family: 'futura-bold';
    color: #005ca9;
    padding-left: 30px;
    line-height: 26px;
    background-image: url('../img/cadDispositivo/bulletTitulo.png');
    background-repeat: no-repeat;
}

.itemInstrucoes .corpo .subtitulo {
    padding-left: 30px;
}

.itemInstrucoes .corpo .textoComImagem {
    padding-left: 42px;
}

.itemInstrucoes .corpo .textoComImagem .imagem {
    width: 232px;
    height: 149px;
    border-radius: 6px;
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2), 2px 5px 6px 2px rgba(0, 0, 0, 0.19);
    margin: 8px 0;
    background-repeat: no-repeat;
    background-color: #707070;
}

.itemInstrucoes .corpo .textoComImagem .lite {
    height: 120px;
}

.separador {
    width: 100%; 
    text-align: center;
    border-bottom: 1px solid black;
    line-height: 0.1em;
    margin-top: 10px;
    margin-bottom: 24px;
}

.separador span {
    background: white;
    padding:0 2px;
}

.cadastro-link {
    color: #005da8;
    text-decoration: underline;
    font-size: 1.06rem;
}

.modalPreLoading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ffffff !important;
    z-index: 99999;
}
  
.modalPreLoading .preLoading {
    background: url(/statics-components/js/componentes/loading/img/loading_mobile.gif) no-repeat center center !important;
    position: absolute;
    z-index: 65557;
    width: 120px;
    height: 120px;
    border-radius: 10px;
    border: 2px solid #fff;
    top: 50%;
    left: 50%;
    margin-left: -60px;
    margin-top: -60px;
}

.modalPreLoading .preLoading:after {
    content: "carregando...";
    position: absolute;
    top: 84%;
    left: 50%;
    margin-left: -42.25px;
    color: #777;
}