/**
* @project Caixa Economica Federal | Internet Banking
* @project URI http://www.caixa.gov.br/
* @version 2013 
* @author CPM Braxis Capgemini
* @author URI http://www.cpmbraxis.com
* @copyright 2013 CPM Braxis Capgemini
*/
/* -------------------------------------------------- 
    Table of Contents
-----------------------------------------------------
:: Variables
:: Global Standards
:: Links
:: Header
:: Footer 
:: Grid
:: Media Queries
:: Button

/*	--------------------------------------------------
	:: Variables
	-------------------------------------------------- */
/*  --------------------------------------------------
	:: Global standards
	--------------------------------------------------*/

html body.home {
  position: relative;
  color: #303030;
  background: url(../img/bgHeaderFooter.jpg) repeat-x #f1f1f1 0 -377px;
}


html body.internal {
  position: relative;
  color: #303030;
  background: url(../img/bgHeaderFooterInternal.jpg) repeat-x white 0 -378px;
}


html body.internalSearch {
  position: relative;
  color: #303030;
  background: url(../img/bgHeaderFooterInternalSearch.jpg) repeat-x white 0 -377px;
}


html body.popup {
  position: relative;
  font: 0.625em Arial, Helvetica, sans-serif;
  color: #303030;
}

/*	--------------------------------------------------
	:: Links
	-------------------------------------------------- */

a {
  color: #003576;
  text-decoration: none;
  line-height: inherit;
}

a:hover {
  color: #0059be;
  text-decoration: underline;
  outline: none;
}

/*	--------------------------------------------------
	:: Header
	-------------------------------------------------- */

.home header {
  height: 200px;
}


header {
  margin: 0 auto;
  height: 230px;
}

header .brand a {
  float: left;
  margin: 25px 0px 0px 0px;
  width: 144px;
  height: 49px;
  text-indent: -9999px;
  background: url(../img/imgLogin.png) no-repeat 0 -668px;
}

.opacity {
  position: absolute;
  width: 3000px;
  margin: 0 0 0 -500px;
  height: 100%;
  display: none;
  background: url(../img/opacity.png) repeat;
}

/* Fonts and Titles------- */

h2 {
  font: bold 1.24em Arial, Helvetica, sans-serif;
  float: left;
  color: #0059be;
}


.normalText {
  font: 0.875em Arial, Helvetica, sans-serif;
  color: #303030;
  line-height: 1.5em;
}

/* Access Bar ---------- */
header .accessBar {
display: inline;
float: left;
width: 50%;
position: relative;
height: 24px;
font-size: 10px;
}
.accessBar li {
  color: #fff;
  display: inline;
  margin: 0 15px 0 0;
  padding: 5px 0 0 0;
  float: left;
}

.accessBar li a {
  color: #fff;
}

.accessBar li:hover {
  color: #fff;
  text-decoration: underline;
}

/* Accessibility Bar Right---------- */

header .accessWebRight {
	position: relative;
	height: 24px;
	font-size: 10px
}
header .accessWebRight {
	display: inline;
	float: right;
	width: 50%;
}
.accessWebRight li a {
	color: #fff;
}
.accessWebRight li a:hover {
	text-decoration: none
}
.accessWebRight li {
	display: inline;
	float: right;
	margin: 0 7px 0 0;
	padding: 5px 0 0 0;
	color: rgb(255, 255, 255);
}
.accessWebRight .accessContrast {
	margin: 0 5px 0 0;
}
.accessWebRight .accessContrastOn {
	margin: 0 5px;
}
.accessWebRight .accessSeparator {
	margin: 0 10px 0 0;
}
.accessWebRight .AcessFontMax {
	position: relative;
	top: 1px;
}
.accessWebRight .AcessFontMin {
	position: relative;
	top: 1px;
	font-size: 8px
}
/* Btns Pessoa Juridica / Gov ---------- */

div .accountPjGov {
  float: left;
  margin: 12px 0px 0px 158px;
  width: 208px;
  height: 34px;
}


a.pj {
  float: right;
  width: 96px;
  height: 34px;
  margin: 0;
  text-indent: -9999px;
  cursor: pointer;
  background: url(../img/iconGalery.png) no-repeat -845px 1px;
}


a.gov {
  float: right;
  width: 104px;
  height: 34px;
  margin: 0 0 0 8px;
  text-indent: -9999px;
  cursor: pointer;
  background: url(../img/iconGalery.png) no-repeat -942px 1px;
}

/* User ---------- */

.user {
	font: bold 0.625em Arial, Helvetica, sans-serif;
	margin: 15px 0px 0px 4%;
	float: left;
	text-shadow: 0 2px 0 black;
	color: #fff;
	height: 33px;
}

.AccessOther {
	font: bold 11px Arial, Helvetica, sans-serif;
	float: right;
	width: 10%;
	max-width: 600px;
	min-width: 226px;
	height: 35px;
	margin: 6px 0 0 29px;
	background: #003576;
	text-shadow: 0 2px 0 black;
	color: #fff;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-top: 1px solid #2570bc;
	padding: 8px 11px;
}

.AccessOther .gerAccess a.managerAccess {
	float: left;
	margin: 0 0 0 12px;
	cursor: pointer;
}

/* Account ---------- */

.account {
	font: bold 11px Arial, Helvetica, sans-serif;
	float: left;
	width: 50%;
	max-width: 600px;
	min-width: 265px;
	height: 31px;
	margin: 6px 0 0 4%;
	background: #003576;
	text-shadow: 0 2px 0 black;
	color: #fff;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-top: 1px solid #2570bc;
	padding: 10px 10px;

}

.account #divBtnFavorite{
	border-left: solid 1px #002353;
	width: 100px;
	float: right;
	margin: -24px 0 0;
	padding: 8px 5px 4px 13px;
	height: 39px;
}

.account a.btnFavorite:hover {
	text-decoration: none;
}
.account a.btnFavorite {
	float: left;
	width: 94px;
	height: 31px;
	margin: 0;
	padding: 3px 0 0 10px;
	color: #fff;
	font-weight: normal;
	border-top: 1px solid #2570bc;
	text-shadow: 0 2px 0 black;
	border-radius: 3px;
	cursor: pointer;
	background: #1e69bf;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…EiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, #1e69bf 0%, #0e58ad 46%, #014a9d 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1e69bf), color-stop(46%, #0e58ad), color-stop(100%, #014a9d));
	background: -webkit-linear-gradient(top, #1e69bf 0%, #0e58ad 46%, #014a9d 100%);
	background: -o-linear-gradient(top, #1e69bf 0%, #0e58ad 46%, #014a9d 100%);
	background: -ms-linear-gradient(top, #1e69bf 0%, #0e58ad 46%, #014a9d 100%);
	background: linear-gradient(to bottom, #1e69bf 0%, #0e58ad 46%, #014a9d 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e69bf', endColorstr='#014a9d', GradientType=0 );
}
.account a.btnFavorite img {
	float: left;
	margin: 3px 3px 0 0;
}
.account dl {
  float: left;
  padding: 10px 3px 10px 3px;
  margin: 2px 0px 0px 0px;
}

.account dd {
  color: #afdeff;
}

.account .bgAccountLeft {
  background: url(../img/bgHeaderFooter.jpg) 0 0;
  float: left;
  width: 10px;
  height: 50px;
}

.account .bgAccountRight {
  background: url(../img/bgHeaderFooter.jpg) 0px -50px;
  float: right;
  width: 10px;
  height: 50px;
}

.account .accountStrip {
  border-left: 1px solid #002353;
  height: 25px;
}

.account .accountStrip a {
  color: #ffffff;
}

.rightLogoff{
	float:right;
	margin: 14px 0 0 0;
}
.account .hideBalance {
  padding: 2px 20px 2px 0;
  color: #fff;
  background: url(../img/hideIcon.png) no-repeat top right;
}

.alignSearch{
	width: 67%;
	margin: 5px 0px 0px 224px;
	float: left;
	padding: 9px;
}

/*	---- Position Combo Box------ */

.posComboBox {
  float: left;
  width: 50%;
}

/*	----Position Refresh Balance------ */

.posRefreshBalance {
  margin: 20px 0 0 0;
  * margin: 12px 0 0 0;
  width: 40%;
  * clear: both;
}

.posRefreshBalance button {
  float: right;
}


#totalBalance {
  display: none;
}


.totalBalance {
  float: left;
  width: 100%;
  text-align: right;
  margin: 15px 0 0 0;
}

/*  --------------------------------------------------
	:: Container
	--------------------------------------------------*/

.main {
  width: 100%;
  margin: 0 auto;
  max-width: 1000px;
  min-width: 500px;
}


.home .content {
  margin: 50px 0 0 0;
}


.content {
  display: table;
  margin: 0 auto;
  margin: 5px 0 0 0;
}


.divContent{
	height: 420px;
	width:  980px;
}


.container {
  display: inline;
  float: left;
  margin: 0 0 0 5px;
}


.right {
  float: right;
}


.left {
  float: left;
}

/*  --------------------------------------------------
	:: Internal
	--------------------------------------------------*/

.buttomGroup {
  margin: 20px 0 0 0;
}


.buttomGroupTwo {
  margin: 20px 0 20px 0;
  clear: both;
}


.containerTitle {
  margin: 32px 0 32px 0;
  float: left;
}


.containerComboAccount {
  float: left;
  display: inline;
  clear: both;
}


.containerInfo {
  display: block;
  float: right;
  padding: 5px 0 5px 25px;
  margin: 32px 0 32px 0;
  width: 105px;
  height: 22px;
  background: url(../img/iconGalery.png) no-repeat -1127px 5px;
}

.containerInfo a {
  color: #747474;
}

.containerInfo .right {
  float: right;
}

.containerInfo:hover {
  color: #747474;
  text-decoration: underline;
}


.txtInfo {
  font: 0.688em Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  color: #cccccc;
}


.left {
  float: left;
}

/*	--------------------------------------------------
	:: TABLES
	-------------------------------------------------- */

.tables {
  width: 100%;
  float: left;
  border-collapse: collapse;
  padding: 0px;
  border: none;
  font-family: Arial, Helvetica;
  position: relative;
  margin: 25px 0px 0px 0px;
  /*	------TEXT TABLES-------- */
  /*	----BORDERS TABLES------ */
}

.tables tbody.blue tr.alternateRow td {
  background: #CBDBEE;
  border: none;
}

.tables tbody.white tr.alternateRow td {
  background: #ffffff;
  border: none;
}

.tables tbody td {
  background-color: #D6E1EE;
  line-height: 44px;
  padding: 0;
}

.tables tbody.white td {
  background: #e7e7e7;
  line-height: 44px;
  padding-left: 16px;
}

.tables th {
  font: bold 0.688em Arial, Helvetica, sans-serif;
  color: #003576;
  border-top: 1px solid #003576;
  background: #e7e7e7;
}

.tables .linkUnderline {
  text-decoration: underline;
}

.tables .txtDateRef {
  color: #000000;
  font: bold 0.875em Arial, Helvetica, sans-serif;
  text-align: center;
  line-height: 44px;
  padding: 0 15px 0 15px;
}

.tables .txtLeft {
  text-align: left;
  padding-left: 16px;
  font: 0.750em Arial, Helvetica, sans-serif;
  line-height: 44px;
  font-weight: normal;
  color: #303030;
}

.tables .txtRight {
  text-align: right;
  padding-right: 16px;
  font: 0.750em Arial, Helvetica, sans-serif;
  line-height: 44px;
  font-weight: normal;
  color: #303030;
}

.tables .txtSaldo {
  font: bold 0.875em Arial, Helvetica, sans-serif;
  color: #003576;
  text-align: right;
  padding-right: 16px;
}

.tables .txtTotal {
  color: #000000;
  font: bold 0.875em Arial, Helvetica, sans-serif;
  line-height: 44px;
}

.tables .cab {
  padding: 0 16px 0 16px;
  font: bold 0.688em Arial, Helvetica, sans-serif;
  color: #003576;
  height: 44px;
  border-bottom: 2px solid #003576;
  text-transform: uppercase;
}

.tables .dtRef {
  padding: 0;
  font: bold 0.688em Arial, Helvetica, sans-serif;
  color: #003576;
  height: 44px;
  border-bottom: 2px solid #003576;
  text-transform: uppercase;
  text-align: center;
}

.tables .title {
  font: bold 1.000em Arial, Helvetica, sans-serif;
  color: #003576;
  background: #fff;
  border: none;
  text-align: left;
  line-height: 40px;
}

.tables #extrato .borderLeft {
  background-image: url(../img/tdBorderLeft.png);
  width: 8px;
  height: 44px;
  background-repeat: no-repeat;
}

.tables #extrato .borderRight {
  background-image: url(../img/tdBorderRight.png);
  width: 8px;
  height: 44px;
  text-align: right;
  background-position: right;
  background-repeat: no-repeat;
}

.tables #investiment .borderLeft {
  background-image: url(../img/tdBorderLeft.png);
  width: 8px;
  height: 44px;
  background-repeat: no-repeat;
}

.tables #investiment .borderRight {
  background-image: url(../img/tdBorderRight.png);
  width: 8px;
  height: 44px;
  text-align: right;
  background-position: right;
  background-repeat: no-repeat;
}

.tables .divBorderBottom {
  background-color: #FFFFFF;
  line-height: 6px;
  position: relative;
  background-repeat: no-repeat;
  width: 100%;
  border: none;
}

.tables .borderBottomLeft {
  height: 6px;
  width: 6px;
  float: left;
  position: relative;
  background: url(../img/bordersTable.png) no-repeat 0px 0px;
  margin: -6px 0px 0px 0px;
}

.tables .borderBottomRight {
  height: 6px;
  width: 6px;
  float: right;
  position: relative;
  background: url(../img/bordersTable.png) no-repeat -7px 0px;
  margin: -6px 0px 0px 0px;
}

.tables .tdBottom {
  border-Bottom: 1px solid #cccccc;
  width: 100%;
  height: 1px;
  padding: 0px;
  margin: 0;
  background: #fff;
  background-image: none;
}

.tables .divBorderTop {
  width: 100%;
  line-height: 6px;
  margin-bottom: 0px;
  position: relative;
  background-repeat: no-repeat;
  border: none;
}

.tables .borderTopLeft {
  height: 6px;
  width: 6px;
  float: left;
  position: relative;
  background: url(../img/bordersTable.png) no-repeat -14px 0px;
  margin: 0;
}

.tables .borderTopRight {
  height: 6px;
  width: 6px;
  float: right;
  position: relative;
  background: url(../img/bordersTable.png) no-repeat -21px 0px;
  margin: 0;
}

.tables .obs {
  color: #1a1a1a;
  font: 0.750em Arial, Helvetica, sans-serif;
  margin-top: 6px;
  float: left;
  white-space: nowrap;
}

/*	--------------------------------------------------
	:: Footer
	-------------------------------------------------- */

footer {
	width: 100%;
	margin: 0 auto;
	float: left;
	clear: both;
	background: #246cc0;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzI0NmNjMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMzRiOWYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #246cc0 0%, #034b9f 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#246cc0), color-stop(100%,#034b9f));
	background: -webkit-linear-gradient(top,  #246cc0 0%,#034b9f 100%);
	background: -o-linear-gradient(top,  #246cc0 0%,#034b9f 100%);
	background: -ms-linear-gradient(top,  #246cc0 0%,#034b9f 100%);
	background: linear-gradient(to bottom,  #246cc0 0%,#034b9f 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#246cc0', endColorstr='#034b9f',GradientType=0 );
	height: 65px;
}

footer .mainFooter {
  width: 100%;
  margin: 0 auto;
  max-width: 980px;
  min-width: 800px;
  position: relative;
  padding: 0 10px;
  font-size: 0.7em;
  font-weight: bold;
  color: #fff;
  text-shadow: 0 2px 0 #000000;
}

footer ul li:first-child {
	border: none;
	border-right: 1px solid #227bb9;
}

footer ul li {
	display: inline;
	float: left;
	border-left: 1px solid #003576;
	height: 65px;
	border-right: 1px solid #227bb9;
}

footer ul li:last-child {
	border-right: none;
}

footer ul li a {
	color: rgb(255, 255, 255);
	margin: 15px 0px 0px 5px;
	padding: 10px 10px;
	float: left;
}

footer ul li a {
  color: #fff;
}

footer ul li a:hover {
  color: #fff;
  text-decoration: underline;
}

footer .supTec {
  width: 267px;
  display: block;
  float: left;
  margin: 25px 0 0 5px;
}
/*	--------------------------------------------------
:: Grid
-------------------------------------------------- */

.c01 {
  width: 3.0%;
}


.c02 {
  width: 8.0%;
}


.c03 {
  width: 13.0%;
}


.c04 {
  width: 18.0%;
}


.c05 {
  width: 23.0%;
}


.c06 {
  width: 28.0%;
}


.c07 {
  width: 33.0%;
}


.c08 {
  width: 38.0%;
}


.c09 {
  width: 43.0%;
}


.c10 {
  width: 48.0%;
}


.c11 {
  width: 53.0%;
}


.c12 {
  width: 58.0%;
}


.c13 {
  width: 63.0%;
}


.c14 {
  width: 68.0%;
}


.c15 {
  width: 73.0%;
}


.c16 {
  width: 78.0%;
}


.c17 {
  width: 83.0%;
}


.c18 {
  width: 88.0%;
}


.c19 {
  width: 93.0%;
}


.c20 {
  width: 98.0%;
  min-width: 855px;
}

/* Modal Content ---------- */

.knowMorelogin {
  overflow-x: hidden;
  overflow-y: visible;
  top: 15%;
  left: 15%;
  display: none;
}


.knowMore {
  z-index: 65557;
  position: absolute;
  top: 71px;
  left: 426px;
  width: 475px;
  height: 200px;
  border: solid 10px #8a8a8a;
  background-color: white;
}


.knowMoreContent {
  width: 460px;
  height: auto;
  overflow-y: auto;
}

.knowMoreContent .btClose {
  float: right;
  margin: 30px 20px 0px 0px;
}

.knowMoreContent .btClose .buttonBlue {
  position: relative;
  float: left;
  height: 36px;
  margin-left: 15px;
  padding: 0 10px 0 10px;
  font-size: 11px;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
  text-shadow: none;
  overflow: visible;
}

.knowMoreContent .tabContent {
  margin-top: 20px;
  padding: 0px 0px 0px 20px;
}

.knowMoreContent .tabContent p {
  font-size: 15px;
  color: #303030;
  text-align: justify;
  padding: 6px 10px 20px 0px;
}

.knowMoreContent .tabContent .titleModalKnowMore {
  font-size: 15px;
  font-weight: bold;
  color: #003576;
  text-decoration: none;
  text-align: left;
  vertical-align: middle;
  padding: 0px 0px 10px 0px;
}


.buttonRight {
  right: 35px;
  position: absolute;
}


container {
  width: auto;
}

/*	--------------------------------------------------
	:: Media Queries
	-------------------------------------------------- */
/* 800X600 ---------- */
@media all and (max-width: 840px) and (min-width: 10px) {
  .account {
    width: 525px;
  }
  .c20 {
    min-width: 768px;
  }
  .user {
    margin: 15px 0px 0px 50px;
  }
  .main {
    padding: 0 0 0 10px;
  }
  .c16 {
    width: 70%;
  }

  div .accountPjGov {
    float: left;
    margin: 12px 0 0 135px;
    width: 86px;
    height: 34px;
  }
  span.pj {
    float: right;
    width: 39px;
    height: 34px;
    margin: 0;
    text-indent: -9999px;
    cursor: pointer;
    background: url(../img/iconGalery.png) no-repeat -1047px 1px;
  }
  span.gov {
    float: right;
    width: 39px;
    height: 34px;
    margin: 0 0 0 8px;
    text-indent: -9999px;
    cursor: pointer;
    background: url(../img/iconGalery.png) no-repeat -1087px 1px;
  }
  footer .supTec {
    margin-right: 1%;
  }
  footer .toolbar {
    margin: 10px 20px 0 0;
  }
  footer .toolbar .msgBulletClose {
    right: 107px;
  }
  footer .toolbarOpen {
    margin: 12px 0px 0 0;
  }
  .containerInfo {
    width: 120px;
  }
}
@media all and (max-width: 940px) and (min-width: 841px) {
  .c16 {
    width: 75%;
  }
  .containerInfo {
    width: 120px;
  }
}
/* Tablet ---------- */
@media all and (max-width: 800px) and (orientation: portrait) {
  .account {
    background-position: 0px -101px repeat-x;
  }
  .account .bgAccountRight, .account .bgAccountLeft {
    width: 9px;
  }
  .account div.GerAccess {
    border-left: none;
    width: 34px;
    float: right;
    padding: 0;
    margin: 0;
  }
  header span.logout {
    float: right;
    margin: 6px 66px 0 0;
  }
  .c16 {
    width: 100%;
  }
  .toolbar {
    margin: 10px 20px 0 0;
  }
  .toolbar .msgBulletClose {
    top: 17px;
    right: 100px;
    position: absolute;
  }
}


/*  MSIE Windows Phone  */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    html {
        height: 95%;
        overflow: auto;
        position: fixed;
        width: 100%;
        -ms-touch-action: none !important;
    }
    body {
        display: block;
        height: 92%;
        position: relative;
        -ms-touch-action: none !important;
    }
   
    #conteudo{
	    max-height: 400px;
	    overflow: auto;
	    position: fixed;
	    top: 0;
	    
	}
    
    #frmDados {
        height: 300px !important;
        overflow: auto !important;
        position: absolute !important;
        width: 96% !important;
    }
    #toolbarOpen,
    #toolbarClose {
        position: absolute !important;
        bottom: 0px !important;
    }
    .content {
        margin: 100px 10px;
    }
    .button-blue-leitor {
        margin-top: 40px !important;
    }
    
    .ContaFooter{
    	width: 28% !important;
    }
    
    footer ul li {
		font-size: 7px !important;
		margin-bottom: 0px !important;
		margin-left: 0px !important;
		margin-right: 0px !important;
		margin-top: 3px !important;
	}
    
}

