.bgWrapper {
    position: relative;
}

.comprovanteBG {
    background: #0A5593;
    background-image: url('../img/comprovante/comprovante-bg.png');
    background-repeat: no-repeat;
    background-position: center top;
    height: 172px;
    margin-bottom: 16%;
}

.comprovanteBG div {
    background: url('../img/comprovante/comprovante-logo.png');
    background-image: url('../img/comprovante/comprovante-logo.svg'), none;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 21px;
    height: 100%;
}

.stackBG {
    position: absolute;
    top: 90px;
}

.resumo-header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 16px;
    text-align: center;

    width: 90%;
    margin: 16px;
    background: #FFFFFF;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
}

.flex-row {
    flex-direction: row;
}

.resumo-header-divisor {
    border-left: 1px solid #C4C4C4;
    padding-left: 4%;
}

.resumo-header-valor {
    color: #005CA9;
    font-weight: bold;
    font-size: large;
}

.resumo-header-data {
    color: #005CA9;
    font-weight: bold;
}

.resumo-header-hora {
    color: #005CA9;
    font-size: small;
}

.header-topo {
    font-weight: bold;
    font-size: medium;
    background: #EEEEF1;
    padding: 16px 14px;
    color: #0A5593;
    margin: 16px 0px;
}

.secao-header {
    color: #005CA9;
    font-size: medium;
    font-weight: bold;
    margin-bottom: 10px;
}

.secao-borda-inferior {
    border-bottom: 1px solid;
    padding: 8px 0px;
}

.secao-valor {    
    font-weight: bold;
    margin-bottom: 16px;
}

.lista-item {
    padding: 16px 0px;
    border-top: 1px solid #C4C4C4;
    margin: 0px 16px;
}

.dica {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 8px;
    background: rgba(243, 247, 249, 0.9);
    border-radius: 2px;
    width: 90%;
    margin: 24px 5%;
    font-size: small;
}

.dica .icon {
    font-size: large;
    margin-right: 8px;
}

.botao-rodape {
    width: 110px;
    height: 96px;
    border: 1px solid #4E6178;
    box-sizing: border-box;
    border-radius: 6px;
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    padding: 5px 10px 5px 10px;

    box-shadow: 0 0 5px -1px rgba(0,0,0,0.6);       
}

.botao-rodape>div {
    text-align: center;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;

    display: flex;
    align-items: flex-end;
    text-align: center;
    letter-spacing: 0.25px;

    color: #4E6178;
 }

 .botao-rodape>i {
     margin-bottom: 10px;
 }

 .botao-rodape-blue {
     border: 1px solid #0077DB;
     color: #0077DB;
 }

 .botao-rodape-blue>div {
     color: #0077DB;
 }

 .infoBlock {
    background: #F4F4F6;
    padding: 16px 0px;
    font-size: small;
 }