body#home {
	background: #000;
}

html,body {
	font-family: arial;
	word-wrap: break-word;
}



/* SM, MD e LG */
@media ( min-width : 768px) {
	.imgInterface {
		background-image: url("../img/img_alta_res_contraste.png") !important;
		background-repeat: no-repeat !important;
		background-size: 512px !important;
	}
	.navbar-collapse {
		padding-left: 0;
		padding-right: 0;
	}
	.acessSuperior {
		background-color: #000;
		border-bottom: 1px solid #fff;
	}
	.botaoAcess {
		margin: 7px;
		width: 10px;
		height: 10px;
		background-color: transparent;
		border: 0;
	}
	.iconeAtivaContraste {
		background-position: -270px -0px !important;
	}
	.iconeDesligaContraste {
		background-position: -285px -0px !important;
	}
	.iconeAumentaFonte {
		background-position: -297px -0px !important;
	}
	.iconeDiminuiFonte {
		background-position: -308px -0px !important;
	}
	.headerPrincipal {
		background: #000;
		background-image: none !important;
		border-bottom: 1px solid white;
	}
	.painelLogo {
		margin-top: 28px;
		margin-bottom: 28px;
		margin-left: 0px;
		margin-right: 35px;
	}
	.logo {
		width: 145px;
		height: 50px;
		background-position: 0px 0px;
	}
	.painelUsuario {
		height: 53px;
		display: table;
	}
	.painelUsuario ul {
		margin-top: 10px;
	}
	.iconeUsuario {
		margin-top: 16px;
		background-position: -256px -12px !important;
	}
	.usuario {
		font-weight: bold;
		font-size: 1em;
		text-shadow: 0 1px 0 black;
		color: #fff !important;
		float: left;
		display: table-cell;
		margin-left: 10px;
	}
	.acesso {
		font-weight: bold;
		font-size: 0.786em;
		text-shadow: 0 1px 0 black;
		color: #fff !important;
		float: left;
		display: table-cell;
		margin-left: 10px;
	}
	.painelConta {
		background: #000 !important;
		border: 1px solid #FFF !important;
	}
	.painelConfiguracao {
		background: #000 !important;
		border: 1px solid #FFF !important;
	}
	.painelContaFonte1 {
		color: #fff !important;
	}
	.painelContaFonte2 {
		color: #fff !important;
	}
	.painelContaFonte3 {
		color: #fff !important;
	}
	.botaoFavoritos {
		background: #000;
	}
	.painelSaldo {
		border-left: 1px solid #fff !important;
	}
	.botao {
		border-radius: 3px;
		color: #fff !important;
		background-image: url("../img/bg_button.jpg");
		background-repeat: repeat-x;
	}
	.botaoConfiguracoes {
		color: #fff !important;
		background-image: url("../img/bg_button.jpg");
		background-repeat: repeat-x;
	}
	.iconeSetaBaixo {
		position: relative;
		display: inline-block;
		width: 13px;
		height: 10px;
		background-position: -329px -12px !important;
		margin-left: 4px;
	}
	.iconeFavoritos {
		background-position: -282px -12px !important;
	}
	.iconeConfiguracao {
		background-position: -305px -12px !important;
	}
	.fonteBotao {
		background: #000 !important;
		border: 1px solid #fff;
	}
	.fonteBranca {
		color: #fff !important;
	}
	.botaoSair {
		font: bold 11px Arial, Helvetica, sans-serif;
		width: 52px;
		height: 24px;
		color: #fff;
		background: #003576;
		cursor: pointer;
		border-radius: 2px 2px 2px 2px;
		-moz-border-radius: 2px 2px 2px 2px;
		-webkit-border-radius: 2px 2px 2px 2px;
		border: 0px solid #000000;
		-webkit-box-shadow: 1px 1px 1px 0px rgba(67, 140, 207, 1);
		-moz-box-shadow: 1px 1px 1px 0px rgba(67, 140, 207, 1);
		box-shadow: 1px 1px 1px 0px rgba(67, 140, 207, 1);
		top-border: 1px solid #113e7b;
		border-right: 1px solid #1f5fa9;
		border-bottom: 1px solid #1f66b6;
		border-left: 1px solid #1f5fa9;
	}
	.iconeSair {
		position: relative;
		display: inline-block;
		width: 10px;
		height: 10px;
		background-position: -256px 0px;
	}
	.BGTopo {
		background: #000 !important;
	}
	.BGTopo:before{
		border-bottom: 1px solid #fff;
		height: 25px;
		background-color: #000;
	}
	.BGTopo .complemento-headerPrincipal{
		background-color: #000;
		border-top: 1px solid white;
		border-bottom: 1px solid white;
	}
		
	.pesquisaPrincipal {
		background-color: #000;
		border-bottom: 1px solid white;
		height: 68px;
	}
	.painelConta{
		height: 49px;
	}
	.painelConfiguracao {
  		height: 49px;
	}
	.campoPesquisa {
		font-size: 1.400em;
		font-weight: bold;
		color: rgb(169, 169, 169);
		background: rgb(229, 229, 229);
		padding: 0px 8px 0px 8px;
		height: 39px;
		border-radius: 8px;
		border-top: 1px solid;
		width: 40%;
	}
	.botaoPesquisa {
		background-color: #000;
	}
	.iconePesquisa {
		background-position: -256px -36px !important;
	}
	.botaoPesquisa.active {
		
	}
	#botaoPesquisar {
		background: linear-gradient(to bottom, #fff 0%, #eee 47%, #ddd 100%)
			!important;
		border-color: #fff !important;
		color: #000 !important;
	}
	.corpoPrincipal {
		background: black;
	}
	.botaoCarrossel {
		background-color: transparent;
		width: 80px;
		height: 100px;
		border: 0;
		margin-top: 10px;
	}
	.iconeCarrossel {
		width: 78px;
		height: 84px;
		position: relative;
		display: inline-block;
	}
	/* carrossel interno */
	.tituloMenuInterno {
		color: #ddd !important;
	}
	.submenuInterno>div li.submenuTitle {
		color: #000 !important;
	}
	/* fim carrossel interno */
	.minhaConta {
		background-position: -10px -55px;
	}
	.textoBotaoCarrossel {
		color: #003576;
		display: block;
		font-size: 11px;
		font-weight: bold;
		font-family: Arial, Helvetica, sans-serif;
		text-align: center;
		text-transform: uppercase;
	}
	.bannerPrincipal {
		margin-top: 20px;
	}
	.menuPrincipal {
		padding-top: 20px;
	}

	/** Carousel **/
	.jcarousel {
		position: relative;
		overflow: hidden;
		margin-left: 40px;
		margin-right: 40px;
		width: 100%;
	}
	.jcarousel ul {
		/*width: 20000em;*/
		height: 208px;
		position: relative;
		list-style: none;
		margin: 0px;
		padding: 0px;
	}
	.jcarousel li {
		float: left;
		margin-left: 15px;
		margin-right: 15px;
		display: block;
		font-size: 11px;
		font-weight: bold;
		text-align: center;
		text-transform: uppercase;
		width: 106px;
	}

	/** Carousel Controls **/
	.prev,.next {
		/*position: relative;*/
		top: -160px;
		outline: none;
		width: 30px;
		height: 44px;
		border: none;
	}
	.prev {
		float: left;
		background: url(../img/menu-arrow-left.png);
		width: 30px;
		height: 44px;
		border: none;
	}
	.next {
		float: right;
		background: url(../img/menu-arrow-right.png);
		width: 30px;
		height: 44px;
		border: none;
	}
	img.menuSize {
		width: 85px;
		height: 85px;
	}
	.menu-container {
		width: 100px;
		height: 125px;
		text-align: center;
	}
	.menu {
		width: 85px;
		height: 125px;
		text-align: center;
	}
	.submenu-container {
		z-index: 100;
	}
	.submenu {
		background-color: gainsboro;
		position: absolute;
		border: 1px solid gainsboro;
	}
	.hide {
		display: none;
	}
	.arrow {
		width: 0;
		height: 0;
		border-left: 10px solid transparent;
		border-right: 10px solid transparent;
		border-bottom: 10px solid gainsboro;
		position: relative;
	}
	/*span {*/
	/*color: darkblue;*/
	/*font-size: 12px;*/
	/*}*/
	.rodapePrincipal {
		background: #000 !important;
		border-top: 1px solid #fff;
	}
	.rodapeBtSeguranca {
		height: 60px;
		margin-top: 5px;
		color: #fff;
		background-repeat: repeat-x;
		vertical-align: middle;
		display: table-cell;
	}
	.rodapeBtAtendimento {
		height: 60px;
		margin-top: 5px;
		color: #fff;
		background-repeat: repeat-x;
		vertical-align: middle;
		display: table-cell;
	}
	.rodapeBtAjuda {
		height: 60px;
		margin-top: 5px;
		color: #fff;
		background-repeat: repeat-x;
		vertical-align: middle;
		display: table-cell;
		text-align: center;
	}
	.rodapeBtTermos {
		height: 60px;
		margin-top: 5px;
		color: #fff;
		background-repeat: repeat-x;
		vertical-align: middle;
		display: table-cell;
		margin-left: -20px;
	}
	a.rodapeBtSeguranca:hover,a.rodapeBtSeguranca:visited,a.rodapeBtSeguranca:link,a.rodapeBtSeguranca:active
		{
		background: #000 !important;
		height: 64px;
	}
	a.rodapeBtAtendimento:hover,a.rodapeBtAtendimento:visited,a.rodapeBtAtendimento:link,a.rodapeBtAtendimento:active
		{
		background: #000 !important;
		height: 64px;
	}
	a.rodapeBtAjuda:hover,a.rodapeBtAjuda:visited,a.rodapeBtAjuda:link,a.rodapeBtAjuda:active
		{
		background: #000 !important;
		height: 64px;
	}
	a.rodapeBtTermos:hover,a.rodapeBtTermos:visited,a.rodapeBtTermos:link,a.rodapeBtTermos:active
		{
		background: #000 !important;
		height: 64px;
	}
	.rodapeBtDir {
		border-left: 1px solid #fff;
	}
	.rodapeBtDirLinha {
		border-left: 1px solid #fff;
	}
	.rodapeBtDirTC {
		margin-right: 107px;
	}
	.rodapeBtEsq {
		margin-top: 22px;
		padding-left: 15px;
	}
	/* .painelFerramentas {
		height: 52px;
		background: black;
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
		border: 1px solid white;
	} */
	.botaoRodape {
		background: #000;
	}
	.botaoRodapeAlerta {
		position: relative;
		display: inline-block;
		background-position: -257px -67px;
		width: 34px;
		height: 34px;
		background-repeat: no-repeat;
		margin-right: 5px;
		margin-left: 6px;
		padding: 0;
	}
	.iconeAlerta {
		float: left;
		position: relative;
		display: inline-block;
		width: 6px;
		height: 22px;
		background-position: -346px -12px !important;
		margin-top: 2px;
		margin-left: 14px;
	}
	.iconeMsg {
		float: left;
		position: relative;
		display: inline-block;
		width: 22px;
		height: 22px;
		background-position: -357px -12px;
		margin-left: 6px;
		margin-top: 6px;
	}
	.iconeCalc {
		float: left;
		position: relative;
		display: inline-block;
		width: 22px;
		height: 22px;
		background-position: -381px -12px;
		margin-left: 6px;
	}
	.iconeData {
		float: left;
		position: relative;
		display: inline-block;
		width: 22px;
		height: 22px;
		background-position: -405px -12px;
		margin-left: 6px;
	}
	.iconeDuvida {
		float: left;
		position: relative;
		display: inline-block;
		width: 22px;
		height: 22px;
		background-position: -430px -12px;
		margin-left: 6px;
	}
}

@media ( max-width : 767px) {
	html,body {
		min-width: 350px;
	}
	.painelFerramentas {
		height: 51px;
		background: #000;
		border: 1px solid #fff;
	}
	.imgInterface {
		background-image: url("../img/img_alta_res_contraste.png");
	}
	.botaoRodape {
		background: #000;
	}
	.botaoRodapeAlerta {
		width: 30px;
		height: 30px;
		position: relative;
		display: inline-block;
		background-position: -210px -53px;
		background-size: 422px;
		background-repeat: no-repeat;
		margin-right: 5px;
		margin-left: 6px;
		padding: 0;
	}
	.rodapePrincipal {
		background: #000 !important;
		border: 1px solid #fff !important;
	}
	.iconeMsg {
		width: 20px;
		height: 20px;
		background-position: -294px -9px;
		float: left;
		position: relative;
		display: inline-block;
		margin-left: 6px;
		margin-top: 6px;
	}
	.iconeAlerta {
		float: left;
		position: relative;
		display: inline-block;
		width: 34px;
		height: 34px;
		margin-top: 0px;
		margin-left: 0px;
		background:
			url(/statics-components/js/componentes/tools/img/iconToolsContraste.png)
			no-repeat 0 0 !important;
	}
	/* adicao dos icones de usuario e home para telas pequenas*/
	.iconeUsuarioRodape {
		background-image: url("../img/iconCCContraste.png");
	}
	.iconeHome {
		float: left;
		position: relative;
		display: inline-block;
		width: 20px;
		height: 20px;
		/* ADD no sprite */
		background-image: url("../img/iconHomeContraste.png");
		background-repeat: no-repeat;
		background-size: 20px;
		margin-left: 5px;
		margin-top: 1px;
	}
	.centroRodape {
		margin: 15px 0 0 10px;
		padding: 0;
		width: 65px;
		display: inline-table;
	}
	.centroRodape p {
		color: white;
		text-shadow: none;
		font-size: 0.75em;
		margin-bottom: 0;
	}
}

@media ( min-width : 768px) and (max-width: 991px) {
	.painelConta {
		padding: 0px 8px 0px 8px;
	}
	.espacamento {
		margin-left: 10px;
	}
	.painelSaldo {
		width: 68%;
	}
	.botaoSaldo {
		width: 90px;
		height: 34px;
		margin-left: 5px;
	}
	.iconeFavoritos {
		margin-right: 4px;
		margin-left: 1px;
	}
	.botaoConfiguracoes {
		padding: 4px;
	}
	.botaoFavoritos {
		background: #000;
	}
	.iconeConfiguracao {
		float: left;
		position: relative;
		display: inline-block;
		width: 22px;
		height: 22px;
		background-position: -305px -12px !important;
		margin-right: 8px;
		margin-left: 6px;
	}
	.logo {
		width: 145px;
		height: 50px;
		background-position: 0px 0px;
	}
}

@media ( min-width : 992px) and (max-width: 1199px) {
	.botaoFavoritos {
		background: #000;
	}
	.iconeFavoritos {
		margin-right: 4px;
		margin-left: 1px;
	}
}

@media ( max-width : 816px) {
	.espacamento {
		margin-left: 2px;
	}
}

/* classes usadas nos formularios */
.inputCinza {
	background-color: #e7e7e7;
}

.labelAzul {
	font: "Arial Bold" 14;
	color: #003576;
	padding-top: 7px;
}

.painelAzul {
	background-color: #d6e1ee;
}

.painelCinza {
	background-color: #e7e7e7;
}

#logoff span.logout {
	border-right: 1px solid black !important;
	border-bottom: 1px solid black !important;
	border-left: 1px solid black !important;
	box-shadow: 1px 1px 1px 0px #fff !important;
	color: white !important;
	background: black !important;
	border: 1px solid #fff !important;
}

#btnAccountsExchange .iconUserSmall {
	background-image:
		url("/statics-components/js/componentes/accountsExchange/img/iconCCContraste.png")
		!important;
}

#logoff span.logout a {
	background: url(/statics-core/img/iconGaleryTwoContraste.png) no-repeat
		0 -114px !important;
	color: #fff !important;
}

ul.rodapeNav li a {
  color: #fff !important;
}

.accountSaldo #visibleSaldo {
	color: #fff !important;
}

.boxGerAccess {
	background: #000 !important;
}

.tituloBoxGerAcess {
	color: #fff !important;
}

.textBoxgerAcess {
	color: #fff !important;
}

.textsBoxgerAcess {
	color: #fff !important;
}

.boxAccountsExchange {
	background: #000 !important;
}

.accountsExchange dd {
	color: #fff !important;
}

.accountSaldo dt a {
	color: #fff !important;
}

.setaExibeSaldo {
	background-position: -329px -12px !important;
}

.toolbarOpen .contentToolbar {
	width: 250px !important;
	background: white !important;
	border-radius: 0 6px 0 0 !important;
	height: 220px !important;
	margin: 73px 0 0 0 !important;
}

.toolbarOpen .separator {
	background-color: #fff !important;
}

a.alert {
	background:
		url(/statics-components/js/componentes/tools/img/iconToolsContraste.png)
		no-repeat 0 0 !important;
}

a.message {
	background:
		url(/statics-components/js/componentes/tools/img/iconToolsContraste.png)
		no-repeat -136px 0 !important;
}

a.calc {
	background:
		url(/statics-components/js/componentes/tools/img/iconToolsContraste.png)
		no-repeat -68px 0 !important;
}

a.calendar {
	background:
		url(/statics-components/js/componentes/tools/img/iconToolsContraste.png)
		no-repeat -102px 0 !important;
}

a.guidedTour {
	background:
		url(/statics-components/js/componentes/tools/img/iconToolsContraste.png)
		no-repeat -170px 0 !important;
}

.toolbarOpen .toolbarOpenButtons {
	position: relative;
	display: inline;
	float: right;
	margin: 29px 6px 0 0 !important;
	background: #fff !important;
	border-radius: 6px 6px 0 0 !important;
	border: 1px solid black !important;
	padding: 4px 6px 4px 6px !important;
}

.toolbarOpen .headerToolbar {
	height: 73px;
	width: 223px !important;
	border-radius: 6px 6px 0 0;
	position: absolute;
	background: #fff !important;
	border-left: 1px solid white;
	border-right: 1px solid white;
	border-top: 1px solid white;
}

.toolbarOpenCalendar {
	border: 1px solid #000;
}

.toolbarOpen #arrowClose {
	background: #fff
		url(/statics-components/js/componentes/tools/img/arrowDownCont.png)
		5px 2px no-repeat !important;
}

.calcFrame {
	border: 1px solid #000;
}

.dpPersonal .ui-datepicker td span,.dpPersonal .ui-datepicker td a {
	color: #000 !important;
}

.blackCalculator a {
	color: #000 !important;
}

.blackCalculator a[data-buttom="="] {
	background: url(../img/calcImgCont.jpg) 0 -221px no-repeat !important;
}

.blackCalculator a[data-buttom="="]:hover {
	background: url(../img/calcImgCont.jpg) -36px -221px no-repeat
		!important;
}

.toolbarOpenCalendar .dpPersonal .ui-datepicker .ui-datepicker-prev.ui-datepicker-prev-hover span
	{
	background: url(../img/arrowLeftRightCont.jpg) bottom left !important;
}

.toolbarOpenCalendar .dpPersonal .ui-datepicker .ui-datepicker-prev span
	{
	background: url(../img/arrowLeftRightCont.jpg) top left !important;
}

.toolbarOpenCalendar .dpPersonal .ui-datepicker .ui-datepicker-next.ui-datepicker-next-hover span
	{
	background: url(../img/arrowLeftRightCont.jpg) bottom right !important;
}

.toolbarOpenCalendar .dpPersonal .ui-datepicker .ui-datepicker-next span
	{
	background: url(../img/arrowLeftRightCont.jpg) top right !important;
}

.dpPersonal .ui-state-highlight,.dpPersonal .ui-widget-content .ui-state-highlight,.dpPersonal .ui-widget-header .ui-state-highlight
	{
	background: rgb(125, 126, 125) !important; /* Old browsers */
	background: -moz-linear-gradient(top, rgba(125, 126, 125, 1) 0%,
		rgba(14, 14, 14, 1) 100%) !important; /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(125,
		126, 125, 1)), color-stop(100%, rgba(14, 14, 14, 1))) !important;
	/* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(125, 126, 125, 1) 0%,
		rgba(14, 14, 14, 1) 100%) !important; /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(125, 126, 125, 1) 0%,
		rgba(14, 14, 14, 1) 100%) !important; /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(125, 126, 125, 1) 0%,
		rgba(14, 14, 14, 1) 100%) !important; /* IE10+ */
	background: linear-gradient(to bottom, rgba(125, 126, 125, 1) 0%,
		rgba(14, 14, 14, 1) 100%) !important; /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d',
		endColorstr='#0e0e0e', GradientType=0) !important; /* IE6-9 */
}
/* BOTAO LARANJA */
.botaoLaranja {
	height: 36px;
	position: relative;
	float: left;
	margin-left: 15px;
	padding: 0px 16px 0px 16px;
	font-size: 11px;
	font-weight: bold;
	color: white;
	text-transform: uppercase;
	text-shadow: none;
	overflow: visible;
	background: #f98f00; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background:
		url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y5OGYwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQ3JSIgc3RvcC1jb2xvcj0iI2U2NzgwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkNzY2MDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, #f98f00 0%, #e67800 47%, #d76600 100%);
	/* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f98f00),
		color-stop(47%, #e67800), color-stop(100%, #d76600));
	/* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #f98f00 0%, #e67800 47%, #d76600 100%);
	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #f98f00 0%, #e67800 47%, #d76600 100%);
	/* Opera 11.10+ */
	background: -ms-linear-gradient(top, #f98f00 0%, #e67800 47%, #d76600 100%);
	/* IE10+ */
	background: linear-gradient(to bottom, #f98f00 0%, #e67800 47%, #d76600 100%);
	/* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f98f00',
		endColorstr='#d76600', GradientType=0); /* IE6-8 */
	border-radius: 4px
}

.botaoLaranja span {
	float: right;
	padding: 11px 24px 11px 13px;
}

.botaoLaranja:hover,.botaoLaranja:active {
	background: #fc6506; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background:
		url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZjNjUwNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQ3JSIgc3RvcC1jb2xvcj0iI2Q5NDgwNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNiZDMyMDIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, #fc6506 0%, #d94804 47%, #bd3202 100%);
	/* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fc6506),
		color-stop(47%, #d94804), color-stop(100%, #bd3202));
	/* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #fc6506 0%, #d94804 47%, #bd3202 100%);
	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #fc6506 0%, #d94804 47%, #bd3202 100%);
	/* Opera 11.10+ */
	background: -ms-linear-gradient(top, #fc6506 0%, #d94804 47%, #bd3202 100%);
	/* IE10+ */
	background: linear-gradient(to bottom, #fc6506 0%, #d94804 47%, #bd3202 100%);
	/* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fc6506',
		endColorstr='#bd3202', GradientType=0); /* IE6-8 */
}

.botaoLaranja:hover span,.botaoLaranja:active span {
	background: #fc6506; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background:
		url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZjNjUwNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQ3JSIgc3RvcC1jb2xvcj0iI2Q5NDgwNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNiZDMyMDIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, #fc6506 0%, #d94804 47%, #bd3202 100%);
	/* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fc6506),
		color-stop(47%, #d94804), color-stop(100%, #bd3202));
	/* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #fc6506 0%, #d94804 47%, #bd3202 100%);
	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #fc6506 0%, #d94804 47%, #bd3202 100%);
	/* Opera 11.10+ */
	background: -ms-linear-gradient(top, #fc6506 0%, #d94804 47%, #bd3202 100%);
	/* IE10+ */
	background: linear-gradient(to bottom, #fc6506 0%, #d94804 47%, #bd3202 100%);
	/* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fc6506',
		endColorstr='#bd3202', GradientType=0); /* IE6-8 */
}

/* BOTAO CINZA */
.botaoCinza {
	height: 36px;
	position: relative;
	color: #003576;
	float: left;
	padding: 0px 16px 0px 16px;
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
	text-shadow: none;
	overflow: visible;
	background: #e9e9e9; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background:
		url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2U5ZTllOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQ2JSIgc3RvcC1jb2xvcj0iI2RkZGRkZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkMWQxZDEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, #e9e9e9 0%, #dddddd 46%, #d1d1d1 100%);
	/* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e9e9e9),
		color-stop(46%, #dddddd), color-stop(100%, #d1d1d1));
	/* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #e9e9e9 0%, #dddddd 46%, #d1d1d1 100%);
	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #e9e9e9 0%, #dddddd 46%, #d1d1d1 100%);
	/* Opera 11.10+ */
	background: -ms-linear-gradient(top, #e9e9e9 0%, #dddddd 46%, #d1d1d1 100%);
	/* IE10+ */
	background: linear-gradient(to bottom, #e9e9e9 0%, #dddddd 46%, #d1d1d1 100%);
	/* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e9e9e9',
		endColorstr='#d1d1d1', GradientType=0); /* IE6-8 */
	border-radius: 4px
}

.botaoCinza span {
	float: right;
	padding: 11px 24px 11px 13px;
}

.botaoCinza:hover,.botaoCinza:active {
	color: white;
	background: #1e69bf; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background:
		url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzFlNjliZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQ2JSIgc3RvcC1jb2xvcj0iIzBlNThhZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMTRhOWQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, #1e69bf 0%, #0e58ad 46%, #014a9d 100%);
	/* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1e69bf),
		color-stop(46%, #0e58ad), color-stop(100%, #014a9d));
	/* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #1e69bf 0%, #0e58ad 46%, #014a9d 100%);
	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #1e69bf 0%, #0e58ad 46%, #014a9d 100%);
	/* Opera 11.10+ */
	background: -ms-linear-gradient(top, #1e69bf 0%, #0e58ad 46%, #014a9d 100%);
	/* IE10+ */
	background: linear-gradient(to bottom, #1e69bf 0%, #0e58ad 46%, #014a9d 100%);
	/* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e69bf',
		endColorstr='#014a9d', GradientType=0); /* IE6-8 */
}

.botaoCinza:hover span,.botaoCinza:active span {
	color: white;
	background: #1e69bf; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background:
		url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzFlNjliZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQ2JSIgc3RvcC1jb2xvcj0iIzBlNThhZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMTRhOWQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, #1e69bf 0%, #0e58ad 46%, #014a9d 100%);
	/* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1e69bf),
		color-stop(46%, #0e58ad), color-stop(100%, #014a9d));
	/* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #1e69bf 0%, #0e58ad 46%, #014a9d 100%);
	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #1e69bf 0%, #0e58ad 46%, #014a9d 100%);
	/* Opera 11.10+ */
	background: -ms-linear-gradient(top, #1e69bf 0%, #0e58ad 46%, #014a9d 100%);
	/* IE10+ */
	background: linear-gradient(to bottom, #1e69bf 0%, #0e58ad 46%, #014a9d 100%);
	/* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e69bf',
		endColorstr='#014a9d', GradientType=0); /* IE6-8 */
}

.panel-heading {
	text-transform: capitalize;
}

.espStep {
	margin-bottom: 140px;
}

.btCinzaLeft {
	margin-left: -16px;
}

.toolbar {
	background: #000 !important;
	margin-top: 18px !important;
	border-top: 1px solid #FFF !important;
	border-left: 1px solid #FFF !important;
	border-right: 1px solid #FFF !important;
}

.toolbarXs {
	background: #000 !important;
	border-top: 1px solid #FFF !important;
}

.toolbarXs .botaoRodape {
	width: 33px;
	height: 34px;
	border-radius: 3px;
	color: #fff;
	background-repeat: repeat-x;
	display: inline-block;
	margin: 0px 5px 0px 0px;
	background:
		url(/statics-components/js/componentes/tools/img/iconToolsContraste.png)
		no-repeat -136px 0 !important;
}
/* CONTRASTE TELAS INICIAIS */

/* barra de acessibilidade */
.altText:hover,.altText:focus,.altText:visited {
	background-color: transparent !important;
}

/* header */
header {
	background: url(../img/imgLoginContrasteDois.png) 0 -458px;
}

header .mainHeader {
	background: #000;
}

header .brand {
	background: url(../img/brandContraste.png) no-repeat;
}

/* conteudo */
.blocLoginBlue {
	background-color: #000;
}

.main .boxContent {
	background: #4E4C4C;
}

.main .menuLoginHome .menuLogin .menu1 {
	background: url("../img/ctrBarraBranca1.png") no-repeat;
}

.main .menuLoginHome .menuLogin .menu2 {
	background: url("../img/ctrBarraBranca2.png") no-repeat;
}

.main .menuLoginHome .menuLogin .menu3 {
	background: url("../img/ctrBarraBranca3.png") no-repeat;
}

.main .menuLoginHome .menuLogin .menu4 {
	background: url("../img/ctrBarraBranca4.png") no-repeat;
}

.main .menuLoginHome .menuLogin .menu5 {
	background: url("../img/ctrBarraBranca5.png") no-repeat;
}

.main .menuLoginHome .menuLogin .menu1:hover,
.main .menuLoginHome .menuLogin .selected1 {
	background: url("../img/ctrBarraLaranja1.png") no-repeat;
}

.main .menuLoginHome .menuLogin .menu2:hover,
.main .menuLoginHome .menuLogin .selected2 {
	background: url("../img/ctrBarraLaranja2.png") no-repeat;
}

.main .menuLoginHome .menuLogin .menu3:hover,
.main .menuLoginHome .menuLogin .selected3 {
	background: url("../img/ctrBarraLaranja3.png") no-repeat;
}

.main .menuLoginHome .menuLogin .menu4:hover,
.main .menuLoginHome .menuLogin .selected4 {
	background: url("../img/ctrBarraLaranja4.png") no-repeat;
}

.main .menuLoginHome .menuLogin .menu5:hover,
.main .menuLoginHome .menuLogin .selected5 {
	background: url("../img/ctrBarraLaranja5.png") no-repeat;
}

.icoIdentificacaoUsuario {
	background: url(../img/iconGaleryTwoContraste.png) no-repeat 0 0;
}

.icoCadastroUsuario {
	background: url(../img/iconGaleryTwoContraste.png) no-repeat 0 -922px;
}

.loginBlue {
	background: #BBBDC0 !important;
}

.messageBox {
	background: linear-gradient(to bottom, #696969 0%, #030303 100%);
}

.arrow {
	border-top: 8px solid #040404;
}

.painelAzul {
	background-color: #BBBCBD !important;
}

/* textos */
a {
	color: #888A8D;
}

a:hover {
	color: #626465;
}

.main .infos .titles .knowTitle,.main .infos .titles .knowSubTitle {
	color: #000;
}

.main .boxContent p {
	color: #FFF;
	font-weight: inherit;
}

.main .boxContent .contentTitle {
	color: #FFF;
}

.tituloPrincipal {
	color: #000;
}

.iniciaisNomeUsuario {
	color: #000;
}

.tituloPagina {
	color: #000 !important;
}

.icoTxt {
	color: #000;
}

.labelAzul {
	color: #000;
}

/* footer */
.rodapeNav li a {
	background-image: none !important;
}
/* botoes */
.botaoLaranja {
	background: linear-gradient(to bottom, #A7A6A5 0%, #686868 47%, #383838 100%);
}

.botaoLaranja:hover,.botaoLaranja:active {
	background: linear-gradient(to bottom, #949494 0%, #5D5C5C 47%, #2E2E2E 100%);
}

.rodapeBtDirEsq {
	border-right: none;
}

.rodapeBtDirLinha {
	border-right: none;
}

.botaoCinza {
	background: linear-gradient(to bottom, #A7A6A5 0%, #686868 47%, #383838 100%);
	color: #fff;
}

.botaoCinza:hover,.botaoCinza:active {
	background: linear-gradient(to bottom, #949494 0%, #5D5C5C 47%, #2E2E2E 100%);
	color: #fff;
}

.buttonBlue {
	background:
		url(/statics-components/js/componentes/saibaMais/img/btt_saibamais_contrast.png)
		repeat-x !important;
}

.button-blue:hover,.button-blue:active,.button-blue:hover span,.button-blue:active span
	{
	background:
		url(/statics-components/js/componentes/saibaMais/img/btt_saibamais_on_contrast.png)
		repeat-x !important;
}

/* input */
.form-control:focus {
	border-color: #6B6B6B;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px
		rgba(2, 2, 2, 0.6);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px
		rgba(2, 2, 2, 0.6);
}
/* icones */
.iconeAdesaoNormal {
	background: url("/statics-core/img/menu-icon-minha-caixa-contraste.png")
		no-repeat;
	width: 85px;
	height: 85px;
	margin: 0 auto;
}

.iconeAdesaoCredito {
	background: url("/statics-core/img/menu-icon-cartoes-contraste.png")
		no-repeat;
	width: 85px;
	height: 85px;
	margin: 0 auto;
}

.iconeAdesaoCidadao {
	background:
		url("/statics-core/img/menu-icon-servicos-cidadao-contraste.png")
		no-repeat;
	width: 85px;
	height: 85px;
	margin: 0 auto;
}

.iconeErroGeral {
	background: url("/statics-core/img/imgMessageBoxContraste.png")
		no-repeat;
	width: 36px;
	height: 36px;
	margin: 0 auto;
}

.tituloMenu {
	color: #fff !important;
}

.tituloMenu:hover {
	color: #fff !important;
}

.submenuHomeTitle {
	color: #000 !important;
}

.submenuItens a {
	color: #000 !important;
}

.submenuItens a:hover {
	color: #000 !important;
}

.submenuItens .descricaoLista,.submenuItens .descricaoLista:hover {
	color: #000 !important;
}

.submenu {
	background: #fff !important;
}

.submenuItens a:hover .descricaoLista li,.submenuItens .descricaoLista:hover li
	{
	color: #000 !important;
}

.submenu.shadow {
	box-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
}

.seletorMenu {
	margin-bottom: 2px !important;
}

.toolbarOpenAlert .contentAviso a {
	color: #000 !important;
}

.toolbarOpenAlert .contentAviso a:hover {
	color: #000 !important;
}

.toolbarOpen .alertBullet {
	color: #000 !important;
	background:
		url(/statics-components/js/componentes/tools/img/msgBulletContraste.png)
		no-repeat center !important;
}

.toolbarOpen .msgBullet {
	color: #000 !important;
	background:
		url(/statics-components/js/componentes/tools/img/msgBulletContraste.png)
		no-repeat center !important;
}

.toolbar .alertBulletClose {
	color: #000 !important;
	background:
		url(/statics-components/js/componentes/tools/img/msgBulletContraste.png)
		no-repeat center !important;
}

.toolbar .msgBulletClose {
	color: #000 !important;
	background:
		url(/statics-components/js/componentes/tools/img/msgBulletContraste.png)
		no-repeat center !important;
}

.voltar:hover {
	background:
		url(/statics-components/js/componentes/carousel/img/menu-arrow-left-comp.png)
		0px 0px !important;
}

.avancar:hover {
	background:
		url(/statics-components/js/componentes/carousel/img/menu-arrow-right-comp.png)
		0px 0px !important;
}

.toolbarOpenAlert a.arrowLeft {
	background:
		url(/statics-components/js/componentes/tools/toolAlert/img/arrowLeftRightContraste.png)
		top left no-repeat !important;
}

.toolbarOpenAlert a.arrowRight {
	background:
		url(/statics-components/js/componentes/tools/toolAlert/img/arrowLeftRightContraste.png)
		top right no-repeat !important;
}

.toolbarOpenAlert a.arrowLeft:hover {
	background:
		url(/statics-components/js/componentes/tools/toolAlert/img/arrowLeftRightContraste.png)
		bottom left no-repeat !important;
}

.toolbarOpenAlert a.arrowRight:hover {
	background:
		url(/statics-components/js/componentes/tools/toolAlert/img/arrowLeftRightContraste.png)
		bottom right no-repeat !important;
}

.toolbarOpenMessage a.arrowLeft {
	background:
		url(/statics-components/js/componentes/tools/toolAlert/img/arrowLeftRightContraste.png)
		top left no-repeat !important;
}

.toolbarOpenMessage a.arrowRight {
	background:
		url(/statics-components/js/componentes/tools/toolAlert/img/arrowLeftRightContraste.png)
		top right no-repeat !important;
}

.toolbarOpenMessage a.arrowLeft:hover {
	background:
		url(/statics-components/js/componentes/tools/toolAlert/img/arrowLeftRightContraste.png)
		bottom left no-repeat !important;
}

.toolbarOpenMessage a.arrowRight:hover {
	background:
		url(/statics-components/js/componentes/tools/toolAlert/img/arrowLeftRightContraste.png)
		bottom right no-repeat !important;
}

:focus {
	outline: none !important;
}

.toolbarOpenMessage .contentMsg a {
	color: #000 !important;
}

.toolbarOpenMessage .boxMsg a {
	color: #FFF !important;
}

.toolbarOpenMessage .boxMsg:HOVER {
	background: #3F3F3F !important;
}

.toolbarOpenMessage .boxMsg {
	background: #9F9F9F !important;
}

.imgAlertProvaVida {
	background-image: url("/statics-core/img/imgMessageBoxContraste.png");
}
/* html{ */
/* 	overflow: hidden; */
/* } */

/* TABLE */
.tabela01 .even td:first-child,.tabela01 .even td:last-child {
	border-radius: 0 !important;
}

.saldoNegativo {
	color: #555 !important;
}

.fonteRodape {
	color: #ddd !important;
}

.tabela02 .even td {
	background-color: #eee !important;
}

.tabela02 .odd td {
	background: #ddd !important;
}

/* BREADCRUMB */
.breadCrumb dd {
	color: #DDD !important;
	background:
		url(/statics-components/js/componentes/breadCrumb/img/breadCrumbFlagContrast.png)
		no-repeat right !important;
}

.breadCrumb dd a {
	color: #fff !important;
}


.gerAccess #divBtnGerAccess #btnGerAccess span {
	vertical-align: baseline;
	display: block;
	width: 104% !important;
	margin: 0 !important;
	padding-left: 18px !important;
}