.buttonClean {
    margin-left: 0!important
}

.buttonGrey {
    position: relative;
    color: #003576;
    float: left;
    height: 36px;
    padding: 0 0 0 10px;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: none;
    overflow: visible;
    background: #e9e9e9;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2U5ZTllOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQ2JSIgc3RvcC1jb2xvcj0iI2RkZGRkZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkMWQxZDEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,#e9e9e9 0,#ddd 46%,#d1d1d1 100%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#e9e9e9),color-stop(46%,#ddd),color-stop(100%,#d1d1d1));
    background: -webkit-linear-gradient(top,#e9e9e9 0,#ddd 46%,#d1d1d1 100%);
    background: -o-linear-gradient(top,#e9e9e9 0,#ddd 46%,#d1d1d1 100%);
    background: -ms-linear-gradient(top,#e9e9e9 0,#ddd 46%,#d1d1d1 100%);
    background: linear-gradient(to bottom,#e9e9e9 0,#ddd 46%,#d1d1d1 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e9e9e9',endColorstr='#d1d1d1',GradientType=0);
    border-radius: 4px
}

.buttonGrey span {
    float: right;
    padding: 11px 24px 11px 13px
}

.buttonGrey:hover,.buttonGrey:active {
    color: white;
    background: #1e69bf;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzFlNjliZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQ2JSIgc3RvcC1jb2xvcj0iIzBlNThhZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMTRhOWQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,#1e69bf 0,#0e58ad 46%,#014a9d 100%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#1e69bf),color-stop(46%,#0e58ad),color-stop(100%,#014a9d));
    background: -webkit-linear-gradient(top,#1e69bf 0,#0e58ad 46%,#014a9d 100%);
    background: -o-linear-gradient(top,#1e69bf 0,#0e58ad 46%,#014a9d 100%);
    background: -ms-linear-gradient(top,#1e69bf 0,#0e58ad 46%,#014a9d 100%);
    background: linear-gradient(to bottom,#1e69bf 0,#0e58ad 46%,#014a9d 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1e69bf',endColorstr='#014a9d',GradientType=0)
}

.buttonOrange {
    position: relative;
    float: left;
    height: 36px;
    margin-left: 15px;
    padding: 0 0 0 10px;
    font-size: 11px;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    text-shadow: none;
    overflow: visible;
    background: #f98f00;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y5OGYwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQ3JSIgc3RvcC1jb2xvcj0iI2U2NzgwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkNzY2MDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,#f98f00 0,#e67800 47%,#d76600 100%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#f98f00),color-stop(47%,#e67800),color-stop(100%,#d76600));
    background: -webkit-linear-gradient(top,#f98f00 0,#e67800 47%,#d76600 100%);
    background: -o-linear-gradient(top,#f98f00 0,#e67800 47%,#d76600 100%);
    background: -ms-linear-gradient(top,#f98f00 0,#e67800 47%,#d76600 100%);
    background: linear-gradient(to bottom,#f98f00 0,#e67800 47%,#d76600 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f98f00',endColorstr='#d76600',GradientType=0);
    border-radius: 4px
}

.buttonOrange span {
    float: right;
    padding: 11px 24px 11px 13px
}

.buttonOrange:hover,.buttonOrange:active {
    background: #fc6506;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZjNjUwNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQ3JSIgc3RvcC1jb2xvcj0iI2Q5NDgwNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNiZDMyMDIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,#fc6506 0,#d94804 47%,#bd3202 100%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#fc6506),color-stop(47%,#d94804),color-stop(100%,#bd3202));
    background: -webkit-linear-gradient(top,#fc6506 0,#d94804 47%,#bd3202 100%);
    background: -o-linear-gradient(top,#fc6506 0,#d94804 47%,#bd3202 100%);
    background: -ms-linear-gradient(top,#fc6506 0,#d94804 47%,#bd3202 100%);
    background: linear-gradient(to bottom,#fc6506 0,#d94804 47%,#bd3202 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fc6506',endColorstr='#bd3202',GradientType=0)
}

.buttonBlue {
    border: 0;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    position: relative;
    float: left;
    height: 36px;
    font-size: 11px;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    text-shadow: none;
    overflow: visible;
    width: 100px;
    padding: 0 15px 0 15px;
    background: url(../img/imgButtonBlue.png) repeat
}

.buttonBlue:hover,.buttonBlue:active {
    background: url(../img/imgButtonBlueAhover.png) repeat
}

.iconInfoSucess {
    float: left;
    margin: 0 10px 0 10px;
    width: 100%
}

.iconInfoSucess span {
    background: url(../img/ico_msg_check.gif) 0 3px no-repeat;
    width: 36px;
    height: 40px;
    position: absolute
}

.iconInfoSucessCad span {
    background: url(../img/ico_msg_check.gif) 0 3px no-repeat;
    height: 46px;
    display: block;
    text-indent: 54px;
    padding-top: 10px
}

.buttonWhiteClean {
    position: relative;
    color: #303030;
    float: left;
    height: 30px;
    padding: 0 0 0 10px;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: none;
    overflow: visible;
    background: #fff;
    border-radius: 4px;
    width: 130px
}

.buttonWhiteClean span {
    padding: 11px 24px 11px 13px
}

.buttonWhiteClean:hover,.buttonWhiteClean:active {
    color: white;
    background: #1e69bf;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzFlNjliZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQ2JSIgc3RvcC1jb2xvcj0iIzBlNThhZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMTRhOWQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,#1e69bf 0,#0e58ad 46%,#014a9d 100%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#1e69bf),color-stop(46%,#0e58ad),color-stop(100%,#014a9d));
    background: -webkit-linear-gradient(top,#1e69bf 0,#0e58ad 46%,#014a9d 100%);
    background: -o-linear-gradient(top,#1e69bf 0,#0e58ad 46%,#014a9d 100%);
    background: -ms-linear-gradient(top,#1e69bf 0,#0e58ad 46%,#014a9d 100%);
    background: linear-gradient(to bottom,#1e69bf 0,#0e58ad 46%,#014a9d 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1e69bf',endColorstr='#014a9d',GradientType=0)
}

.buttonWhiteClean:hover span,.buttonWhiteClean:active span {
    color: white;
    background: #1e69bf;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzFlNjliZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQ2JSIgc3RvcC1jb2xvcj0iIzBlNThhZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMTRhOWQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,#1e69bf 0,#0e58ad 46%,#014a9d 100%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#1e69bf),color-stop(46%,#0e58ad),color-stop(100%,#014a9d));
    background: -webkit-linear-gradient(top,#1e69bf 0,#0e58ad 46%,#014a9d 100%);
    background: -o-linear-gradient(top,#1e69bf 0,#0e58ad 46%,#014a9d 100%);
    background: -ms-linear-gradient(top,#1e69bf 0,#0e58ad 46%,#014a9d 100%);
    background: linear-gradient(to bottom,#1e69bf 0,#0e58ad 46%,#014a9d 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1e69bf',endColorstr='#014a9d',GradientType=0)
}

button.white {
    float: right;
    font: bold 12px Arial,Helvetica,sans-serif;
    text-transform: uppercase;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    height: 36px;
    border: 0;
    text-align: center;
    padding: 0 16px;
    color: #003576;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#fff),to(#efefef));
    background-image: -webkit-linear-gradient(top,#fff,#efefef);
    background-color: #efefef
}

button.white:hover {
    float: right;
    font: bold 12px Arial,Helvetica,sans-serif;
    text-transform: uppercase;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    height: 36px;
    border: 0;
    text-align: center;
    padding: 0 16px;
    color: #fff;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#1e68bf),to(#01499b));
    background-image: -webkit-linear-gradient(top,#1e68bf,#01499b);
    background-color: #1e68bf
}

form .big {
    width: 444px;
    height: 18px;
    float: left;
    position: relative;
    z-index: 9999;
    margin: 0;
    background: none!important
}

form label.big {
    width: auto;
    max-width: 385px;
    margin-right: 10px
}

form .radioGroup label {
    float: none;
    color: #003576;
    font-size: .875em;
    font-weight: bold;
    margin-left: 10px;
    width: auto
}

form .searchbox input[type="text"] {
    display: inline;
    float: left;
    padding: 0 0 0 9px;
    width: 90%;
    font-size: 2.000em;
    font-family: inherit;
    font-weight: bold;
    color: #9c9c9c!important;
    vertical-align: middle;
    line-height: 1.1em;
    position: relative;
    z-index: 2;
    margin-left: 8px;
    background: url(../img/search-input-right.jpg) no-repeat right;
    height: 45px
}

form .relativeInput {
    margin: 0 10px
}

form .relativeInputDays {
    position: relative;
    z-index: 2;
    float: left;
    margin: 10px 0 10px 10px;
    background: url(../img/imgInputWhite.png);
    width: auto;
    height: 32px
}

form input[type="text"].grey {
    display: inline;
    float: left;
    width: auto;
    font-size: .875em;
    font-family: inherit;
    font-weight: bold;
    color: #303030;
    padding: 0 8px 0 8px;
    height: 33px;
    margin-right: -4px;
    position: relative;
    background: url(../img/bkgInputRightGrey.png) no-repeat right
}

form .relativeInputGrey {
    position: relative;
    z-index: 2;
    float: left;
    margin: -9px 10px 10px 0;
    background: url(../img/bkgInputLeftGreyNew.png) no-repeat left;
    width: auto;
    height: 33px
}

.inputWhite {
    background: #fff;
    border-top: 1px solid #888
}

form input[type="text"].days {
    display: inline;
    float: left;
    width: 40px;
    font-size: 1.400em;
    font-family: inherit;
    font-weight: bold;
    color: #303030;
    background: url(../img/bkgInputRight.png) no-repeat right;
    padding: 0 10px 0 10px;
    height: 32px;
    position: relative
}

form input[type="text"].input-date {
    font: 14px Arial,Helvetica;
    font-weight: bold;
    color: #303030;
    vertical-align: middle;
    line-height: 1.1em;
    width: 75px;
    z-index: -1
}

form input[type="text"]:disabled {
    border: 0;
    width: auto
}

form input[type="text"].input-date:disabled {
    background: #eee;
    border: 0;
    width: auto;
    opacity: .7
}

.greyBox label {
    color: #4f4f4f
}

form textarea {
    display: inline;
    float: left;
    width: auto;
    padding: 7px 9px;
    font-size: 1.400em;
    font-family: inherit;
    font-weight: bold;
    color: #303030;
    vertical-align: middle;
    line-height: 1.1em;
    border-style: solid!important;
    border-width: 1px!important;
    border-color: #808080 #c4c4c4 #e3e3e3 #c4c4c4;
    background: #e6e6e6;
    margin: 0 6px 6px 0;
    height: auto
}

.cadCompApel .tables {
    width: 100%;
    float: left;
    border-collapse: collapse;
    padding: 0;
    border: 0;
    font-family: Arial,Helvetica;
    position: relative;
    margin: 0 0 10px 0
}

.cadCompApel tbody.blue tr.alternateRow td {
    background: #cbdbee;
    border: 0
}

.cadCompApel tbody.white tr.alternateRow td {
    background: #fff;
    border: 0
}

.cadCompApel tbody td {
    background-color: #d6e1ee;
    line-height: 44px;
    padding: 0
}

.cadCompApel tbody.white td {
    background: #e7e7e7;
    line-height: 44px;
    padding-left: 16px
}

.iconInfoSucessCad span {
    background: url(../img/ico_msg_check.gif) 0 3px no-repeat;
    height: 46px;
    display: block;
    text-indent: 54px;
    padding-top: 10px
}

.cadCompApel th {
    font-size: 12px;
    font-weight: bold;
    color: #4f4f4f;
    line-height: 25px
}

.cadCompApel .txtLeft {
    text-align: left;
    padding-left: 16px;
    font: .750em Arial,Helvetica,sans-serif;
    line-height: 44px;
    font-weight: normal;
    color: #303030
}

#cadMaq .borderLeft {
    background-image: url(../img/tdBorderLeft.png);
    width: 8px;
    height: 44px;
    background-repeat: no-repeat
}

#cadMaq .borderRight {
    background-image: url(../img/tdBorderRight.png);
    width: 8px;
    height: 44px;
    text-align: right;
    background-position: right;
    background-repeat: no-repeat
}

.divBorderBottom {
    background-color: #fff;
    line-height: 6px;
    position: relative;
    background-repeat: no-repeat;
    width: 100%;
    border: 0
}

.borderBottomLeft {
    height: 6px;
    width: 6px;
    float: left;
    position: relative;
    background: url(../img/bordersTable.png) no-repeat 0 0;
    margin: -6px 0 0 0
}

.borderBottomRight {
    height: 6px;
    width: 6px;
    float: right;
    position: relative;
    background: url(../img/bordersTable.png) no-repeat -7px 0;
    margin: -6px 0 0 0
}

.tdBottom {
    border-Bottom: 1px solid #ccc;
    width: 100%;
    height: 1px;
    padding: 0;
    margin: 0;
    background: #fff;
    background-image: none
}

.divBorderTop {
    width: 100%;
    line-height: 6px;
    margin-bottom: 0;
    position: relative;
    background-repeat: no-repeat;
    border: 0
}

.borderTopLeft {
    height: 6px;
    width: 6px;
    float: left;
    position: relative;
    background: url(../img/bordersTable.png) no-repeat -14px 0;
    margin: 0
}

.borderTopRight {
    height: 6px;
    width: 6px;
    float: right;
    position: relative;
    background: url(../img/bordersTable.png) no-repeat -21px 0;
    margin: 0
}

@media all and (max-width: 840px) and (min-width:100px) {
    .buttonBlue {
        margin:0 15px 10px 0;
        float: right
    }

    .buttonOrange {
        margin-right: 15px
    }
}

@media all and (max-width: 940px) and (min-width:841px) {
    .buttonBlue {
        margin:0 15px 10px 0
    }

    .buttonOrange {
        margin-right: 15px
    }
}

@media all and (max-width: 800px) and (orientation:portrait) {
    .buttonOrange {
        margin-right:15px
    }
}
