
/* Informe de Rendimento 
* informeRendimento.css
 */

#IR_principal {
	width: 800px;
	height: 600px;
	background-color: white;
}


#logoIR {
	float: left;
}

#apl_observacao {
	font-family:Arial, Helvetica !important; 
	font-size:16px; 
	font-weight:bold; 
	color: #303030;
	text-align:left;
	float:right;
}

.cabecalhoImpressaoIR {
            	font: Verdana, Geneva, Arial, Helvetica, sans-serif;
            	font-size: 10px;
            	padding: 0px 0px 0px 0px;
            	text-align: left;
            	color: #000000;
            	font-weight: bold;
            	height: 10px;
            	margin: 0px;
            }
            
.valorIR {
				font: Arial;
            	font-size: 10px;
            	color: #000000;
            	font-weight: bold;
            	height: 10px;
}   


#apl_tabela_impressao_02 td.titimpressao01 {
	font-weight: bold;
}


#apl_tabela_impressao_01 td.titimpressao01 {
	font: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	padding: 10px 15px 5px 8px;
	text-align: left;
	color: #000000;
}

 #apl_tabela_impressao_02 span.obs {
	font: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px/ 12;
	text-align: left;
	color: #000000;
	background: none;
}



#apl_tabela_impressao_02 th {
	font: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	padding: 5px 0px 6px 8px;
	text-align: left;
	color: #000000;
	font-weight: bold;
	height: 25px;
	margin: 0px 50px;
	border-bottom: 1px solid #666666;
	border-right: 1px solid #666666;
}

#apl_tabela_impressao_02 th.valor {
	text-align: right;
}
#apl_tabela_impressao_02 p{
	font: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 10px;
	margin: 5px 0px;
}

#apl_tabela_impressao_02 td {
	font: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 10px;
	padding: 10px 8px 5px;
	color: #000000;
	border-bottom: 1px solid #666666;
	border-right: 1px solid #666666;
}

#apl_tabela_impressao_02 td.valor {
	text-align: right;
	padding: 5px 8px 6px;
}

#apl_tabela_impressao_02 table {
	border: 1px solid #666666;
	margin: 0px 0px 8px;
	padding: 0px;
	border-collapse: collapse;
	width: 97%;
}


#apl_tabela_impressao_02 table.semTopo { 
	border-top: 0px!important;
	width: 97%;
	}
	
#apl_tabela_impressao_02 td.titimpressao {
	font-weight: bold;
}

#apl_tabela_impressao_02 td.dadosCaixaLH {
	font-size: 10px;
	padding: 0px 5px 5px 8px;
}

#ibc_tabela_impressao_02 td.dados, #ibc_tabela_impressao_02 td.dados02{
	padding: 5px;
}

#ibc_tabela_impressao_02 td.dados02{
	text-align: center;
}

#apl_tabela_impressao_02 td.dados, #apl_tabela_impressao_02 td.dados02{
	padding: 5px;
}

#apl_tabela_impressao_02 td.dados02{
	text-align: center;
}

