/**
* @project Caixa Economica Federal | Internet Banking
* @project URI http://www.caixa.gov.br/
* @version 2013
* @author CPM Braxis Capgemini
* @author URI http://www.cpmbraxis.com
* @copyright 2013 CPM Braxis Capgemini
*/
/* -------------------------------------------------- 
    Table of Contents
-----------------------------------------------------
:: Variables
:: Boxes


/*	--------------------------------------------------
	:: Variables
	-------------------------------------------------- */
/*	--------------------------------------------------
	:: Boxes
	-------------------------------------------------- */
/* line 51, ../sass/loginIe7.scss */
.blocLoginStandard {
  position: relative;
  width: 236px;
  height: 132px;
  padding: 17px;
  margin: 19px 0 -3px 53px;
  float: right;
}

/* line 60, ../sass/loginIe7.scss */
.borderBlocTopRight {
  height: 8px;
  width: 7px;
  float: right;
  margin: -19px -18px 0 18px;
  background: url(../img/imgLogin.png) 0 -658px no-repeat;
}

/* line 65, ../sass/loginIe7.scss */
.borderBlocBottomRight {
  height: 8px;
  width: 7px;
  margin: -19px -18px 0 18px;
  background: url(../img/imgLogin.png) -13px -658px;
  margin: 37px -38px 0 246px;
}

/* Border Grey Light  ---------- */
/* line 73, ../sass/loginIe7.scss */
.borderTopRightGreyLight {
  height: 6px;
  width: 6px;
  float: right;
  margin: -10px -27px 0 4px;
  background: url(../img/imgLogin.png) -90px -660px;
}

/* line 81, ../sass/loginIe7.scss */
.borderTopLeftGreyLight {
  height: 6px;
  width: 6px;
  float: left;
  margin: -10px 0 0 -10px;
  background: url(../img/imgLogin.png) -98px -660px;
}

/* line 89, ../sass/loginIe7.scss */
.borderBottomLeftGreyLight {
  height: 6px;
  width: 6px;
  float: left;
  margin: -10px 0 0 -10px;
  background: url(../img/imgLogin.png) -114px -660px;
  margin: 12px 0 0 -10px;
}

/* line 98, ../sass/loginIe7.scss */
.borderBottomRightGreyLight {
  height: 6px;
  width: 6px;
  float: right;
  margin: 12px -13px 0 8px;
  background: url(../img/imgLogin.png) -106px -660px;
}

/* Menu options ---------- */
/* line 109, ../sass/loginIe7.scss */
.menuLoginHome {
  float: left;
  margin: 10px 0 30px 0;
  width: 901px;
}
/* line 114, ../sass/loginIe7.scss */
.menuLoginHome .menuLogin {
  float: left;
  clear: both;
  margin: 0px 0 20px 0;
  padding-top: 20px;
  width: 250px;
}
/* line 121, ../sass/loginIe7.scss */
.menuLoginHome .menuLogin .menu ul {
  cursor: pointer;
}
/* line 125, ../sass/loginIe7.scss */
.menuLoginHome .menuLogin .menu {
  cursor: pointer;
  color: #000;
  line-height: 40px;
  text-align: left;
  font-weight: bold;
  font-size: 12px;
  padding-left: 50px;
}
/* line 135, ../sass/loginIe7.scss */
.menuLoginHome .menuLogin .menu:hover {
  cursor: pointer;
  line-height: 40px;
  text-align: left;
  color: white;
  font-weight: bold;
  padding-left: 50px;
}
/* line 144, ../sass/loginIe7.scss */
.menuLoginHome .menuLogin .selected {
  cursor: pointer;
  line-height: 40px;
  text-align: left;
  color: white;
  font-weight: bold;
  font-size: 12px;
  padding-left: 50px;
}
/* line 155, ../sass/loginIe7.scss */
.menuLoginHome .borderContMenuTopLeft {
  float: left;
  background: url(../img/imgLogin.png) -241px -3px;
  width: 9px;
  height: 20px;
  margin: 0 0 0 -9px;
}
/* line 163, ../sass/loginIe7.scss */
.menuLoginHome .borderContMenuBottomLeft {
  float: left;
  background: url(../img/imgLogin.png) -241px -223px;
  width: 9px;
  height: 10px;
  margin: -10px 0 0 -9px;
}
/* line 171, ../sass/loginIe7.scss */
.menuLoginHome .borderContMenuTopRight {
  position: absolute;
  top: 252px;
  left: 1074px;
  background: url(../img/imgLogin.png) 0px -10px;
  width: 9px;
  height: 13px;
  z-index: 1000;
}
/* line 181, ../sass/loginIe7.scss */
.menuLoginHome .borderContMenuBottomRight {
  position: absolute;
  top: 482px;
  left: 1074px;
  background: url(../img/imgLogin.png) 0px -223px;
  width: 9px;
  height: 11px;
  margin: -11px 0 0 0;
}

/* Menu content ---------- */
/* line 196, ../sass/loginIe7.scss */
#content1 {
  display: block;
}

/* line 200, ../sass/loginIe7.scss */
.boxContent {
  position: relative;
  padding: 20px 20px 20px 30px;
  background: #E7E7E7;
  height: 190px;
  width: 600px;
  display: none;
  margin-left: 241px;
}
/* line 209, ../sass/loginIe7.scss */
.boxContent p {
  font-size: 12px;
  font-weight: bold;
  color: #4F4F4F;
  padding-right: 20px;
  text-align: justify;
}
/* line 219, ../sass/loginIe7.scss */
.boxContent .contentTitle {
  color: #4f4f4f;
  font-weight: bold;
  margin-bottom: 30px;
  font-size: 15px;
}
/* line 226, ../sass/loginIe7.scss */
.boxContent .knowMorelink {
  cursor: pointer;
}
