@media (min-width : 740px) {
	/*Header*/
	header {
	  width: 100%;
	  margin: 0 auto;
	  height: 100px !important;
	  background: #296fa7 !important; 	
	}
	.main {
		width: 100%;
		margin: 0 auto;
		max-width: 980px;
	 clear: both;
	 content: " ";
	}
	header .mainHeader {
		background: #296fa7;
		width: 100%;
		height: 100px;
	  box-shadow: 0 1px #3d8cbe;
		border-bottom: 1px solid #216c9c;
		position: absolute;
	  top: 0px;
		box-sizing: border-box;
    padding: 20px;
	}
	header .mainHeader .contentMainHeader{
		width: 100%;
		margin: 0 auto;
		position: relative;
		max-width: 980px;
		top: -8px;
	}
	/*Logo da Caixa*/
	header .brand {
	  margin-left: 15px;
	  position: relative;
	  left: 0;
	  top: 25px;
	  width: 115px;
	  height: 25px;
	  text-indent: -9999px;
	  background: url("../img/sprites.png") no-repeat -112px 0;
	  cursor: pointer;
	  z-index: 1;
	}

	.blocForm {
	  padding: 15px;
	}

	.blocForm .radio {
		margin: 5px;
	}


	/*Banner area de login*/
	.backBanner {
		left: 0;
		top: 100px;
	  height: 400px;
	  position: absolute;
	  z-index: -9999;
	  width: 100%;
		background-size: cover !important;
		box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
		background-color: #296fa7;
	}

	
	/*Bloco login*/
	.blocLoginBlue {
	  padding: 46px 0 0 0;
	  background-color: rgba(244, 244, 246, 0.8);
	  position: absolute;
		z-index: 1 !important;
		border-radius: 3px;
		height: 340px;
	}

	.blocLoginBlue p {
		margin: 0;
	} 

	
	.titlePanels {
	  font-size: 20px;
	  font-weight: bold;
	  font-family: inherit !important;
	  text-transform: uppercase;
	  color: #333;
	  margin-bottom: 0px;
	}

	.titleLogin {
	  padding-left: 22px;
	  padding-right: 22px;
	  width: 100%;
	  margin: 0;
		font-size: 1em;
		font-weight: normal;
	}

	.titleLoginIBC {
	  padding-left: 22px;
	  padding-right: 22px;
	  width: 100%;
		font-size: 1.5em;
		font-weight: bold;
	}
	.titleLoginBox {
	  color: #FFF;
	  margin-bottom: 10px;
	}
	p[id="complemento"]{
		font-size: 12px !important;
		margin-bottom: 0px !important;
		font-weight: bold !important;
		Top: 20px !important;
	}
	/*Descricao login*/
	.descLoginBloc {
		margin: 0px 14px 0px 12px;
		text-align: left;
		line-height: 1em;
		color: #333;
		font: bold 0.750em !important;
	}
	
	
	/*Input Usuario*/
	input#nomeUsuario {
		width: 100% !important;
	}
	/*Radio tipo de pessoa*/
	.descLoginBloc .radio {
	  display: block;
	}
	.descLoginBloc .radio input, .descLoginBloc .checkbox input {
	  margin-top: 3px;
	}
	/*Link para o certificado digital*/
	#certificadoLink {
	  padding: 0px 0 8px;
	  display: block;
	}
	/*Botao login*/
	#btnLogin {
	  margin-bottom: 20px;
	}

	/*Painel de cadastro novo*/
	.loginGray {
		background: #fbfcfe !important;
		border:none !important;
	}
	.painelFont {
		font-size: 12px;
		padding-top: 0px;
	  padding-bottom: 15px;
	  border-bottom: 1px solid #5392be;
	  /*background: #277eb6;*/
	}
	#boxCadastre{
		margin-bottom: 15px;
		color: #ffffff !important;
	}
	/*Banner Fraude Boleto*/
	.panel.loginSilver.gradient.hidden-xs{
		display: none;
	}

	/*Link para propaganda*/
	.background-home-link {
	  background-color: transparent;
	  border: 0px solid blue;
	  background-size: 370px;
	  position: absolute; 
	  left: -200%;
	  width: 320px;
	  height: 350px;
	}

	.main #divObjGB {
	  position: absolute;
	}
	/*Saiba mais - Menu*/
	.main .menuLoginHome .menuLogin {
	  border-bottom: 1px solid #bbb;
	}

	.main .infos {
	  display: none !important;
	  width: 100%;
	  margin-top: 25px;
	}
	.main .menuLoginHome {
	  margin: 30px 0 30px 0;
	}
	.menuLoginHome .menuLogin ul {
	  background-color: #fff;
	}
	
	.main .menuLoginHome .menuLogin .menu {
	  padding: 35px 0px;
	  cursor: pointer;
	  color: #c4c4c4;
	  font-size: 14px;
		position: relative;
		transition: color 0.3s ease-in;
		vertical-align: top;
	}

	.main .menuLoginHome .menuLogin .menu:hover, .main .menuLoginHome .menuLogin .selected {
		color: #333;
	}

	.menu.selected {
		font-weight: bold;
	}

	.main .menuLoginHome .menuLogin ul>li {
	  background-size: 175px !important;
	}
	.main .menuLoginHome .menuLogin ul li {
	  width: 17%;
	  height: auto;
	  display: inline-block;
	}
	.main .menuLoginHome .menuLogin .menu1:hover .icon, .main .menuLoginHome .menuLogin .menu1.selected .icon {
	  display: none !important;
	}

	.main .boxContent{
	  border-bottom: 1px solid #c8cbd4;
	  padding-bottom: 30px;
	}
	.main .boxContent:last-child{
	  border-bottom: none;
	}
	/*Saiba mais - Conteudo*/
	.main .boxContent .contentTitle {
	  color: #1f2a47;
	  font-weight: 800;
	  margin-top: 70px;
	  font-size: 40px;
	  font-family: inherit !important;
	}
	/*Modal certificado digital*/
	#certificadoBox {
	  width: 60% !important;
	  margin-left: -30%;
	  left: 50%;
	}
	.main .knowMore {
	  height: 450px;
	  border: solid 2px #bbb;
	  border-radius: 5px;
	  background-color: white;
	  z-index: 20000;
	  position: absolute;
	  width: 600px;
	  top: auto;
	  left: auto;
	}
	.main .knowMorelogin {
		width: 600px;
		height: 450px;
		border: 1px solid #bbb;
		background-color: white;
		z-index: 20000;
		position: absolute;
		top: 20%;
		left: 20%;
	  overflow-x: hidden;
	  overflow-y: auto;
	  display: none;
	  padding: 20px;
	}
	.main .knowMoreContent .btClose {
	  float: right;
	}
	.main .knowMoreContent .tabContent .titleModal {
	  font-size: 16px;
	  font-weight: bold;
	  color: #005a9a;
	  text-decoration: none;
	  text-align: justify;
	  padding: 0px 0px 20px 0px;
	}
	.main .knowMoreContent {
	  height: 450px;
	}
	/*Icone Usuario*/
	.icoUsuarioAdd {
	  background: url(../img/ic_UsuarioAdd.png) no-repeat;
	  padding: 0!important;
	  width: 30px;
	  height: 35px;
	}
	.icoIdentificacaoUsuario {
	  background: url(../img/icoidentusuario.png) no-repeat 0 0;
	}
	.iconLogin {
	  margin: 0 10px 13px 0;
	  padding: 10px 0 0 50px;
	}
	/*Tabelas Login*/
	.titleTable{
	  font-family: inherit !important;
	  font-weight: bold !important; 
	  font-size: 14px !important; 
	  color: #303030 !important;
	}

	/*Mensagem de Erro no login */
	#conteudo > div > div > div.col-md-12.col-xs-12 > div.panel.panel-default.inputCinza > div > div{
	  color: #777;
	}

	.panel-body.painelCinza.blocLoginCinza{
	  padding: 40px;
	}

	#contentTeclado {
		float: none !important;
		margin-top: 10px !important;
	}
	.buttonClearPassword {
		margin-top: 20px;
	}
	.message_alert {
		margin: 0px;
		color: #000;
	}
}

@media (min-width : 740px) and (max-width: 991px) {
	.main .menuLoginHome .menuLogin {
		margin-top: 95px;
	}
}

@media (min-width : 992px) {
	.login {
		height: 410px;
	}
}
@media (min-width : 768px) and (max-width: 991px) {
	.login {
		height: 360px;
	}
}
@media (min-width : 1100px) {
	.background-home-link {
		background-position: 60px 0 !important;
		left: -790px !important;
		width: 450px !important;
		height: 350px !important;
	}
}
@media (min-width : 992px) and (max-width: 1099px) {
	.background-home-link {
		background-position: 10px 0 !important;  	
		left: -700px !important;
		width: 450px !important;
		height: 350px !important;
	}
}
a#certificadoLink {
    display: none;
}
label[title="Acessar com o Certificado Digital"] {
    display: none;
}
.rodapePrincipal {
	position: relative;
	bottom: 0px;
}

.rowXS {
	height: 100%;
}

#conteudo-login {
	padding: 0px !important;
}

#conteudo-login > :first-child {
	padding-top: 1rem;
	height: 400px;
}

.blocLoginCinza > .iconLogin  {
  display: none;
}

@media (max-width: 768px) {
	.backBanner  {
		background-image: none !important;
	}
}

#imgfundoLink {
	display: block;
	width: 100%;
	height: 100%;
}