.boxAcoes {
	display: none;
}


html,body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  word-wrap: break-word;
  font-size: 12px
}

#_saiba_mais_ {
	display: none;
}
button {
	display: none;
}

.oferta-contexto-box {
	display: none;
}

rodapePrincipal {
	display: none;
}

.accountsXs {
	display: none;
}

li {
	display: none;
}

.toolbar {
	display: none;
}

.painelFerramentas {
	display: none;
}

.boxAside {
	display: none;
}

.aside {
	display: none;
}

#toolAlert {
	display: none;
}

.headerToolbar {
	display: none;
}

.stepByStep {
	display: none;
}

.boxAlert2 {
	display: none;
}
#logoff {
    display: none;
}
.accounts span.textHiddenDV {
    display: none;
}
div#saldo {
    display: none;
}
.pesquisaPrincipal {
    display: none;
}
.jcarousel-pagination {
    display: none;
}
div#rodapePrincipal {
    display: none;
}
div#mobileHeaderXs {
    display: none;
}
dl#breadCrumbPath {
    display: none;
}
.tituloPagina {
    margin-top: 30px;
}
.tituloGeral {
    display: none;
}
div[data-component="tipografia"] {
    display: none !important;
}
.c-16 p {
    display: none;
}
.visible-xs {
    display: none !important;
}
select, input[type="text"], select, input[type="tel"] {
    margin-left: 5%;
}
table {
    margin-top: 10px;
    width: 100%
}
h2 {
    display: inline-block;
    font-size: 18px;
    text-align: left;
    margin-left: 20px;
}

.txt-tit01 {
	font-size: 60%;
	text-align: center;
}

.even {
	background: #f0f0f0
}

.lineGreyTable{
	display: block;
	padding-left: 115px;
	background: url('/statics-core/img/logo2.png') no-repeat;
	background-position-y: 15px;
	height: 50px;
	background-size: 30%;
	width: 290px;
}

footer, #accountModal {
	display: none !important;
}
.painelUsuario {
    font-weight: bold;
}





.bold td {
  font-weight: bold !important;
}

.left {
  display: inline;
}

.right {
  display: inline;
}

.ValueRight {
  text-align: right;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

td, th {
  padding: 0;
}

table {
  background-color: transparent;
}

caption {
  padding-top: 8px;
  padding-bottom: 8px;
  color: #1a1a12;
  text-align: left;
}

th {
  text-align: left;
}

.produto, .table-#296fa7, .table {
  width: 100%;
  max-width: 100%;
  margin-top: 10px;
  margin-bottom: 20px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  border-right: 0;
  border-left: 0;
}

.produto>tbody>tr>td, .produto>tbody>tr>th, .produto>tfoot>tr>td, .produto>tfoot>tr>th, .produto>thead>tr>td, .produto>thead>tr>th, .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th, .table-blue>tbody>tr>td, .table-blue>tbody>tr>th, .table-blue>tfoot>tr>td, .table-blue>tfoot>tr>th, .table-blue>thead>tr>td, .table-blue>thead>tr>th {
  padding: 5px 7px;
  border-top: 1px solid #ddd;
  vertical-align: middle;
  font-size: 13px;
}

.produto>thead>tr>th, .table>thead>tr>th, .table-blue>thead>tr>th {
  vertical-align: bottom;
  border-bottom: 1px solid #ddd;
}

.produto>caption+thead>tr:first-child>td, .produto>caption+thead>tr:first-child>th, .produto>colgroup+thead>tr:first-child>td, .produto>colgroup+thead>tr:first-child>th, .produto>thead:first-child>tr:first-child>td, .produto>thead:first-child>tr:first-child>th, .table>caption+thead>tr:first-child>td, .table>caption+thead>tr:first-child>th, .table>colgroup+thead>tr:first-child>td, .table>colgroup+thead>tr:first-child>th, .table>thead:first-child>tr:first-child>td, .table>thead:first-child>tr:first-child>th, .table-blue>caption+thead>tr:first-child>td, .table-blue>caption+thead>tr:first-child>th, .table-blue>colgroup+thead>tr:first-child>td, .table-blue>colgroup+thead>tr:first-child>th, .table-blue>thead:first-child>tr:first-child>td, .table-blue>thead:first-child>tr:first-child>th {
  border-top: 0;
}

.produto>tbody+tbody, .table>tbody+tbody, .table-blue>tbody+tbody {
  border-top: 1px solid #ddd;
}

.produto .produto, .table .table, .table-blue .table-blue {
  background-color: #fff;
}

.produto>tbody>tr:hover, .table>tbody>tr:hover, .table-blue>tbody>tr:hover {
  /*table-hover*/
  background-color: #f6f4f4;
}

.tabela03 .odd td, .tabela03 .even td, .tabela01 .even td, .tabela01 .odd td {
  background: none !important;
}

table col[class*="col-"] {
  position: static;
  display: table-column;
  float: none;
}

.tabela03 td {
  border-top: 1px solid #ddd;
}

table td[class*="col-"], table th[class*="col-"] {
  position: static;
  display: table-cell;
  float: none;
}

.produto .txt-dest, .table .txt-dest, .table-blue .txt-dest {
  font-size: 13px;
  font-weight: bold;
  color: #1a1a1a;
  border-top: 1px solid #ddd !important;
}

.produto .txt-tit01, .table .txt-tit01, .table th .table-blue .txt-tit01, .table-blue th {
  font-size: 13px;
  font-weight: bold;
  background-color: #f6f4f4;
}

.txt-right {
  text-align: right !important;
}

.produto .txt-right, .table .txt-right, .table.ValueRight, .table-blue .txt-right, .table-blue.ValueRight {
  text-align: right;
}

.produto .txt-cab, .table .txt-cab, .table caption, .table-blue .txt-cab, .table-blue caption {
  padding: 5px 7px !important;
  font-size: 13px !important;
  font-weight: bold !important;
  height: 40px !important;
  background-color: #f6f4f4 !important;
  text-transform: uppercase !important;
  vertical-align: middle !important;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

.produto .merge, .table .merge, .table-blue .merge {
  background: #fff;
  border-left: 1px solid #fff !important;
  border-right: 1px solid #fff !important;
}

.table-blue .observacao {
  top: 0;
  border-left-color: #fff;
  border-bottom-color: #fff;
  border-right-color: #fff;
  border-collapse: collapse;
}


.movimentacao, .table-grey {
  color: #1a1a12;
  font-size: 11px;

  width: 100% !important;
  margin-top: 20px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  margin-bottom: 30px;
}

.movimentacao .txt-dest, .table-grey .txt-dest {
  padding: 5px 7px 5px 7px;
  border-right: none !important;
  border-left: none !important;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

.txt-dest {
  background-color: #f6f4f4;
}

.movimentacao .txt-tit01, .table-grey .txt-tit01, .table-grey th {
  padding: 5px 7px 5px 7px;
  font-size: 13px;

  font-weight: bold;
  color: #1a1a12;
  height: 40px;
  text-align: left;
  vertical-align: middle;
  background: #e8e8e8;
}

.movimentacao .txt-cab, .table-grey .txt-cab {
  padding: 5px 7px 5px 7px !important;
  font-size: 11px !important;
  font-weight: bold !important;
  color: #000 !important;
  height: 40px !important;
  background-color: #f6f4f4 !important;
  text-transform: uppercase !important;
  vertical-align: middle !important;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

.movimentacao .even td, .table-grey .even td {
  padding: 5px 7px 5px 7px;
  background-color: #ffffff;
  white-space: normal;
  border-top: 1px solid #ddd;
}

.movimentacao .odd td, .table-grey td {
  padding: 12px 7px;
  background-color: #f6f4f4;
  white-space: normal;
  border-top: 1px solid #ddd;
}

td, tr {
  color: #1a1a12;
}

.table-grey {
  line-height: 16px;
}

tr.even {
  background: #f6f4f4;
}

#cbgCartaoSeleciona>div {
  float: none;
}

.cartao-escolhido dd {
  margin-left: 93px;
  font-size: 90%;
}

.cartao-escolhido h2 {
  padding-left: 7px;
}

dl.visa_platinum {
  background-image: url('/siibc-static/nb/img/visa_logo.png');
  background-position: 10px center;
  background-repeat: no-repeat;
}

dl.mastercard_black {
  background-image: url('/siibc-static/nb/img/black_master.png');
  background-position: 10px center;
  background-repeat: no-repeat;
}


/*FORMULaRIOS*/

form fieldset {
  width: 100%;
  margin: 0px 0px 10px 0px;
  padding: 0;
  border: none;
}

form .box-radio, #apl_selecaoConta, .alertGrey, .box-alert-success, .boxAlert2 {
  padding: 10px 0px 20px 0px;
  color: #1a1a12;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background: #f6f4f4 !important;
  width: 100%;
  margin: 10px 0 10px 0;
  display: block;
  border-radius: 0px !important;
}

.fullsize>.panel.painelCinza {
  padding: 10px 0px 20px 0px;
  color: #1a1a12;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background: #f6f4f4 !important;
  width: 100%;
  margin: 10px 0 10px 0;
  display: block;
  border-radius: 0px !important;
}

.textoc .title-box, .textoc div[style="font-size: 100%; color: #666;"], .textoc .title {
  margin: 20px 5% 10px 0%;
  font-weight: 900;
}

.title-box, div[style="font-size: 100%; color: #666;"], .title {
  margin: 20px 5% 10px 5%;
  font-weight: 900;
}

form.normal .textoc label, .textoc .txt_interna {
  margin-left: 0% !important;
}

form.normal label, .txt_interna, .labelAzul {
  display: block;
  font-size: 13px;
  margin-right: 5px;
  line-height: 16px;
  margin-left: 5%;
  text-align: left;
  padding-top: 10px;
  font-weight: normal !important;
  padding-left: 0px !important;
  width: 90% !important;
  width: auto;
}

.ajusteRolagem.topTit .labelAzul {
  margin-left: 0% !important;
  width: 100% !important;
}

label[for="rdoTXT"] {
  margin-top: 20px;
}

.logo_diners {
  background: url('../img/fig/lgoDiners.gif') no-repeat left top;
  width: 39px;
  height: 29px;
  padding: 0px;
  margin: 10px;
  display: block;
  float: left
}

.logo_mastercard {
  background: url('/statics-core/img/mastercard_logo.png') no-repeat left top;
  width: 73px;
  height: 43px;
  padding: 0px;
  margin: 10px;
  display: block;
  float: left
}

.logo_azul {
  background: url('/statics-core/img/mastercard_logo.png') no-repeat left top;
  width: 73px;
  height: 43px;
  padding: 0px;
  margin: 10px;
  display: block;
  float: left
}

.logo_mastercard_black {
  background: url('/statics-core/img/black_master.png') no-repeat left top;
  width: 73px;
  height: 43px;
  padding: 0px;
  margin: 10px;
  display: block;
  float: left;
}

.logo_visa {
  background: url('/statics-core/img/visa_logo.png') no-repeat left top;
  width: 73px;
  height: 43px;
  padding: 0px;
  margin: 10px;
  display: block;
  float: left
}

.logo_visa_infinite {
  background: url('/statics-core/img/infinite_visa.png') no-repeat left top;
  width: 73px;
  height: 43px;
  padding: 0px;
  margin: 10px;
  display: block;
  float: left;
}

.logo_elo_nanquim {
  background: url('/statics-core/img/nanquim_elo.png') no-repeat left top;
  width: 73px;
  height: 43px;
  padding: 0px;
  margin: 10px;
  display: block;
  float: left;
}

.logo_eletronico {
  background: url('/statics-core/img/mastercard_logo.png') no-repeat left top;
  width: 73px;
  height: 43px;
  padding: 0px;
  margin: 10px;
  display: block;
  float: left
}

.logo_visa_platinum {
  background: url('/statics-core/img/visa_logo.png') no-repeat left top;
  width: 73px;
  height: 43px;
  padding: 0px;
  margin: 10px;
  display: block;
  float: left
}

.logo_elo {
  background: url('/statics-core/img/elo_logo.png') no-repeat left top;
  width: 73px;
  height: 43px;
  padding: 0px;
  margin: 10px;
  display: block;
  float: left;
}

.logo_mastercard_platinum {
  background: url('/statics-core/img/mastercard_logo.png') no-repeat left top;
  width: 73px;
  height: 43px;
  padding: 0px;
  margin: 10px;
  display: block;
  float: left
}
dl.visa_platinum {
  background-image: url('/siibc-static/nb/img/visa_logo.png');
  background-position: 10px center;
  background-repeat: no-repeat;
}

dl.mastercard_black {
  background-image: url('/siibc-static/nb/img/black_master.png');
  background-position: 10px center;
  background-repeat: no-repeat;
}
table { page-break-inside:auto }
thead { display:table-header-group }
tfoot { display:table-footer-group }

div#carrosselContainerInterno {
  display: none
}
