.x-button-dual button:hover:not(:disabled), .x-button-dual button:focus:not(:disabled), .x-button-dual button:active:not(:disabled), .x-button-dual button[active]:not(:disabled), .x-button-secondary-invert:hover:not(:disabled), .x-button-secondary-invert:focus:not(:disabled), .x-button-secondary-invert:active:not(:disabled), .x-input-button button, .x-button-secondary, .x-view > header {
  background-color: var(--color-primary) !important;
}

.x-input-button button:hover:not(:disabled), .x-button-secondary:hover:not(:disabled), .x-input-button button:focus:not(:disabled), .x-button-secondary:focus:not(:disabled), .x-input-button button:active:not(:disabled), .x-button-secondary:active:not(:disabled) {
  background-color: var(--color-primary-dark) !important;
}

.x-filter [filter-item][active], [active].x-switch .x-switch__wrapper:before, .x-button-primary-invert:hover:not(:disabled), .x-button-primary-invert:focus:not(:disabled), .x-button-primary-invert:active:not(:disabled), .x-button-primary {
  background-color: var(--color-secondary) !important;
}

.x-button-primary:hover:not(:disabled), .x-button-primary:focus:not(:disabled), .x-button-primary:active:not(:disabled) {
  background-color: var(--color-secondary) !important;
}

.x-input-search, .x-tabs nav, .x-chart-circle-percentage:before, .x-card-comprovante, .x-items-download button, .x-switch .x-switch__wrapper:before, .x-card, .x-button-detalhes, .x-button-white, .x-view > [footer] {
  background-color: var(--color-white) !important;
}

.x-chart-circle:before, .x-filter [filter-item]:hover:not(:disabled, [active]), .x-filter [filter-item]:focus:not(:disabled, [active]), .x-filter [filter-item]:active:not(:disabled, [active]), .x-button-square-group button:hover:not(:disabled), .x-button-square-group button:focus:not(:disabled), .x-button-square-group button:active:not(:disabled), .x-message-success, .x-input-label input, .x-input-button input, .x-input, .x-view {
  background-color: var(--color-grey-light) !important;
}

.x-card [icon-background], .x-icon-background {
  background-color: var(--color-grey-light-1) !important;
}

.x-switch .x-switch__wrapper {
  background-color: var(--color-grey-medium-1) !important;
}

.x-tabs nav li[active] button, .x-dl-groups header, .x-button-dual button, .x-button-dual, .x-button-secondary-invert:hover:not(:disabled), .x-button-secondary-invert:focus:not(:disabled), .x-button-secondary-invert:active:not(:disabled), .x-button-secondary-invert, .x-input-button button, .x-button-secondary {
  border-color: var(--color-primary) !important;
}

.x-input-search:focus-within, .x-input-label input:hover, .x-input-button input:hover, .x-input:hover, .x-input-label input:focus, .x-input-button input:focus, .x-input:focus, .x-input-label input:active, .x-input-button input:active, .x-input:active {
  border-color: var(--color-primary-light) !important;
}

.x-input-button button:hover:not(:disabled), .x-button-secondary:hover:not(:disabled), .x-input-button button:focus:not(:disabled), .x-button-secondary:focus:not(:disabled), .x-input-button button:active:not(:disabled), .x-button-secondary:active:not(:disabled) {
  border-color: var(--color-primary-dark) !important;
}

.x-filter [filter-item][active], .x-switch .x-switch__wrapper:before, [active].x-switch .x-switch__wrapper:before, .selectable[active].x-card, .x-button-primary-invert:hover:not(:disabled), .x-button-primary-invert:focus:not(:disabled), .x-button-primary-invert:active:not(:disabled), .x-button-primary-invert, .x-button-primary {
  border-color: var(--color-secondary) !important;
}

.x-button-primary:hover:not(:disabled), .x-button-primary:focus:not(:disabled), .x-button-primary:active:not(:disabled) {
  border-color: var(--color-secondary) !important;
}

.x-input-label input[error], .x-input-button input[error], [error].x-input {
  border-color: var(--color-danger) !important;
}

.x-card {
  border-color: var(--color-white) !important;
}

.x-input-label input, .x-input-button input, .x-input {
  border-color: var(--color-grey-light) !important;
}

.x-tabs nav, .x-filter [filter-item], .x-questions > button, .x-button-square-group button:disabled, .x-card-comprovante [data] [dados], .x-accordion-card [accordion-content], .x-title-border, .x-button-white {
  border-color: var(--color-grey-medium) !important;
}

.x-input-search {
  border-color: var(--color-grey) !important;
}

.x-button-square-group button {
  border-color: var(--color-grey-darkless) !important;
}

.x-input-search, .x-button-square-group button, .x-items-download button, .x-accordion-card, .x-card, .x-button-detalhes, .x-info-accordion > button, .x-button-info, .x-button-secondary-invert, .x-input-button button, .x-button-secondary, .x-button-primary-invert, .x-button-primary, .x-button-white, .x-input-label input, .x-input-button input, .x-input {
  border-radius: var(--radius-medium) !important;
}

.x-card-comprovante {
  border-radius: var(--radius-large) !important;
}

.x-tabs nav li[active] button, .x-steps-balls span.active, .x-message-success, .x-card-comprovante [dados], .x-items-download button:after, .x-button-dual button, .x-accordion-card [accordion-button]:after, .x-accordion [accordion-button]:after, .x-filter [filter-header-title], .x-dl-groups header, .x-title-border, .x-title, .x-button-secondary-invert, .x-button-detalhes {
  color: var(--color-primary) !important;
}

.x-button-link, .x-input-search input, .x-input-search:focus-within:after, .x-help, .x-input-label input, .x-input-button input, .x-input {
  color: var(--color-primary-light) !important;
}

.x-filter [filter-header-value], .x-questions > button[active]:before, [active].x-radio-label-invert:before, [active].x-radio-label:before, [active].x-radio:before, .x-card [active][radio]:before, .x-message-success:before, .x-button-primary-invert {
  color: var(--color-secondary) !important;
}

.x-message-info:before {
  color: var(--color-info) !important;
}

.x-message-warning:before {
  color: var(--color-warning) !important;
}

.x-input-error, .x-error {
  color: var(--color-danger) !important;
}

.x-filter [filter-item][active], .x-button-dual button:hover:not(:disabled), .x-button-dual button:focus:not(:disabled), .x-button-dual button:active:not(:disabled), .x-button-dual button[active]:not(:disabled), .x-button-secondary-invert:hover:not(:disabled), .x-button-secondary-invert:focus:not(:disabled), .x-button-secondary-invert:active:not(:disabled), .x-input-button button, .x-button-secondary, .x-button-primary-invert:hover:not(:disabled), .x-button-primary-invert:focus:not(:disabled), .x-button-primary-invert:active:not(:disabled), .x-button-primary, .x-view > header {
  color: var(--color-white) !important;
}

.x-filter [filter-item], .x-steps-balls span, .x-button-square-group button:disabled {
  color: var(--color-grey-medium) !important;
}

.x-card [icon-background], .x-icon-background {
  color: var(--color-grey-medium-1) !important;
}

.x-input-search:after {
  color: var(--color-grey) !important;
}

.x-button-square-group button, .x-button-detalhes span, .x-button-white {
  color: var(--color-grey-dark) !important;
}

.x-button-square-group button i {
  color: var(--color-grey-darkless) !important;
}

:root {
  --container-tiny-radius: calc(
    var(--rounded-containers) *
      (
        (var(--progressive-rounded-containers) * var(--radius-tiny)) +
          (var(--progressive-rounded-containers) - 1) *
          var(--radius-medium) *
          (-1)
      )
  );
  --container-tiny-font-size: calc(
    var(--progressive-font-size-containers) *
      var(--font-size-tiny) +
      (var(--progressive-font-size-containers) - 1) *
      (-1) *
      var(--font-size-medium)
  );
}

:root {
  --container-xsmall-radius: calc(
    var(--rounded-containers) *
      (
        (var(--progressive-rounded-containers) * var(--radius-xsmall)) +
          (var(--progressive-rounded-containers) - 1) *
          var(--radius-medium) *
          (-1)
      )
  );
  --container-xsmall-font-size: calc(
    var(--progressive-font-size-containers) *
      var(--font-size-xsmall) +
      (var(--progressive-font-size-containers) - 1) *
      (-1) *
      var(--font-size-medium)
  );
}

:root {
  --container-small-radius: calc(
    var(--rounded-containers) *
      (
        (var(--progressive-rounded-containers) * var(--radius-small)) +
          (var(--progressive-rounded-containers) - 1) *
          var(--radius-medium) *
          (-1)
      )
  );
  --container-small-font-size: calc(
    var(--progressive-font-size-containers) *
      var(--font-size-small) +
      (var(--progressive-font-size-containers) - 1) *
      (-1) *
      var(--font-size-medium)
  );
}

:root {
  --container-medium-radius: calc(
    var(--rounded-containers) *
      (
        (var(--progressive-rounded-containers) * var(--radius-medium)) +
          (var(--progressive-rounded-containers) - 1) *
          var(--radius-medium) *
          (-1)
      )
  );
  --container-medium-font-size: calc(
    var(--progressive-font-size-containers) *
      var(--font-size-medium) +
      (var(--progressive-font-size-containers) - 1) *
      (-1) *
      var(--font-size-medium)
  );
}

.x-input-search input, .x-input-search:after, .x-filter, .x-message-success, .x-info-accordion > [content], .x-items-download button, .x-button-dual button, .x-accordion-card [accordion-content], .x-accordion [accordion-content], .x-card, .x-button-detalhes, .x-input-label input, .x-input-button input, .x-input, .x-view > [footer], .x-view > main > [footer], .x-view > header, .x-card-comprovante {
  border-radius: var(--container-medium-radius);
  font-size: var(--container-medium-font-size);
}

:root {
  --container-large-radius: calc(
    var(--rounded-containers) *
      (
        (var(--progressive-rounded-containers) * var(--radius-large)) +
          (var(--progressive-rounded-containers) - 1) *
          var(--radius-medium) *
          (-1)
      )
  );
  --container-large-font-size: calc(
    var(--progressive-font-size-containers) *
      var(--font-size-large) +
      (var(--progressive-font-size-containers) - 1) *
      (-1) *
      var(--font-size-medium)
  );
}

.x-info-accordion > button, .x-button-info, .x-button-secondary-invert, .x-input-button button, .x-button-secondary, .x-button-primary-invert, .x-button-primary, .x-button-white {
  border-radius: var(--container-large-radius);
  font-size: var(--container-large-font-size);
}

:root {
  --container-xlarge-radius: calc(
    var(--rounded-containers) *
      (
        (var(--progressive-rounded-containers) * var(--radius-xlarge)) +
          (var(--progressive-rounded-containers) - 1) *
          var(--radius-medium) *
          (-1)
      )
  );
  --container-xlarge-font-size: calc(
    var(--progressive-font-size-containers) *
      var(--font-size-xlarge) +
      (var(--progressive-font-size-containers) - 1) *
      (-1) *
      var(--font-size-medium)
  );
}

:root {
  --container-big-radius: calc(
    var(--rounded-containers) *
      (
        (var(--progressive-rounded-containers) * var(--radius-big)) +
          (var(--progressive-rounded-containers) - 1) *
          var(--radius-medium) *
          (-1)
      )
  );
  --container-big-font-size: calc(
    var(--progressive-font-size-containers) *
      var(--font-size-big) +
      (var(--progressive-font-size-containers) - 1) *
      (-1) *
      var(--font-size-medium)
  );
}

:root {
  --container-jumbo-radius: calc(
    var(--rounded-containers) *
      (
        (var(--progressive-rounded-containers) * var(--radius-jumbo)) +
          (var(--progressive-rounded-containers) - 1) *
          var(--radius-medium) *
          (-1)
      )
  );
  --container-jumbo-font-size: calc(
    var(--progressive-font-size-containers) *
      var(--font-size-jumbo) +
      (var(--progressive-font-size-containers) - 1) *
      (-1) *
      var(--font-size-medium)
  );
}

.x-ul li:before, .x-chart-circle-percentage [percentage] {
  font-size: var(--font-size-tiny) !important;
}

.x-steps-balls span {
  font-size: var(--font-size-xsmall) !important;
}

.x-progress-bar [data], .x-input-error, .x-button-square-group button, .x-help {
  font-size: var(--font-size-small) !important;
}

.x-info-accordion > button, .x-button-info, .x-button-secondary-invert, .x-input-button button, .x-button-secondary, .x-button-primary-invert, .x-button-primary, .x-button-white, .x-input-label input, .x-input-button input, .x-input {
  font-size: var(--font-size-medium) !important;
}

.x-filter [filter-item], .x-button-square-group button i, .x-message-success:before, .x-items-download button:after, .x-message-warning:before, .x-message-info:before, .x-info-accordion > button:before, .x-button-info:before, .x-accordion-card [accordion-button]:after, .x-accordion [accordion-button]:after, .x-card [icon-background], .x-icon-background {
  font-size: var(--font-size-large) !important;
}

.x-help:before {
  font-size: var(--font-size-xlarge) !important;
}

.x-dl-inline, .x-dl-table {
  column-gap: var(--size-vertical-xsmall) !important;
}

.x-dl-table {
  row-gap: var(--size-horizontal-medium) !important;
}

.x-dl-inline {
  row-gap: var(--size-horizontal-xlarge) !important;
}

.x-button-link {
  padding-top: var(--size-vertical-small) !important;
}

.x-button-square-group button, .x-accordion-card [accordion-button], .x-accordion [accordion-button], .x-questions > button, .x-input-search input, .x-input-search:after, .x-filter, .x-message-success, .x-info-accordion > [content], .x-items-download button, .x-button-dual button, .x-accordion-card [accordion-content], .x-accordion [accordion-content], .x-card, .x-button-detalhes, .x-input-label input, .x-input-button input, .x-input, .x-view > [footer], .x-view > main > [footer], .x-view > header, .x-card-comprovante {
  padding-top: var(--size-vertical-medium) !important;
}

.x-input-search input, .x-card-comprovante, .x-items-download button, .x-button-detalhes, .x-info-accordion > button, .x-button-info, .x-button-secondary-invert, .x-input-button button, .x-button-secondary, .x-button-primary-invert, .x-button-primary, .x-button-white {
  padding-top: var(--size-vertical-large) !important;
}

.x-tabs nav li button {
  padding-top: var(--size-vertical-xlarge) !important;
}

.x-button-square-group button {
  padding-right: var(--size-horizontal-xsmall) !important;
}

.x-input-search input, .x-input-search:after, .x-filter, .x-message-success, .x-info-accordion > [content], .x-items-download button, .x-button-dual button, .x-accordion-card [accordion-content], .x-accordion [accordion-content], .x-card, .x-button-detalhes, .x-input-label input, .x-input-button input, .x-input, .x-view > [footer], .x-view > main > [footer], .x-view > header, .x-card-comprovante {
  padding-right: var(--size-horizontal-medium) !important;
}

.x-items-download button, .x-accordion-card [accordion-button], .x-accordion [accordion-button], .x-button-detalhes, .x-tabs nav li button, .x-info-accordion > button, .x-button-info, .x-button-secondary-invert, .x-input-button button, .x-button-secondary, .x-button-primary-invert, .x-button-primary, .x-button-white {
  padding-right: var(--size-horizontal-large) !important;
}

.x-title-border {
  padding-bottom: var(--size-vertical-xsmall) !important;
}

.x-tabs nav li button, .x-button-square-group button i, .x-dl-groups header, .x-button-link {
  padding-bottom: var(--size-vertical-small) !important;
}

.x-button-square-group button, .x-accordion-card [accordion-button], .x-accordion [accordion-button], .x-questions > button, .x-input-search input, .x-input-search:after, .x-filter, .x-message-success, .x-info-accordion > [content], .x-items-download button, .x-button-dual button, .x-accordion-card [accordion-content], .x-accordion [accordion-content], .x-card, .x-button-detalhes, .x-input-label input, .x-input-button input, .x-input, .x-view > [footer], .x-view > main > [footer], .x-view > header, .x-card-comprovante {
  padding-bottom: var(--size-vertical-medium) !important;
}

.x-input-search input, .x-card-comprovante, .x-items-download button, .x-button-detalhes, .x-info-accordion > button, .x-button-info, .x-button-secondary-invert, .x-input-button button, .x-button-secondary, .x-button-primary-invert, .x-button-primary, .x-button-white {
  padding-bottom: var(--size-vertical-large) !important;
}

.x-button-square-group button {
  padding-left: var(--size-horizontal-xsmall) !important;
}

.x-card-comprovante [data] [dados], .x-info-accordion > button:after, .x-button-info:after, .x-button-icon-right {
  padding-left: var(--size-horizontal-small) !important;
}

.x-accordion-card [accordion-button], .x-accordion [accordion-button], .x-input-search input, .x-input-search:after, .x-filter, .x-message-success, .x-info-accordion > [content], .x-items-download button, .x-button-dual button, .x-accordion-card [accordion-content], .x-accordion [accordion-content], .x-card, .x-button-detalhes, .x-input-label input, .x-input-button input, .x-input, .x-view > [footer], .x-view > main > [footer], .x-view > header, .x-card-comprovante {
  padding-left: var(--size-horizontal-medium) !important;
}

.x-items-download button:hover, .x-items-download button:focus, .x-items-download button:active, .x-tabs nav li button, .x-info-accordion > button, .x-button-info, .x-button-secondary-invert, .x-input-button button, .x-button-secondary, .x-button-primary-invert, .x-button-primary, .x-button-white {
  padding-left: var(--size-horizontal-large) !important;
}

.x-items-download button {
  padding-left: var(--size-horizontal-xlarge) !important;
}

.x-dl-table h6 + *, .x-dl-groups dl dd, .x-dl dd {
  margin-top: var(--size-vertical-xsmall) !important;
}

.x-ul li:before, .x-input-error {
  margin-top: var(--size-vertical-small) !important;
}

.x-dl-groups dl dt:not(:first-child), .x-dl dt:not(:first-child) {
  margin-top: var(--size-vertical-large) !important;
}

.x-dl-groups header:not(:first-child) {
  margin-top: var(--size-vertical-xlarge) !important;
}

.x-message-success:before, .x-help:before, .x-card [radio] {
  margin-right: var(--size-horizontal-small) !important;
}

.x-ul li:before, .x-message-warning:before, .x-message-info:before, .x-info-accordion > button:before, .x-button-info:before, .x-accordion-card [accordion-content] {
  margin-right: var(--size-horizontal-medium) !important;
}

.x-button-detalhes span {
  margin-right: var(--size-horizontal-xlarge) !important;
}

.x-progress-bar [data], .x-card-comprovante [titulo], .x-input-label label {
  margin-bottom: var(--size-vertical-xsmall) !important;
}

.x-filter [filter-header], .x-dl-groups header {
  margin-bottom: var(--size-vertical-medium) !important;
}

.x-progress-bar [data] [status], .x-button-link i, .x-input-button button {
  margin-left: var(--size-horizontal-small) !important;
}

.x-input-search:after, .x-questions > button:before, .x-radio-label-invert:before, .x-radio-label:before, .x-radio:before, .x-card [radio]:before, .x-items-download button:after, .x-switch .x-switch__wrapper, .x-accordion-card [accordion-content] {
  margin-left: var(--size-horizontal-medium) !important;
}

.x-button-detalhes span {
  margin-left: var(--size-horizontal-xlarge) !important;
}

.x-card-comprovante, .x-card:hover, .x-card:active, .x-card:focus, .x-button-white {
  box-shadow: var(--shadow-small) !important;
}

.x-accordion-card, .x-card {
  box-shadow: var(--shadow-medium) !important;
}

.x-items-download > * + * {
  margin-top: var(--size-vertical-small);
}

.x-ul > * + *, .x-button-group > * + * {
  margin-top: var(--size-vertical-medium);
}

.x-button-square-group > * + * {
  margin-left: var(--size-horizontal-small);
}

.x-filter [filter-item], .x-button-square-group button, .x-items-download button, .x-button-dual button, .x-card, .x-info-accordion > button, .x-button-info, .x-button-secondary-invert, .x-input-button button, .x-button-secondary, .x-button-primary-invert, .x-button-primary, .x-button-white, .x-input-label input, .x-input-button input, .x-input {
  transition-duration: var(--transition-fast);
  transition-timing-function: var(default-transition-timing-function);
}

.x-progress-bar [bar], .x-switch .x-switch__wrapper {
  transition-duration: var(--transition-normal);
  transition-timing-function: var(default-transition-timing-function);
}

.x-progress-bar [data] [title], .x-button-link, .x-input-search input, .x-tabs nav li[active] button, .x-chart-circle-percentage [percentage], .x-filter [filter-header-value], .x-dl-table h6 + *, .x-message-success, .x-dl-groups dl dd, .x-dl dd, .x-input-label label, .x-filter [filter-header-title], .x-dl-groups header, .x-title-border, .x-title, .x-info-accordion > button, .x-button-info, .x-button-secondary-invert, .x-input-button button, .x-button-secondary, .x-button-primary-invert, .x-button-primary, .x-button-white, .x-input-label input, .x-input-button input, .x-input, .x-view > header {
  font-weight: 700;
}

.x-items-download button {
  transition-timing-function: ease-out;
}

.x-view {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.x-view > main {
  overflow: auto;
  flex: 1;
  display: flex;
  flex-direction: column;
}
.x-view > main > * {
  flex-shrink: 0;
}
.x-view > main > [footer] {
  margin-top: auto !important;
}
.x-view > [footer] {
  box-shadow: -1px 0 4px rgba(0, 0, 0, 0.25);
  z-index: 1;
}

.x-info-accordion > button:after, .x-button-info:after, .x-button-icon-right {
  margin-left: auto;
}

.x-input-label input, .x-input-button input, .x-input {
  border: 1px solid;
  display: block;
  width: 100%;
}
.x-input-button input {
  width: unset !important;
  display: inline-block !important;
}

.x-info-accordion > button, .x-button-info, .x-button-secondary-invert, .x-input-button button, .x-button-secondary, .x-button-primary-invert, .x-button-primary, .x-button-white {
  border: 1px solid;
  width: 100%;
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
}
.x-info-accordion > button:disabled, .x-button-info:disabled, .x-button-secondary-invert:disabled, .x-input-button button:disabled, .x-button-secondary:disabled, .x-button-primary-invert:disabled, .x-button-primary:disabled, .x-button-white:disabled {
  opacity: 0.5;
}

.x-input-button button {
  width: unset !important;
  display: inline-flex !important;
}

.x-button-white:hover:not(:disabled), .x-button-white:focus:not(:disabled), .x-button-white:active:not(:disabled) {
  box-shadow: none !important;
}

.x-button-detalhes {
  display: flex;
  align-items: center;
  width: 100%;
}
.x-button-primary-invert {
  background: transparent;
}
.x-button-secondary-invert {
  background: transparent;
}
.x-card [icon-background], .x-icon-background {
  display: inline-block;
  padding: 48px 48px 12px 12px;
  border-radius: 50%;
  position: absolute;
  top: -40px;
  right: -40px;
}

.x-card {
  border: 1px solid;
  position: relative;
  overflow: hidden;
}
.selectable.x-card {
  display: flex;
  align-items: center;
}
.x-title-border {
  border-bottom: 1px solid;
}

.x-input-button {
  display: flex;
  flex-wrap: nowrap;
}
.x-input-button input {
  width: 100% !important;
  flex: 1;
}
.x-ul li:before, .x-input-search:after, .x-steps-balls span:before, .x-questions > button:before, .x-radio-label-invert:before, .x-radio-label:before, .x-radio:before, .x-card [radio]:before, .x-message-success:before, .x-items-download button:after, .x-help:before, .x-message-warning:before, .x-message-info:before, .x-info-accordion > button:after, .x-button-info:after, .x-info-accordion > button:before, .x-button-info:before, .x-accordion-card [accordion-button]:after, .x-accordion [accordion-button]:after {
  content: "";
  font-family: "Font Awesome";
  font-weight: 900;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: var(--fa-display, inline-block);
  font-style: normal;
  font-feature-settings: normal;
  font-variant: normal;
  line-height: 1;
  text-rendering: auto;
}

.x-accordion-card [accordion-button], .x-accordion [accordion-button] {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.x-accordion-card [accordion-button]:after, .x-accordion [accordion-button]:after {
  content: "\f107";
}
.x-accordion-card [accordion-button]:disabled, .x-accordion [accordion-button]:disabled {
  opacity: 0.5;
}
.x-accordion-card [accordion-content], .x-accordion [accordion-content] {
  display: none;
}
[active].x-accordion-card [accordion-button]:after, [active].x-accordion [accordion-button]:after {
  content: "\f106";
}
[active].x-accordion-card [accordion-content], [active].x-accordion [accordion-content] {
  display: block;
}

.x-accordion-card [accordion-content] {
  padding: var(--size-vertical-medium) 0 !important;
  border-top: 1px solid;
}

.x-input-label label {
  display: block;
}
.x-info-accordion > button, .x-button-info {
  font-weight: 400 !important;
  border: 0 !important;
  text-align: left;
}
.x-info-accordion > button:before, .x-button-info:before {
  content: "\f05a";
}
.x-info-accordion > button:after, .x-button-info:after {
  content: "\f105";
}

.x-button-left {
  justify-content: flex-start;
  text-align: left;
}

.x-switch {
  display: inline-flex;
  align-items: center;
}
[active].x-switch .x-switch__wrapper:before {
  left: calc(100% - var(--size-xlarge) + var(--size-xsmall));
}
.x-switch .x-switch__wrapper {
  position: relative;
  width: calc(var(--size-jumbo) + var(--size-medium));
  height: var(--size-xsmall);
  border-radius: var(--size-medium);
}
.x-switch .x-switch__wrapper:before {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  content: "";
  width: calc(var(--size-xlarge) + var(--size-tiny));
  height: calc(var(--size-xlarge) + var(--size-tiny));
  border-radius: 50%;
  border: 1px solid;
  transition: left var(--transition-normal);
}

.x-message-info {
  display: flex;
  align-items: center;
}
.x-message-info:before {
  content: "\f05a";
}

.x-message-warning {
  display: flex;
  align-items: center;
}
.x-message-warning:before {
  content: "\f071";
}

.x-button-dual {
  display: flex;
  flex-wrap: nowrap;
}
.x-button-dual button {
  border: 1px solid;
  flex: 1;
}
.x-button-dual button:first-child {
  border-radius: var(--radius-medium) 0 0 var(--radius-medium);
}
.x-button-dual button:last-child {
  border-radius: 0 var(--radius-medium) var(--radius-medium) 0;
  border-left: 0;
}
.x-button-dual button:disabled {
  opacity: 0.5;
}
.x-help {
  display: inline-flex;
  align-items: center;
}
.x-help:before {
  content: "\f059";
}

.x-items-download button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: left;
}
.x-items-download button:after {
  content: "\f105";
}
.x-dl-groups header {
  border-bottom: 1px solid;
}
[active].x-info-accordion > [content] {
  display: block;
}
[active].x-info-accordion > button:after {
  content: "\f106";
}
.x-info-accordion > button:after {
  content: "\f107";
}
.x-info-accordion > [content] {
  display: none;
}

.x-card-comprovante {
  width: 100%;
  display: flex;
}
.x-card-comprovante [valor],
.x-card-comprovante [data] {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.x-card-comprovante [valor] {
  flex: 1;
}
.x-card-comprovante [data] [dados] {
  border-left: 1px solid;
}
.x-card-comprovante [dados] {
  margin-top: auto;
  margin-bottom: auto;
}

.x-message-success {
  display: flex;
}
.x-message-success:before {
  content: "\f058";
}

.x-button-square-group {
  min-height: 96px;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  flex-wrap: nowrap;
}
.x-button-square-group button {
  word-break: break-word;
  border: 1px solid;
  flex: 1;
  flex-shrink: 0;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.x-button-square-group button span {
  margin: auto 0;
}

.x-questions > button, .x-radio-label-invert, .x-radio-label, .x-radio, .x-card [radio] {
  text-align: left;
}
.x-questions > button:before, .x-radio-label-invert:before, .x-radio-label:before, .x-radio:before, .x-card [radio]:before {
  font-weight: 400;
  content: "\f111";
}
.x-questions > button[active]:before, [active].x-radio-label-invert:before, [active].x-radio-label:before, [active].x-radio:before, .x-card [active][radio]:before {
  content: "\f192";
}

.x-questions > button, .x-radio-label-invert, .x-radio-label {
  display: flex;
  align-items: center;
}

.x-questions > button, .x-radio-label-invert {
  flex-direction: row-reverse;
  justify-content: space-between;
}

.x-questions > button {
  width: 100%;
}
.x-questions > button + button {
  border-top: 1px solid;
}

.x-steps-balls {
  display: flex;
  justify-content: space-between;
}
.x-steps-balls span:before {
  content: "\f111";
}
.x-dl-table {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.x-dl-table h6 + * {
  display: block;
}

.x-filter [filter-header] {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.x-filter [filter-items] {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.x-filter [filter-item] {
  width: var(--size-jumbo);
  height: var(--size-jumbo);
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 1px solid;
}
.x-filter [filter-item]:disabled {
  opacity: 0.5;
}
.x-chart-circle {
  border-radius: 50%;
  position: relative;
}
.x-chart-circle:before {
  content: "";
  display: block;
  position: absolute;
  top: 9%;
  bottom: 9%;
  left: 9%;
  right: 9%;
  border-radius: 50%;
}
.x-chart-circle [content] {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.x-chart-circle-percentage {
  height: 56px;
  width: 56px;
  border-radius: 50%;
  position: relative;
}
.x-chart-circle-percentage:before {
  content: "";
  display: block;
  position: absolute;
  top: 12%;
  bottom: 12%;
  left: 12%;
  right: 12%;
  border-radius: 50%;
}
.x-chart-circle-percentage [percentage] {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.x-tabs nav {
  position: sticky;
  top: 0;
  border-bottom: 1px solid;
  z-index: 1;
}
.x-tabs nav ul {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.x-tabs nav li {
  flex: 1;
}
.x-tabs nav li button {
  margin-bottom: -1px;
  width: 100%;
  height: 100% !important;
  text-align: center;
  border-bottom: 3px solid transparent;
}
.x-tabs [tab] {
  display: none;
}
.x-tabs [tab][active] {
  display: block;
}

.x-input-search {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid;
}
.x-input-search:after {
  content: "\f002";
}
.x-input-search input {
  flex: 1;
  border: 0;
  height: 100%;
}

.x-dl-inline {
  display: grid;
  grid-template-columns: auto auto;
}
.x-dl-inline dd {
  text-align: right;
}

.x-button-link {
  display: inline-flex;
  align-items: center;
}
.x-ul li {
  display: flex;
  align-items: flex-start;
}
.x-ul li:before {
  content: "\f111";
}

.x-progress-bar [data] {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.x-progress-bar [bar] {
  height: 5px;
  width: 100%;
  border-radius: 4px;
  background: linear-gradient(90deg, var(--color-primary) 10%, var(--color-primary-bg) 10%);
}

.x-flex-default, .x-flex {
  display: flex;
}

.x-flex-default, .x-align-items-center {
  align-items: center;
}

.x-flex-default, .x-space-between {
  justify-content: space-between;
}

/*# sourceMappingURL=ds-components.css.map */
