@font-face {
  font-family: "futura";
  font-weight: normal;
  letter-spacing: 2px;
  src: url("/statics-core/fonts/futuraBook/futuraBook.eot");
  src: url("/statics-core/fonts/futuraBook/futuraBook.eot?#iefix")
      format("embedded-opentype"),
    url("/statics-core/fonts/futuraBook/futuraBook.woff") format("woff"),
    url("/statics-core/fonts/futuraBook/futuraBook.ttf") format("truetype"),
    url("/statics-core/fonts/futuraBook/futuraBook.svg") format("svg");
}

@font-face {
  font-family: "futura";
  font-weight: bold;
  src: url("/statics-core/fonts/futuraBold/futuraBold.eot");
  src: url("/statics-core/fonts/futuraBold/futuraBold.eot?#iefix")
      format("embedded-opentype"),
    url("/statics-core/fonts/futuraBold/futuraBold.woff") format("woff"),
    url("/statics-core/fonts/futuraBold/futuraBold.ttf") format("truetype"),
    url("/statics-core/fonts/futuraBold/futuraBold.svg") format("svg");
}
